{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
    <script>
    $("#añadir_modal").hover(function() {
        $(this).find("#img_1").addClass("oculto");
        $(this).find("#img_2").removeClass("oculto");

    }, function() {
        $(this).find("#img_2").addClass("oculto");
        $(this).find("#img_1").removeClass("oculto");    }
    );

    $("#asignar_horario_grupo_dialog").dialog(
       {
        bgiframe: true,
        autoOpen: false,
        height: 600,
        width: 1000,
        modal: true,
        resizable: false,
       }
    );
    $('#asignar_horario_grupo_dialog').on('dialogclose', function(event) {
        $('#asignar_horario_grupo_dialog').empty();
    });
    //Se activa el primer curso por defecto.
    $("#asignar_horario_grupos #contenedor_registro[idcurso='1']").removeClass('oculto');
    $("#asignar_horario_grupos button[id='1']").addClass('elected');

    /*Comprobaciones de existencia de datos */
    
    //Comprobacón de existencia de cursos.
    if($("#asignar_horario_grupos .contenido_lista button").size()==0){

        // Se establece las variables con los audios para las notificaciones.
        if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
        }
        else{
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
        }
        error.play();
          swal({
            title: "Cursos no registrados",
            text: 'Actualmente no existe ningún curso registrado en el sistema. Debe registrar los cursos para poder asignarles los profesores.',
            type: "error",
            confirmButtonColor: color
          });          
        $("#tabs ul li[aria-selected='true'] span").trigger("click");
    }
    

    //Comprobacón de existencia de asignaturas asignadas a los cursos.
    if({{numAsignaturasCursos|json_encode()|raw}}==0){

        // Se establece las variables con los audios para las notificaciones.
        if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
        }
        else{
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
        }
        error.play();
          swal({
            title: "Asignaturas no registradas",
            text: 'Actualmente no existen asignaturas registrada en el sistema. Debe registrar las asignaturas para poder asignarles los profesores.',
            type: "error",
            confirmButtonColor: color
          });          
        $("#tabs ul li[aria-selected='true'] span").trigger("click");
    }

    //Comprobacón de existencia de asignaturas.
    if({{numAsignaturas|json_encode()|raw}}==0){

        // Se establece las variables con los audios para las notificaciones.
        if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
        }
        else{
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
        }
        error.play();
          swal({
            title: "Asignaturas no asignadas",
            text: 'Actualmente no existen profesores asignados a las asignaturas registradas en el sistema. Debe asignarles los profesores para poder asignarles el horario.',
            type: "error",
            confirmButtonColor: color
          });          
        $("#tabs ul li[aria-selected='true'] span").trigger("click");
    }

    //Comprobacón de existencia de profesores.
    if({{numProfesores|json_encode()|raw}}==0){

        // Se establece las variables con los audios para las notificaciones.
        if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
        }
        else{
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
        }
        error.play();
          swal({
            title: "Profesores no registrados",
            text: 'Actualmente no existen profesores registrados en el sistema. Debe registrar los profesores para poder asignarlos.',
            type: "error",
            confirmButtonColor: color
          });          
        $("#tabs ul li[aria-selected='true'] span").trigger("click");
    }

    //Comprobacón de existencia de horario escolar.
    if({{horario|json_encode()|raw}}==0){

        // Se establece las variables con los audios para las notificaciones.
        if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
        }
        else{
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
        }
        error.play();
          swal({
            title: "Horario Escolar no registrado",
            text: 'Actualmente no existe ningún horario escolar en el sistema. Debe registrarlo para poder asignar el horario del grupo.',
            type: "error",
            confirmButtonColor: color
          });          
        $("#tabs ul li[aria-selected='true'] span").trigger("click");
    }

    //Botón para eliminar horario de los grupos.
    //Se asigna el nombre y el id del grupo al botón de eliminar horario del grupo.
    $("#asignar_horario_grupos #eliminar_grupo span").text($("#asignar_horario_grupos .lista_cursos .elected").text());
    $("#asignar_horario_grupos #eliminar_grupo").attr("grupo",$("#asignar_horario_grupos #contenedor_registro:not(.oculto) #cabecera_lista").attr("grupo"));
    
    setTimeout(function(){ 
        //Se desactiva botón para grupos que no tienen horario asignado.
        if($("#asignar_horario_grupos #contenedor_registro:not(.oculto) tr .dataTables_empty").size()>0){
            $("#asignar_horario_grupos #eliminar_grupo").prop("disabled",true);
        }

        //Botón para eliminar todos los horarios de los grupos.
        //Se desactiva botón cuando no hay ningún horario asignado en el sistema.
        if($("#asignar_horario_grupos #contenedor_registro tbody tr td:not(.dataTables_empty)").size()>0){
            $("#asignar_horario_grupos #eliminar_todo").prop("disabled",false);
        }
        else{
            $("#asignar_horario_grupos #eliminar_todo").prop("disabled",true);
        }
    }, 20);

    //Se oculta la cabecera de la tabla y la información del horario si no tiene horario.
    if($("#asignar_horario_grupos #contenedor_registro:not(.oculto) tbody tr td:not(.dataTables_empty)").size()==0){
        $("#asignar_horario_grupos #contenedor_datos").addClass('oculto');
        $("#asignar_horario_grupos #lista_asignaturas thead").addClass('oculto');
    }
    </script>
{% endblock %}

{% block body -%}
    <div id="asignar_horario_grupos">
    <div class="parent_no_form">
    <div class="child">
      <div class="simple_column">
        <div class="block_insert">
            <h2>Asignación de Horarios</h2>
            <ul>
                <li>Para <span>mostrar</span> el horario de un grupo pulse sobre el botón del grupo correspondiente.</li>
                <li>Para <span>añadir</span> o <span>modificar</span> el horario de un grupo pulse sobre el icono de añadir <img id="img_1" class="add_registro" src="/Symfony/web/bundles/backend/images/menu/añadir_azul.png"> del grupo correspondiente.</li>
                <li>Para <span>eliminar</span> el horario de un grupo o de todos los grupos a la vez, pulse sobre los botones inferiores.</li>
            </ul>
            <div>
                <button id="eliminar_grupo" title="Elimina el horario del grupo"><strong>Eliminar</strong><br>Horario <span></span></button>
                <button id="eliminar_todo" title="Elimina todos los horarios de todos los cursos"><strong>Eliminar</strong><br>Horarios</button>
            </div>
        </div> 
      </div>
      <div class="lista_cursos">
        <div class="cabecera_lista">Primaria</div>
        <div class="contenido_lista">
            {% for entity in entities %}
                {% if entity.curso.nivel == "Primaria" %}
                <button class="buttonface" id="{{ loop.index }}">{{ entity.curso.curso ~ " " ~ entity.letra }} </button>
                {% endif %}
            {% endfor %}    
        </div>
      </div>
    {% for entity in entities %}
      <div class="derecha contenedor_registro oculto" idcurso="{{ loop.index }}"id="contenedor_registro">  
        <div>
            <div id="cabecera_lista" grupo="{{ entity.id}}">
                <h2>{{ entity.curso.curso ~ " de " ~ entity.curso.nivel ~ " - Grupo " ~ entity.letra }}
                    <a id="añadir_modal" title="Asignar Profesores" href="javascript:void(0);">
                        <img id="img_1" class="add_registro" src="{{ asset('bundles/backend/images/menu/añadir_azul.png')}}">
                        <img id="img_2" class="add_registro oculto" src="{{ asset('bundles/backend/images/menu/añadir_azul2.png')}}">
                    </a>
                </h2>
            </div>
            <div id="lista_asignaturas">
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Módulos</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table">
                    <table id="lista_color">
                        {{render (controller('BackendBundle:Grupo:HorariosGrupos',{'id': entity.id }))}}
                    </table>
                </div>
                <div id="contenedor_datos">
                    <div id="sin_seleccionar" class="">
                        <p>Para ver detalles del horario seleccione un módulo de clase</p>
                    </div>
                    <div id="seleccionado" class="oculto">

                        <p><img src="{{ asset('bundles/backend/images/menu/teacher_16.png')}}"><span class="negrita">Profesor: </span><span id="profesor" class="datos"></span></p>
                        <p>
                            <img src="{{ asset('bundles/backend/images/menu/subject_16.png')}}">
                            <span class="negrita">Asignatura: </span><span id="asignatura" class="datos"></span>
                            <img src="{{ asset('bundles/backend/images/menu/room_16.png')}}">
                            <span class="negrita">Aula: </span><span id="aula" class="datos"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>          
      </div>
    {% endfor %}

      <div id="asignar_horario_grupo_dialog" title="Asignación del horario del grupo">
    </div>
    </div>
    </div>
    {% endblock %}