<script>
  //Se añade el nombre del profesor en los grupos donde tengan profesor y asignaturas asignadas.
  array={{imparte|json_encode()|raw}};//Asignaturas no opcionales
  for (var key in array){
    clave=key.split("-");
    id_horario=clave[0];
    dia=clave[1];
    nombre_asig=clave[2];
    abrev_asig=clave[3];
    aula=clave[4];
    grupo=clave[5];
    profesor=array[key];

    //Si existe alguna asignación con horario se muestra en la tabla.  
    if(id_horario!=""){
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").text(abrev_asig);
      //Se crean atributos con los datos para mostrar.
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").attr("asignatura",nombre_asig);
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").attr("profesor",profesor);
      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']").attr("aula",aula);
    }
  }

    //Se añade el nombre del profesor en los grupos donde tengan profesor y asignaturas asignadas.
  array={{imparte_op|json_encode()|raw}};//Asignaturas opcionales.
  for (var key in array){
    clave=key.split("-");
    id_horario=clave[0];
    dia=clave[1];
    nombre_asig=clave[2];
    abrev_asig=clave[3];
    aula=clave[4];
    grupo=clave[5];
    profesor=array[key];

    //Si existe alguna asignación con horario se muestra en la tabla.  
    if(id_horario!=""){
      td=$("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"']");
      td.addClass('no_efect');
      //Se añade una tabla interior en la celda para añadir las aisgnaturas opcionales.
      if(td.find("table").size()==0){
        td.append("<table><tbody><tr></tr></tbody></table>");
      }
      //Se añade celdas interiores por cada asignatura opcional.
      if(td.find("td[asignatura='"+nombre_asig+"']").size()==0){
        td.find("tr").append("<td asignatura='"+nombre_asig+"' profesor='"+profesor+"' aula='"+aula+"'></td>");
      }
      //Añadimos las siglas de la asignatura a las asignaturas opcionales en la tabla.
      siglas="";
      arr = abrev_asig.split(' ');
      if(arr.length==1){
        siglas=abrev_asig.slice(0,3)+". ";
      }
      else{
      siglas=arr[0].slice(0,1)+". ";
      siglas+=arr[1].slice(0,1)+".";
      }

      $("#asignar_horario_grupos #cabecera_lista[grupo='"+grupo+"']").next().find("tr[id='"+id_horario+"'] td[id='"+dia+"'] td[asignatura='"+nombre_asig+"']").text(siglas);
    }
  }

  //Se oculta la imagen de "añardir" si no hay asignaturas asignadas al curso.
  $("#asignar_horario_grupos #contenedor_registro #lista_asignaturas tbody .dataTables_empty").each(function(){ 
    if($(this).attr("id")=="asignatura"){
      $(this).closest("#contenedor_registro").find("#cabecera_lista #añadir_modal").addClass('oculto');
    } 
  });


</script>
{% if numAsigCurso and completo%}
  {% for entity in entity %}
	 <tr id="{{ entity.id }}" class="no_efect">
  	 <td class="horario azul_opacity">{{ entity.inicio|date("H:i") ~ " - " ~ entity.fin|date("H:i")  }}</td>
    {% if entity.horaClase == "RECREO" or entity.horaClase == "COMIDA" %}
  	 <td colspan="5" class="no_efect placeholder_list_table_td_mod color_azul"> {{ entity.horaClase }}</td>
     {% else %}
     <td id="1"></td>
     <td id="2"></td>
     <td id="3"></td>
     <td id="4"></td>
     <td id="5"></td>
     {% endif %}
	 </tr>
  {% endfor %}
{% else %}

  {% if not numAsigCurso %}
    <tr class="odd no_cursor">
      <td class="dataTables_empty" id="asignatura"><p>El curso no tiene asignada ninguna asignatura</p><p class="color_rojo"> (Debe asignar las asignaturas del curso)</p></td>
   </tr>

  {% else %}
    <tr class="odd no_cursor">
		  <td class="dataTables_empty" id="asignatura"><p>Faltan profesores por asignar al grupo</p><p class="color_rojo"> (Debe asignar los profesores a las asignaturas del grupo)</p></td>
	 </tr>
  {% endif %}
{% endif %}