{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}
  <script>
  //Se comprueba si hay asignaturas asignadas inicialmente para hacer las modificaciones correspondientes.
  if($("#asignatura_curso_dialog #contenedor_asignaturas li[tipo='Troncal']").size()>0){
    $("#asignatura_curso_dialog #contenedor_asignaturas .aviso").addClass('oculto');
    $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_troncal").removeClass('oculto');

    //Se modifica de la lista de asignaturas todas las que estan asigandas.
    $("#asignatura_curso_dialog #contenedor_asignaturas li[tipo='Troncal']").each(function(){
      id=$(this).attr("id");
      valor=$(this).find("input[type='number']").val();
      libro=$(this).find("input[type='text']").val();
      $("#asignatura_curso_dialog #lista_troncal button[id='"+id+"']").addClass('elected');
      $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").addClass('asignada');
      $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").attr('valor',valor);
      $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").attr('libro',libro);
    });
    //Si estan todas las aignaturas seleccionada se deshabilita el botón "todas".
    if($("#asignatura_curso_dialog #lista_troncal button:not(.elected)").size()==0){
      $("#asignatura_curso_dialog #lista_troncal").next().addClass('disabled');
    }

  }

  if($("#asignatura_curso_dialog #contenedor_asignaturas li[tipo='Específica']").size()>0){
    //Se modifica de la lista de asignaturas todas las que estan asigandas.
    $("#asignatura_curso_dialog #contenedor_asignaturas li[tipo='Específica']").each(function(){
      id=$(this).attr("id");
      valor=$(this).find("input[type='number']").val();
      libro=$(this).find("input[type='text']").val();
      opcional=$(this).attr("opcional");
      $("#asignatura_curso_dialog #lista_especifica button[id='"+id+"']").addClass('elected');
      $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").addClass('asignada');
      $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").attr('valor',valor);
      $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").attr('libro',libro);
      $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").attr('opcional',opcional);
    });
    //Si estan todas las aignaturas seleccionada se deshabilita el botón "todas".
    if($("#asignatura_curso_dialog #lista_especifica button:not(.elected)").size()==0){
      $("#asignatura_curso_dialog #lista_especifica").next().addClass('disabled');
    }
  }

  if($("#asignatura_curso_dialog #contenedor_asignaturas li[opcional='']").size()>0){
    $("#asignatura_curso_dialog #contenedor_asignaturas .aviso").addClass('oculto');
    $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_especifica").removeClass('oculto');
  }

  if($("#asignatura_curso_dialog #contenedor_asignaturas li[opcional='1']").size()>0){
    $("#asignatura_curso_dialog #contenedor_asignaturas .aviso").addClass('oculto');
    $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_especifica_opcional").removeClass('oculto');
  }


  //Se asigna una lista al curso.
  $(document).on('click',"#asignatura_curso_dialog #lista_troncal button",function(event){
    event.preventDefault();
    id=$(this).attr("id");
    tipo=$(this).attr("tipo");

    $(this).addClass('elected');
    if($("#asignatura_curso_dialog #contenedor_asignaturas li[id='"+id+"']").size()==0){
      if($(this).hasClass('asignada')){
        $('<li class="back_modificado" id="'+id+'"tipo="'+tipo+'" estado="asignada"><p>'+$(this).attr("title")+'</p></input><input placeholder="Libro de la asignatura" valor="'+$(this).attr("libro")+'" style="text-transform: capitalize;" type="text"><input type="number" min="1" max="9" valor="'+$(this).attr("valor")+'"></input><img src="/Symfony/web/bundles/backend/images/menu/eliminar.png"></li>').insertBefore($("#asignatura_curso_dialog #cabecera_especifica"));
      }else{
        $('<li class="back_modificado" id="'+id+'"tipo="'+tipo+'" estado="nueva"><p>'+$(this).attr("title")+'</p></input><input placeholder="Libro de la asignatura" style="text-transform: capitalize;" type="text"><input type="number" min="1" max="9"></input><img src="/Symfony/web/bundles/backend/images/menu/eliminar.png"></li>').insertBefore($("#asignatura_curso_dialog #cabecera_especifica"));
      }

    }

    //Se deshabilita el botón de seleccionar todas las asignaturas troncales cuando estan todas seleccionadas.
    if($("#asignatura_curso_dialog #lista_asignaturas #lista_troncal button:not(.elected)").size()==0){
      $("#asignatura_curso_dialog #all_troncales").addClass('disabled');
    }

    $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_troncal").removeClass('oculto');
    $("#asignatura_curso_dialog #contenedor_asignaturas .aviso").addClass('oculto');
    //Se habilita los botones "guardar" y "restablecer".
    $("#asignatura_curso_dialog #asignaturas_curso_submit").prop("disabled",false);
    $("#asignatura_curso_dialog #asignaturas_curso_restablecer").prop("disabled",false);
  });

  $(document).on('click',"#asignatura_curso_dialog #lista_especifica button",function(event){
    event.preventDefault();
    id=$(this).attr("id");
    tipo=$(this).attr("tipo");
    opcional=$(this).attr("opcional");

    $(this).addClass('elected');
    if(opcional==1){
      if($("#asignatura_curso_dialog #contenedor_asignaturas li[id='"+id+"']").size()==0){
        if($(this).hasClass('asignada')){
          $("#asignatura_curso_dialog #contenedor_asignaturas ul").append('<li class="back_modificado" id="'+id+'"tipo="'+tipo+'" estado="asignada" opcional="'+$(this).attr("opcional")+'"><p>'+$(this).attr("title")+'</p></input><input placeholder="Libro de la asignatura" valor="'+$(this).attr("libro")+'" style="text-transform: capitalize;" type="text"><input type="number" min="1" max="9" valor="'+$(this).attr("valor")+'"></input><img src="/Symfony/web/bundles/backend/images/menu/eliminar.png"></li>');
        }else{
          $("#asignatura_curso_dialog #contenedor_asignaturas ul").append('<li class="back_modificado" id="'+id+'"tipo="'+tipo+'" estado="nueva" opcional="'+$(this).attr("opcional")+'"><p>'+$(this).attr("title")+'</p></input><input placeholder="Libro de la asignatura" style="text-transform: capitalize;" type="text"><input type="number" min="1" max="9"></input><img src="/Symfony/web/bundles/backend/images/menu/eliminar.png"></li>');
        }
      }
      $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_especifica_opcional").removeClass('oculto');
    }
    else{
      if($("#asignatura_curso_dialog #contenedor_asignaturas li[id='"+id+"']").size()==0){
        if($(this).hasClass('asignada')){
          $('<li class="back_modificado" id="'+id+'"tipo="'+tipo+'" estado="asignada" opcional="'+$(this).attr("opcional")+'"><p>'+$(this).attr("title")+'</p></input><input placeholder="Libro de la asignatura" valor="'+$(this).attr("libro")+'" style="text-transform: capitalize;" type="text"><input type="number" min="1" max="9" valor="'+$(this).attr("valor")+'"></input><img src="/Symfony/web/bundles/backend/images/menu/eliminar.png"></li>').insertBefore($("#asignatura_curso_dialog #cabecera_especifica_opcional"));
        }else{
          $('<li class="back_modificado" id="'+id+'"tipo="'+tipo+'" estado="nueva" opcional="'+$(this).attr("opcional")+'"><p>'+$(this).attr("title")+'</p></input><input placeholder="Libro de la asignatura" style="text-transform: capitalize;" type="text"><input type="number" min="1" max="9"></input><img src="/Symfony/web/bundles/backend/images/menu/eliminar.png"></li>').insertBefore($("#asignatura_curso_dialog #cabecera_especifica_opcional"));
        }
      }
      $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_especifica").removeClass('oculto');
    }

    //Se deshabilita el botón de seleccionar todas las asignaturas específicas cuando estan todas seleccionadas.
    if($("#asignatura_curso_dialog #lista_asignaturas #lista_especifica button:not(.elected)").size()==0){
      $("#asignatura_curso_dialog #all_especificas").addClass('disabled');
    }


    $("#asignatura_curso_dialog #contenedor_asignaturas .aviso").addClass('oculto');
    //Se habilita los botones "guardar" y "restablecer".
    $("#asignatura_curso_dialog #asignaturas_curso_submit").prop("disabled",false);
    $("#asignatura_curso_dialog #asignaturas_curso_restablecer").prop("disabled",false);
  });

  //Se elimina la lista asignada al curso
  $(document).on('click',"#asignatura_curso_dialog #contenedor_asignaturas img",function(event){
    event.preventDefault();
    id=$(this).closest("li").attr("id");
    tipo=$(this).closest("li").attr("tipo");
    asigcurso=$(this).closest("li").attr("asigcurso");//Id de asignación de asignatura/grupo
    //Se habilita los botones "guardar" y "restablecer".
    $("#asignatura_curso_dialog #asignaturas_curso_submit").prop("disabled",false);
    $("#asignatura_curso_dialog #asignaturas_curso_restablecer").prop("disabled",false);

    $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").removeClass('elected');
    $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").closest("div").next().removeClass('disabled');
    //Se le asigna el Id de la asignación de asignatura/grupo para comprobar que asignación ha sido eliminada.
    $("#asignatura_curso_dialog #lista_asignaturas button[id='"+id+"']").attr('asigcurso',asigcurso);

    $(this).closest("li").remove();

    //Se comprueba si no hay más asignaturas de un tipo para eliminar la cabecera de ese tipo(ol).
    if(tipo=="Troncal"){
      if($("#asignatura_curso_dialog #contenedor_asignaturas li[tipo='Troncal']").size()==0){
        $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_troncal").addClass('oculto');
      }
    }
    else{
      if($("#asignatura_curso_dialog #contenedor_asignaturas li[opcional='']").size()==0){
        $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_especifica").addClass('oculto');
      }
      if($("#asignatura_curso_dialog #contenedor_asignaturas li[opcional='1']").size()==0){
        $("#asignatura_curso_dialog #contenedor_asignaturas #cabecera_especifica_opcional").addClass('oculto');
      }
    } 

    //Se oculta el aviso de error si no quedan elementos con input vacíos.
    if($("#asignatura_curso_dialog #contenedor_asignaturas li input[class='invalid']").size()==0){
      $("#asignatura_curso_dialog #aviso_error").addClass('oculto');
    }
  });

  </script>
{% endblock %}

{% block body -%}
    <fieldset id="{{curso.id}}" name="{{curso.curso ~ " de " ~ curso.nivel}}">
      <legend>Asignación de asignaturas de {{curso.curso ~ " " ~ curso.nivel}}</legend>
      <div id="lista_asignaturas" class="w30 f_left tcenter b_right">
        <span>1. Seleccione las <strong>asignaturas</strong>:</span>
        <div class="w50 f_left">
          <h4>Troncales</h4>
          <div class="lista_asig" id="lista_troncal">
            {% for troncal in troncales %}
              <button id="{{troncal.id}}" tipo="{{troncal.tipo}}" title="{{troncal.nombre }}">{{ troncal.Abreviatura }}</button>
            {% endfor %}
          </div>
          <button class="button_all" id="all_troncales" title="Selecciona todas las asignaturas troncales">Todas</button>
        </div>
        <div class="w50 f_left">
          <h4>Específicas</h4>
          <div class="lista_asig" id="lista_especifica">
            {% for especifica in especificas %}
              <button id="{{especifica.id}}" tipo="{{especifica.tipo}}" opcional="{{especifica.opcional}}" title="{{especifica.nombre }}">{{ especifica.Abreviatura }}</button>
            {% endfor %}
          </div>
           <button class="button_all"   id="all_especificas" title="Selecciona todas las asignaturas específicas">Todas</button>
        </div>
      </div>
      <div class="w69 f_left  tcenter">
        <span>2. Seleccione el <strong>Nº de módulos</strong> semanales para cada asignatura:</span>
        <div id="contenedor_asignaturas">
          <h4 id="titulo_curso">Asignaturas de <strong>{{" " ~ curso.curso ~ " " ~ curso.nivel}}</strong></h4>
          <div>
            <ul>
              <p class="aviso">No hay asignaturas asignadas para este curso</p>
              <ol id="cabecera_troncal" class="oculto">Troncales</ol>
                {% for entity in entities_troncales %}
                  <li id="{{ entity.asignatura.id }}" asigcurso="{{ entity.id }}" tipo="{{ entity.asignatura.tipo }}" estado="asignada" >
                    <p>{{ entity.asignatura.nombre }}</p>
                    <input type="text" value="{{ entity.libro }}" valor="{{ entity.libro}}" placeholder="Libro de la asignatura"></input>
                    <input type="number" min="1" max="9" value="{{ entity.numModulos }}" valor="{{ entity.numModulos }}"></input>
                    <img src="/Symfony/web/bundles/backend/images/menu/eliminar.png">
                  </li>
                {% endfor %}
              <ol id="cabecera_especifica" class="oculto">Específicas</ol>
                {% for entity in entities_especificas %}
                  <li id="{{ entity.asignatura.id }}" asigcurso="{{ entity.id }}" tipo="{{ entity.asignatura.tipo }}" opcional="{{ entity.asignatura.opcional }}" estado="asignada">
                    <p>{{ entity.asignatura.nombre }}</p>
                    <input type="text" value="{{ entity.libro }}" valor="{{ entity.libro}}" placeholder="Libro de la asignatura"></input>
                    <input type="number" min="1" max="9" value="{{ entity.numModulos }}" valor="{{ entity.numModulos }}"></input>
                    <img src="/Symfony/web/bundles/backend/images/menu/eliminar.png">
                  </li>
                {% endfor %}
              <ol id="cabecera_especifica_opcional" class="oculto">Específicas (Opcionales)</ol>
                {% for entity in entities_especificas_opcionales %}
                  <li id="{{ entity.asignatura.id }}" asigcurso="{{ entity.id }}" tipo="{{ entity.asignatura.tipo }}" estado="asignada" opcional="{{ entity.asignatura.opcional }}">
                    <p>{{ entity.asignatura.nombre }}</p>
                    <input type="text" value="{{ entity.libro }}" valor="{{ entity.libro}}" placeholder="Libro de la asignatura"></input>
                    <input type="number" min="1" max="9" value="{{ entity.numModulos }}" valor="{{ entity.numModulos }}"></input>
                    <img src="/Symfony/web/bundles/backend/images/menu/eliminar.png">
                  </li>
                {% endfor %}
            </ul>
          </div>
        </div>
        <div id="aviso_error" class="oculto">
          <span></span>
          <span>Falta por asignar el Nº de módulos en alguna asignatura. </span>
        </div>
      </div>


    </fieldset> 

    <div class="dialog_button">
      <div>
        <button id="asignaturas_curso_submit" disabled="" type="button">Guardar</button>
      </div>
      <div>
        <button id="asignaturas_curso_restablecer" disabled="" type="button">Restablecer</button>
      </div>
    </div>
{% endblock %}