{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}
  <script>
  //Se ajusta la altura de cada fila de la tabla al número de filas.
  num=$("#asignar_horario_grupo_dialog #tabla_horario .inner_table tr").size();
  altura=285/num;
  $("#asignar_horario_grupo_dialog #tabla_horario .inner_table tr td").css("height", altura);
  //Se oculta los elementos de las listas para que no se vea el desplazamiento inicial a la tabla y al finalizar se muestra.
  $("#asignar_horario_grupo_dialog #tabla_horario li").css('opacity',"0");
  //Se inserta el id de profesores y aula en la lista de asignaturas no opcionales.
  array={{imparte|json_encode()|raw}};
  for (var key in array){
    asignatura=key;
    clave=array[key].split("-");
    profesor=clave[0];
    aula=clave[1];
    $("#asignar_horario_grupo_dialog #pie_horario li[id='"+asignatura+"'] ").attr("profesor",profesor);
    $("#asignar_horario_grupo_dialog #pie_horario li[id='"+asignatura+"'] ").attr("aula",aula);
  }

  //Se inserta el id de asignaturas, profesores y aulas en la lista de asignaturas opcionales.
  array={{imparte_op|json_encode()|raw}};
  $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("asignaturas","");
  $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("profesor","");
  $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("aula","");
  for (var key in array){
    asignatura=key;
    clave=array[key].split("-");
    profesor=clave[0];
    aula=clave[1];

    v_asig=$("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("asignaturas");
    v_prof=$("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("profesor");
    v_aul=$("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("aula");
    
    $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("asignaturas",v_asig+"-"+asignatura);
    $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("profesor",v_prof+"-"+profesor);
    if(aula){
      $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("aula",v_aul+"-"+aula);
    }
  }
  
  v_asig=$("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("asignaturas");
  v_prof=$("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("profesor");
  v_aul=$("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("aula");

  $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("asignaturas",v_asig.replace("-", ""));
  $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("profesor",v_prof.replace("-", ""));
  $("#asignar_horario_grupo_dialog #pie_horario li[id='0'] ").attr("aula",v_aul.replace("-", ""));


  // Se establece las variables con los audios para las notificaciones.
  if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
    var error = new Audio();
    error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
  }
  else{
    var error = new Audio();
    error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
  }

  $( "#sortable,.sortable" ).sortable({
    connectWith: ".sortable",
    items: "li:not(.no-last)",
    placeholder: "ui-state-highligh",
    cursor: "none", //Se oculta el cursor
    start: function(event, ui){
      //ui.item.css("cursor","none");
      ui.item.css("style","background:"+ui.item.attr("color")+";");

      id=ui.item.attr("id");
      //Se añade la clase a todas los elementos de una lista de una misma asignatura, menos el último para que no se pueda que el placeholder aparezca delante de todos al mover el último elemento.
      $("#asignar_horario_grupo_dialog #contenedor_asig ul[asig='"+id+"'] li:not(:last-child)").addClass('no-last');
      //Se muestra la info en otro contenedor para evitar el evento mouseenter de cada lista.
      $("#asignar_horario_grupo_dialog #contenedor_info_drag").load(Routing.generate('datos_asignatura', {id:ui.item.attr("id"),id_grupo:ui.item.closest("fieldset").attr("id")}), function(){
        $("#asignar_horario_grupo_dialog #contenedor_info_drag").removeClass('oculto');
        $("#asignar_horario_grupo_dialog #contenedor_info").addClass('oculto');
      });
      //Se le añade al elemento los atributos dia y horario, para comprobar al acabar la selección donde estaban situados anteriormente.
      if(ui.item.closest("td").size()>0){ //Tabla
        dia=ui.item.closest("ul").attr("dia");
        horario=ui.item.closest("ul").attr("horario");
        ui.item.attr("dia",dia);
        ui.item.attr("horario",horario);
      }
      else{//Lista inicial
        ui.item.attr("dia",0);
        ui.item.attr("horario",0);
      }

      //Se establece el padding de los elementos que se mueven a la tabla según el numero de módulos existentes.
      altura=$("#asignar_horario_grupo_dialog #tabla_horario .inner_table tr td").css('height');
      
      //Se establece el padding para los elementos en la tabla.
      if(ui.item.closest("td").size()>0){
        if(parseInt(altura.slice(0, -2))<30){
          ui.item.css("padding","1px 3px");
        }
        else if(parseInt(altura.slice(0, -2))>40){
          ui.item.css("padding","8px 3px");
        }
        else{
          ui.item.css("padding","5px 3px");
        }
      }
    },
    beforeStop: function( event, ui ) {

    },
    stop: function(event, ui){
      //ui.item.css("cursor","ponter");
      id=ui.item.attr("id");

      if(ui.item.closest("fieldset").attr("tipo")=="manual"){
        var horarios = Array();
        $("#asignar_horario_grupo_dialog #tabla_horario .asignada").each(function(){
          horarios.push($(this).attr("horario"));
        });
        $("#asignar_horario_grupo_dialog #tabla_horario .modificada").each(function(){
          horarios.push($(this).attr("horario"));
        });
        horarios.push(ui.item.closest("ul").attr("horario"));
        profesor= ui.item.attr("profesor");
        grupo=ui.item.closest("fieldset").attr("id");
        li=$(this);

        $.ajax({
          type: 'POST',
          url: Routing.generate('comprobar_horas_profesor'),
          data: {horarios:horarios, profesor:profesor, grupo:grupo},
          dataType: 'json',
          success: function(response){
            if(response.data==null){
              li.sortable("cancel");
              $("#asignar_horario_grupo_dialog #tabla_horario td").removeClass('placeholder_list_table_td');

              error.play();
              swal({
                title: "Profesor No Disponible",
                html: "<p class='justificado'>La asignación no se puede realizar debido a que el profesor <span class='negrita'>"+response.profesor+"</span> tiene sus <span class='negrita'>"+response.horas+" horas lectivas asignadas</span>.<br><br>Para poder asignar esta asignatura deberá asignarle otro profesor o aumentar el número de horas lectivas del profesor actual si el número de módulos de la asignatura no pueda modificarse.</p>",
                type: "error",
                showCancelButton: false,
                width: "510px",
                confirmButtonColor: color
              });
            }


            //Se comprueba si el elemento asignado se ha añadido por error en una celda o lista no permitida y se cancela la asignación.
            //También se comprueba en el mouseup (general.js).
            if(ui.item.closest("td").hasClass('bloqueo') || ui.item.closest("#listas_nulas").size()==1){
              li.sortable("cancel");
              $("#asignar_horario_grupo_dialog #tabla_horario td").removeClass('placeholder_list_table_td');
              error.play();
            }

            if(ui.item.closest("td").size()>0){ //Elemento soltado en la tabla.
              //Se añade el nombre y un span para quitar el elemento de la tabla.
              ui.item.text("");
              ui.item.append('<span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>'+ui.item.attr("nombre"));
              //Se añade un efecto de sombra
              ui.item.addClass('box-shadow');

              //Se añade la clase "sortable" a las listas de la tabla y se elimina luego a las listas que tienen asignatura asignada para que no pueda añadirse otra.
              $("#asignar_horario_grupo_dialog #tabla_horario ul").addClass('sortable');
              $("#asignar_horario_grupo_dialog #tabla_horario li").closest("ul").removeClass('sortable');

            }
            else{
              ui.item.text(ui.item.attr("siglas"));
            }
            //Se elimina el placeholder al soltar el elemento.
            ui.item.closest('ul').removeClass('placeholder_list_table_td');
            ui.item.closest('td').removeClass('placeholder_list_table_td');

            //Se elimina la clase "no-last" de las listas de la tabla.
            $("#asignar_horario_grupo_dialog #tabla_horario li").removeClass('no-last');
            //Se elimina la clase "box-shadow" de las listas de la lista de asignaturas.
            $("#asignar_horario_grupo_dialog #pie_horario li").removeClass('box-shadow');
            //Se oculta las listas que quedan vacía.
            $("#asignar_horario_grupo_dialog #pie_horario ul:empty").addClass('oculto');
    
            //Se muestra el contenedor inicial con la info del evento mousenter.
            $("#asignar_horario_grupo_dialog #contenedor_info").empty();
            $("#asignar_horario_grupo_dialog #contenedor_info_drag").empty();
            $("#asignar_horario_grupo_dialog #contenedor_info_drag").addClass('oculto');
            $("#asignar_horario_grupo_dialog #contenedor_info").removeClass('oculto');
 
            $("#asignar_horario_grupo_dialog #tabla_horario td").removeClass('rojo');
            $("#asignar_horario_grupo_dialog #tabla_horario td").removeClass('bloqueo');

            //Se establece el padding de los elementos que se mueven a la tabla según el numero de módulos existentes.
            altura=$("#asignar_horario_grupo_dialog #tabla_horario .inner_table tr td").css('height');

            //Se establece el padding para los elementos en la lista.
            if(ui.item.closest("td").size()==0){
              ui.item.css("padding","7px");
            }
            //Se establece el padding para los elementos en la tabla.
            else{
              if(parseInt(altura.slice(0, -2))<30){
                ui.item.css("padding","1px 3px");
              }
              else if(parseInt(altura.slice(0, -2))>40){
                ui.item.css("padding","8px 3px");
              }
              else{
                ui.item.css("padding","5px 3px");
              }
            }

            //Se añade la clase asignada o modificada cuando se añade una asignatura a la tabla comparando el atribut "carga" de la lista.
            if(ui.item.closest("td").size()>0){
              if(!ui.item.closest("ul").attr("carga") || ui.item.closest("ul").attr("carga")!=ui.item.attr("id")){
                ui.item.closest("ul").removeClass('asignada');
                ui.item.closest("ul").addClass('modificada');
                ui.item.closest("ul").removeClass('eliminada');
              }
              else{
                ui.item.closest("ul").addClass('asignada');
                ui.item.closest("ul").removeClass('modificada');
                ui.item.closest("ul").removeClass('eliminada');
              }
            }     

            //Se comprueba si hay modificación para mostrar los botones. 
            $("#asignar_horario_grupo_dialog #horario_grupo_submit").prop("disabled",true);
            $("#asignar_horario_grupo_dialog #horario_grupo_restablecer").prop("disabled",true);

            if($("#asignar_horario_grupo_dialog #tabla_horario td ul").hasClass('eliminada') || $("#asignar_horario_grupo_dialog #tabla_horario td ul").hasClass('modificada') ){
              $("#asignar_horario_grupo_dialog #horario_grupo_submit").prop("disabled",false);
              $("#asignar_horario_grupo_dialog #horario_grupo_restablecer").prop("disabled",false);
            }
          }
        })
      }
      else{

      //Se comprueba si el elemento asignado se ha añadido por error en una celda o lista no permitida y se cancela la asignación.
      //También se comprueba en el mouseup (general.js).
      if(ui.item.closest("td").hasClass('bloqueo') || ui.item.closest("#listas_nulas").size()==1){
        $(this).sortable("cancel");
        $("#asignar_horario_grupo_dialog #tabla_horario td").removeClass('placeholder_list_table_td');
        error.play();
      }

      if(ui.item.closest("td").size()>0){ //Elemento soltado en la tabla.
        //Se añade el nombre y un span para quitar el elemento de la tabla.
        ui.item.text("");
        ui.item.append('<span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>'+ui.item.attr("nombre"));
        //Se añade un efecto de sombra
        ui.item.addClass('box-shadow');

        //Se añade la clase "sortable" a las listas de la tabla y se elimina luego a las listas que tienen asignatura asignada para que no pueda añadirse otra.
        $("#asignar_horario_grupo_dialog #tabla_horario ul").addClass('sortable');
        $("#asignar_horario_grupo_dialog #tabla_horario li").closest("ul").removeClass('sortable');

      }
      else{
        ui.item.text(ui.item.attr("siglas"));
      }
      //Se elimina el placeholder al soltar el elemento.
      ui.item.closest('ul').removeClass('placeholder_list_table_td');
      ui.item.closest('td').removeClass('placeholder_list_table_td');

      //Se elimina la clase "no-last" de las listas de la tabla.
      $("#asignar_horario_grupo_dialog #tabla_horario li").removeClass('no-last');
       //Se elimina la clase "box-shadow" de las listas de la lista de asignaturas.
      $("#asignar_horario_grupo_dialog #pie_horario li").removeClass('box-shadow');
      //Se oculta las listas que quedan vacía.
      $("#asignar_horario_grupo_dialog #pie_horario ul:empty").addClass('oculto');
    
      //Se muestra el contenedor inicial con la info del evento mousenter.
      $("#asignar_horario_grupo_dialog #contenedor_info").empty();
      $("#asignar_horario_grupo_dialog #contenedor_info_drag").empty();
      $("#asignar_horario_grupo_dialog #contenedor_info_drag").addClass('oculto');
      $("#asignar_horario_grupo_dialog #contenedor_info").removeClass('oculto');
 
      $("#asignar_horario_grupo_dialog #tabla_horario td").removeClass('rojo');
      $("#asignar_horario_grupo_dialog #tabla_horario td").removeClass('bloqueo');

      //Se establece el padding de los elementos que se mueven a la tabla según el numero de módulos existentes.
      altura=$("#asignar_horario_grupo_dialog #tabla_horario .inner_table tr td").css('height');

      //Se establece el padding para los elementos en la lista.
      if(ui.item.closest("td").size()==0){
        ui.item.css("padding","7px");
      }
      //Se establece el padding para los elementos en la tabla.
      else{
        if(parseInt(altura.slice(0, -2))<30){
          ui.item.css("padding","1px 3px");
        }
        else if(parseInt(altura.slice(0, -2))>40){
          ui.item.css("padding","8px 3px");
        }
        else{
          ui.item.css("padding","5px 3px");
        }
      }

      //Se añade la clase asignada o modificada cuando se añade o se modifica una asignatura en la tabla comparando el atribut "carga" de la lista.
      if(ui.item.closest("td").size()>0){
        if(!ui.item.closest("ul").attr("carga") || ui.item.closest("ul").attr("carga")!=ui.item.attr("id")){
          ui.item.closest("ul").removeClass('asignada');
          ui.item.closest("ul").addClass('modificada');
          ui.item.closest("ul").removeClass('eliminada');
        }
        else{
          ui.item.closest("ul").addClass('asignada');
          ui.item.closest("ul").removeClass('modificada');
          ui.item.closest("ul").removeClass('eliminada');
        }
        //Se cambia la clase para eliminar la asignación que tenía la asignatura antes en la tabla imparte.
        $("#asignar_horario_grupo_dialog #tabla_horario .inner_table .asignada:empty").each (function(){ 
          $(this).addClass('eliminada');
          $(this).removeClass('asignada');
        }); 
        //Se elimina la clase modificada si se vuelve a modificar para que no se realice ninguna asignación en ese módulo.
        $("#asignar_horario_grupo_dialog #tabla_horario .inner_table .modificada:empty").each (function(){ 
          $(this).removeClass('modificada');
        }); 
      }

      //Se comprueba si hay modificación para mostrar los botones. 
      $("#asignar_horario_grupo_dialog #horario_grupo_submit").prop("disabled",true);
      $("#asignar_horario_grupo_dialog #horario_grupo_restablecer").prop("disabled",true);

      if($("#asignar_horario_grupo_dialog #tabla_horario td ul").hasClass('eliminada') || $("#asignar_horario_grupo_dialog #tabla_horario td ul").hasClass('modificada') ){
        $("#asignar_horario_grupo_dialog #horario_grupo_submit").prop("disabled",false);
        $("#asignar_horario_grupo_dialog #horario_grupo_restablecer").prop("disabled",false);
      }


      }
    },
    over: function(event, ui){

      //$("#asignar_horario_grupo_dialog #tabla_horario ul").addClass('sortable');
      //$("#asignar_horario_grupo_dialog #tabla_horario li").closest("ul").removeClass('sortable');

      $("#asignar_horario_grupo_dialog #pie_horario td[class*='placeholder_list_table_td']").removeClass('placeholder_list_table_td');
      $("#asignar_horario_grupo_dialog #tabla_horario td[class*='placeholder_list_table_td']").removeClass('placeholder_list_table_td');
      $("#asignar_horario_grupo_dialog #tabla_horario ul[class*='placeholder_list_table_td']").removeClass('placeholder_list_table_td');

      $("#asignar_horario_grupo_dialog #tabla_horario li[class='ui-state-highligh']").closest("td").addClass('placeholder_list_table_td');

    },
    out: function(event, ui){

    },
    receive: function(event, ui) {

    }
  }).disableSelection();

  //Efecto de cambiar incono de elminar asignatura en la tabla.
  $(document).on("mouseover","#asignar_horario_grupo_dialog #tabla_horario  .ui-icon", function () {
    $(this).addClass('ui-icon-circle-close');
    $(this).removeClass('ui-icon-close');
  });

  $(document).on("mouseleave","#asignar_horario_grupo_dialog #tabla_horario .ui-icon", function () {
    $(this).addClass('ui-icon-close');
    $(this).removeClass('ui-icon-circle-close');
  });

  setTimeout(function() {
    $("#asignar_horario_grupo_dialog #tabla_horario .asignada").each (function(){ 
      id=$(this).attr("carga");
      elemento=$("#asignar_horario_grupo_dialog #pie_horario ul[asig='"+id+"'] li:last-child");
      lista=elemento.parent();
      elemento.appendTo($(this));
      $(this).find("li").addClass('box-shadow');
      $(this).find("li").text($(this).find("li").attr("nombre"));
      $(this).find("li").append('<span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span>');
      //Se oculta la lista si no tiene más elementos en la lista inicial.
      if(lista.find("li").size()==0){
        lista.addClass('oculto');
      }
      $(this).removeClass('sortable');
    }); 

    //Se muestra las listas una vez eliminadas las que esán asignadas al grupo.
    $("#asignar_horario_grupo_dialog #tabla_horario li").css('opacity',"1");
  }, 5);


  </script>
{% endblock %}

{% block body -%}

    <fieldset id="{{grupo.id}}" name="{{grupo.curso.curso ~ " de " ~ grupo.curso.nivel}}" tipo="{{tipo}}">
      <legend>{{grupo.curso.curso ~ " de " ~ grupo.curso.nivel ~ " - Grupo " ~ grupo.letra}}</legend>
        <div id="tabla_horario">
          <div class="parent_no_form">
          <div class="child">
            <table class="records_list">
              <thead>
                <tr>
                  <th>Módulos</th>
                  <th>Lunes</th>
                  <th>Martes</th>
                  <th>Miércoles</th>
                  <th>Jueves</th>
                  <th>Viernes</th>
                </tr>
              </thead>
            </table>
            <div class="inner_table">
              <table id="lista_color">
                {{render (controller('BackendBundle:Grupo:HorariosGruposNew',{'id': grupo.id }))}}
              </table>
            </div>
            <div id="pie_horario">
              <div id="contenedor_info"> </div>
              <div id="contenedor_info_drag" class="oculto"></div>
              <div id="contenedor_asig">
                
                {% for entity in entities_troncales %}
                  {% set array = entity.asignatura.abreviatura|split(' ') %}
                  {% set iter = entity.numModulos %}

                  {% if array|length == 1 %}
                    <ul id="sortable" class="ui-sortable" asig="{{ entity.id }}">
                    {% for i in 1..iter %}
                      <li id="{{entity.id}}" nombre="{{ entity.asignatura.abreviatura }}" siglas="{{ entity.asignatura.abreviatura|slice(0, 3)|lower|capitalize }}" style="background:{{entity.asignatura.color}};" color="{{entity.asignatura.color}}">{{ entity.asignatura.abreviatura|slice(0, 3)|lower|capitalize }}</li>
                    {% endfor %} 
                    </ul>
                  {% else %}
                    <ul id="sortable" class="ui-sortable" asig="{{ entity.id }}">
                    {% for i in 1..iter %}
                      <li id="{{entity.id}}" nombre="{{ entity.asignatura.abreviatura }}" siglas="{{ array[0]|slice(0, 1)|lower|capitalize ~ "." ~ array[1]|slice(0, 1)|lower|capitalize ~ "."}}" style="background:{{entity.asignatura.color}};" color="{{entity.asignatura.color}}">{{ array[0]|slice(0, 1)|lower|capitalize ~ "." ~ array[1]|slice(0, 1)|lower|capitalize ~ "."}}</li>
                    {% endfor %} 
                    </ul>
                  {% endif %}
                {% endfor %}

                {% for entity in entities_especificas_no_op %}
                  {% set array = entity.asignatura.abreviatura|split(' ') %}
                  {% set iter = entity.numModulos %}

                  {% if array|length == 1 %}
                    <ul id="sortable" class="ui-sortable" asig="{{ entity.id }}">
                    {% for i in 1..iter %}
                      <li id="{{entity.id}}" nombre="{{ entity.asignatura.abreviatura }}" siglas="{{ entity.asignatura.abreviatura|slice(0, 3)|lower|capitalize }}" style="background:{{entity.asignatura.color}};" color="{{entity.asignatura.color}}">{{ entity.asignatura.abreviatura|slice(0, 3)|lower|capitalize }}</li>
                    {% endfor %} 
                    </ul>
                  {% else %}
                    <ul id="sortable" class="ui-sortable" asig="{{ entity.id }}">
                    {% for i in 1..iter%}
                      <li id="{{entity.id}}" nombre="{{ entity.asignatura.abreviatura }}" siglas="{{ array[0]|slice(0, 1)|lower|capitalize ~ "." ~ array[1]|slice(0, 1)|lower|capitalize ~ "."}}" style="background:{{entity.asignatura.color}};" color="{{entity.asignatura.color}}">{{ array[0]|slice(0, 1)|lower|capitalize ~ "." ~ array[1]|slice(0, 1)|lower|capitalize ~ "."}}</li>
                    {% endfor %} 
                    </ul>
                  {% endif %}
                {% endfor %}   
                {% if entities_especificas_op %}
                {% set iter2 = "" %}
                {% for entity in entities_especificas_op %}
                  {% set array = entity.asignatura.abreviatura|split(' ') %}
                  {% set iter = entity.numModulos %}
                  {% set iter2 = entity.numModulos %}
{#
                  {% if array|length == 1 %}
                    <ul id="sortable" class="ui-sortable" asig="{{ entity.id }}">
                    {% for i in 1..iter %}
                      <li class="oculto" id="{{entity.id}}"nombre="{{ entity.asignatura.abreviatura }}" siglas="{{ entity.asignatura.abreviatura|slice(0, 3)|lower|capitalize }}" style="background:{{entity.asignatura.color}};" color="{{entity.asignatura.color}}">{{ entity.asignatura.abreviatura|slice(0, 3)|lower|capitalize }}</li>
                    {% endfor %} 
                    </ul>
                  {% else %}
                    <ul id="sortable" class="ui-sortable" asig="{{ entity.id }}">
                    {% for i in 1..iter%}
                      <li  class="oculto" id="{{entity.id}}" nombre="{{ entity.asignatura.abreviatura }}" siglas="{{ array[0]|slice(0, 1)|lower|capitalize ~ "." ~ array[1]|slice(0, 1)|lower|capitalize ~ "."}}" style="background:{{entity.asignatura.color}};" color="{{entity.asignatura.color}}">{{ array[0]|slice(0, 1)|lower|capitalize ~ "." ~ array[1]|slice(0, 1)|lower|capitalize ~ "."}}</li>
                    {% endfor %} 
                    </ul>
                  {% endif %}
                  #}
                {% endfor %}

                <ul class="ul_opcional" id="sortable" class="ui-sortable" asig="0" >
                    {% for i in 1..iter2 %}
                      <li id="0" style="background:#DBA901;" color="#DBA901" siglas="Opcional" nombre="Opcional">Opcional</li>
                    {% endfor %} 
                </ul> 
              {% endif %}
              </div>
            </div>  
          </div>
          </div>
        </div>    

    </fieldset> 

    <div class="dialog_button">
      <div>
        <button id="horario_grupo_submit" disabled="" type="button">Guardar</button>
      </div>
      <div>
        <button id="horario_grupo_restablecer" disabled="" type="button">Restablecer</button>
      </div>
    </div>
{% endblock %}