{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
<script>
  // Estilos al mostrar la página
  if($(window).width() > 1200){
    // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 27% !important');
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 18% !important');
    }
    else{
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 29% !important');
    }
        // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 26% !important');
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 18% !important');
    }
    else{

        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 28% !important');
    }
  }
  else{
    // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 27% !important');
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 18.5% !important');
    }
    else{
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 27% !important');
    }
        // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 27% !important');
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 18.5% !important');
    }
    else{

        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 26% !important');
    }
  }
  // Estilos al cambiar el tamaño de la pantalla.
  $(window).resize(function(event) {
    if($(window).width() > 1200){
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 27% !important');
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 18% !important');
        }
        else{
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 29% !important');
        }
        
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 26% !important');
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 18% !important');
        }
        else{
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 28% !important');
        }
    }
    else{
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_inf #lista_color tbody').height()>$('#td_inf').height()){
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 27% !important');
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 18.5% !important');
        }
        else{
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 27% !important');
        }
        // Se comprueba si existe scrol vertical para ajustar el thead
        if( $('#td_prim #lista_color tbody').height()>$('#td_prim').height()){
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 27% !important');
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 18.5% !important');
        }
        else{
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 26% !important');
        }
    }

  });

    $("#aulas_dialog").dialog(
       {
        bgiframe: true,
        autoOpen: false,
        width: 500,
        modal: true,
        resizable: false,
       }
    );
    $('#aulas_dialog').on('dialogclose', function(event) {
        $('#aulas_dialog').empty();
    });
    //Se deshabilita el botón de vaciar aulas cuando no hay ninguna asignada.
    if($("#contenedor_asignar_aula input[value!='']").size()==0){
        $("#asignar_aula #vaciar").prop("disabled",true);
    }    
</script>
{% endblock %}

{% block body -%}
    <div id="asignar_aula" class="contenedor_tabla_no_selec">
    <div class="parent_no_form">
    <div class="child">
      <div class="simple_column_red">
        <div class="block_insert">
            <h2>Asignar Aula</h2>
            <ul>

                <li>Para <span>añadir</span> el aula a un grupo pulse sobre el espacio asignado en el grupo correspondiente y seleccione un aula disponible.</li>
                <li>Para <span>eliminar</span> una asignación de aula de un grupo pulse sobre el icono de eliminar <img id="img_1" class="add_registro" src="/Symfony/web/bundles/backend/images/menu/eliminar.png"> del grupo correspondiente.</li>
                <li>Para <span>Vaciar</span> todas las aulas a la vez pulse sobre la opción<button class="btn_info">Vaciar Aulas</button>.</li>
            </ul>
            <div>
                <button id="vaciar">Vaciar Aulas</button>
            </div>
        </div> 
      </div>
      <div>
       <div class="derecha contenedor_registro" id="contenedor_asignar_aula">  
        <div>
            <div id="cabecera_lista">
                <h2>Educación Infantil</h2>
            </div>
            <div id="fondo_azul_osc">
                <table class="records_list" id="table_th_inf">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Nivel</th>
                        <th>Grupo</th>
                        <th id="th_aula_inf">Aula</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_inf">
                    <table id="lista_color">
                    {% for entity in entities %}
                        {% if entity.curso.nivel == "Infantil" %}
                        <tr id="{{ entity.id }}">
                            <td>{{entity.curso.curso}}</td>
                            <td>{{entity.curso.nivel }}</td>
                            <td>{{entity.letra}}</td>
                            <td>
                                {% if entity.aula != NULL %}
                                <input  value="{{ entity.aula.nombre }}" id="{{ entity.aula.id }}" class="asig" disabled=""></input>
                                {% else %}
                                <input  value=""></input>
                                {% endif %}
                            </td>
                            {#<td><button>Guardar</button></td>#}
                           <td>
                                {% if entity.aula != null %}
                                <img title="Eliminar aula del grupo" src="/Symfony/web/bundles/backend/images/menu/eliminar.png" alt="Icono de eliminar">
                                {% else %}
                                <img class="oculto" src="/Symfony/web/bundles/backend/images/menu/eliminar.png" alt="Icono de eliminar">
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
       </div>

       <div class="derecha contenedor_registro" id="contenedor_asignar_aula" >  
        <div>
            <div id="cabecera_lista">
                <h2>Educación Primaria</h2>
            </div>
            <div id="fondo_azul_osc">
                <table class="records_list" id="table_th_prim">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Nivel</th>
                        <th>Grupo</th>
                        <th id="th_aula_prim">Aula</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_prim">
                    <table id="lista_color">
                    {% for entity in entities %}
                        {% if entity.curso.nivel  == "Primaria" %}
                        <tr id="{{ entity.id }}">
                            <td>{{ entity.curso.curso}}</td>
                            <td>{{ entity.curso.nivel }}</td>
                            <td>{{ entity.letra}}</td>
                            <td>
                                {% if entity.aula != null %}
                                <input  value="{{ entity.aula.nombre }}" id="{{ entity.aula.id }}"  class="asig" disabled=""></input>
                                {% else %}
                                <input  value=""></input>
                                {% endif %}
                            </td>
                            {#<td><button>Guardar</button></td>#}
                            <td>
                                {% if entity.aula != null %}
                                <img title="Eliminar aula del grupo" src="/Symfony/web/bundles/backend/images/menu/eliminar.png" alt="Icono de eliminar">
                                {% else %}
                                <img class="oculto" src="/Symfony/web/bundles/backend/images/menu/eliminar.png" alt="Icono de eliminar">
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
       </div>
      </div>

      <div id="aulas_dialog" title="Asignación de Aulas"></div>

    </div>
    </div>
    </div>
    {% endblock %}

