{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
<script>
if($(window).width() > 1200){
    if($("#td_inf").hasScrollBar()){
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 24% !important');
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 20% !important');
    }

    if($("#td_prim").hasScrollBar()){
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 24% !important');
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 20% !important');
    }
}
else{
    if($("#td_inf").hasScrollBar()){
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 23% !important');
        $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 20% !important');
    }

    if($("#td_prim").hasScrollBar()){
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 23% !important');
        $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 20% !important');
    } 
}
$(window).resize(function(event) {
    if($(window).width() > 1200){
        if($("#td_inf").hasScrollBar()){
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 24% !important');
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 20% !important');
        }
        if($("#td_prim").hasScrollBar()){

            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 24% !important');
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 20% !important');
        } 
    }
    else{
        if($("#td_inf").hasScrollBar()){
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(1)").attr('style', 'min-width: 23% !important');
            $("#contenedor_asignar_aula div #table_th_inf th:nth-child(3)").attr('style', 'min-width: 20% !important');
        }
        if($("#td_prim").hasScrollBar()){
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(1)").attr('style', 'min-width: 23% !important');
            $("#contenedor_asignar_aula div #table_th_prim th:nth-child(3)").attr('style', 'min-width: 20% !important');
        }  
    }    
});
</script>
{% endblock %}

{% block body -%}
    <div id="asignar_aula" class="contenedor_tabla_no_selec">
    <div class="parent_no_form">
    <div class="child">
      <div class="simple_column_red">
        <div class="block_insert">
            <h2>Asignar Aula</h2></br>
            <p>- Se puede guardar todas las aulas asignadas a la vez.</p>

            </br></br>
            <div class="center_w60">
                <button id="button_grupos_all">Guardar Todo</button>
                </br></br></br>
                <button id="button_grupos_rest">Restablecer</button>
            </div>
        </div> 
      </div>
      <div>
       <div class="derecha contenedor_registro" id="contenedor_asignar_aula">  
        <div>
            <div id="cabecera_lista">
                <h2>Educación Infantil</h2>
            </div>
            <div id="fondo_azul_osc">
                <table class="records_list" id="table_th_inf">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Nivel</th>
                        <th>Grupo</th>
                        <th id="th_aula_inf">Aula</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_inf">
                    <table id="lista_color">
                    {% for entity in entities %}
                        {% if entity.curso.nivel == "Infantil" %}
                        <tr>
                            <td>{{entity.curso.curso}}</td>
                            <td>{{entity.curso.nivel }}</td>
                            <td>{{entity.letra}}</td>
                            <td>
                                <input value="{{entity.aula}}" id="aula">
                                    
                                </input>
                            </td>
                            <td><button>Guardar</button></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
       </div>

       <div class="derecha contenedor_registro" id="contenedor_asignar_aula" >  
        <div>
            <div id="cabecera_lista">
                <h2>Educación Primaria</h2>
            </div>
            <div id="fondo_azul_osc">
                <table class="records_list" id="table_th_prim">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Nivel</th>
                        <th>Grupo</th>
                        <th id="th_aula_prim">Aula</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_prim">
                    <table id="lista_color">
                    {% for entity in entities %}
                        {% if entity.curso.nivel  == "Primaria" %}
                        <tr>
                            <td>{{ entity.curso.curso}}</td>
                            <td>{{ entity.curso.nivel }}</td>
                            <td>{{ entity.letra}}</td>
                            <td>
                                <input  value="{{ entity.aula }}" id="aula">
                                </input>
                            </td>
                            <td><button>Guardar</button></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
       </div>
      </div>
    </div>
    </div>
    </div>
    {% endblock %}

