{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}

    <script>
    $("#festivos_nueva").hide();
    setTimeout(function(){

        $("#festivos_dia").prop('readonly', true);
        $("#festivos_mes").prop('readonly', true);
        $("#festivos_dia").attr('type', '');



        if($("#festivos_tipo").val()==""){
            $("#festivos_nueva").show();
            $("#tipo_festivo").removeClass("oculto");
            $("#mes_festivo_asig").removeClass("oculto");
            $("#dia_festivo_asig").removeClass("oculto");
        }
        else{
            $("#festivos_nueva").show();
            
            $("#tipo_festivo_asig input").prop('readonly', true); //input sólo lectura
            $("#tipo_festivo_asig").removeClass("oculto");
            $("#mes_festivo").removeClass("oculto");
            $("#dia_festivo").removeClass("oculto");

            if($("#festivos_nueva").attr("tipo")=="Nacional"){
                $("#tipo_festivo_asig input").val("Festivo Nacional");
            }
            else if($("#festivos_nueva").attr("tipo")=="Local"){
                $("#tipo_festivo_asig input").val("Festivo Local");
            }
            else{
                $("#tipo_festivo_asig input").val("Curso Actual");
            }
        }
    }, 5);
    $(".addregistro span[class='mensaje']").empty();
    </script>

{% endblock %}

{% block body -%}
    {{form_start(form, {'action':path('festivos_create'),'method':'POST','attr':{'id':'festivos_nueva' ,'class':'festivos_form' , novalidate:'novalidate', 'autocomplete':'off'}})}}
        {{ form_errors(form) }}
    	<div class="width100">
    		<div id="content-form">
        		<fieldset >
            		<legend>Añadir Festivo</legend>
                   		<div class="addregistro" >
                            <div id="tipo_festivo_asig" class="oculto">
                                <div>
                                    <label>Tipo</label>
                                    <input ></input>
                                </div>
                            </div>
                            <div id="tipo_f" class="oculto">
                                {{ form_row(form.tipo) }}
                            </div>
                            <div id="tipo_festivo" class="oculto" >
                                {{ form_label(form.tipo) }}
                                <select >
                                    <option selected="selected" class="oculto" value=" ">Tipo de Festivo</option>
                                    <option value="Local">Festivo Local</option>
                                    <option value="Nacional">Festivo Nacional</option>
                                    <option value="Curso">Curso Actual</option>

                                </select>
                            </div>

                            <div id="fecha_festivo">
                                <div id="dia_festivo" class="oculto">
                                    {{ form_label(form.dia) }}
                                    <select >
                                        <option selected="selected" class="oculto" value=" ">Día</option>
                                        {% for i in 1..31 %}
                                            <option value={{ "%02d" | format(i) }}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div id="dia_festivo_asig" class="oculto" >
                                    {{ form_row(form.dia) }}
                                </div>

                                <div id="mes_festivo" class="oculto">
                        	      {{ form_label(form.mes) }}
                                  <select >
                                    <option selected="selected" class="oculto" value=" ">Mes</option>
                                    <option value="01">Enero</option>
                                    <option value="02">Febrero</option>
                                    <option value="03">Marzo</option>
                                    <option value="04">Abril</option>
                                    <option value="05">Mayo</option>
                                    <option value="06">Junio</option>
                                    <option value="07">Julio</option>
                                    <option value="08">Agosto</option>
                                    <option value="09">Septiembre</option>
                                    <option value="10">Octubre</option>
                                    <option value="11">Noviembre</option>
                                    <option value="12">Diciembre</option>
                                  </select>
                                </div>

                                <div id="mes_festivo_asig" class="oculto">
                                    {{ form_row(form.mes) }}
                                </div>
                            </div>
                        	{{ form_row(form.descripcion) }}
                    	</div>
        		</fieldset>
                <span class='red oculto'>*Dato Requerido</span>   
    		</div>  
    		<div id="botones_dialogo">
        		{{ form_row(form.submit) }}
    		</div>
    		 <div class="oculto">
        		{{ form_rest(form) }} 
    		</div>
    	</div>
    {{form_end(form)}}
{% endblock %}

