{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}

  <script>

  inicio_d={{ inicio.inicioCurso|date('d') }};
  inicio_m= {{ inicio.inicioCurso|date('m') }};
  inicio_a= {{ inicio.inicioCurso|date('Y') }};  
  fin_d={{ fin.finCurso|date('d') }};
  fin_m= {{ fin.finCurso|date('m') }};
  fin_a= {{ fin.finCurso|date('Y') }};

  $.datepicker.regional['es'] = {
    closeText: 'Cerrar',
    prevText: '<Ant',
    nextText: 'Sig>',
    currentText: 'Hoy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
    weekHeader: 'Sm',
    dateFormat: 'dd/mm/yy',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''
  };
  
  $.datepicker.setDefaults($.datepicker.regional['es']);

  if(new Date()<new Date(inicio_a, inicio_m-1, inicio_d)){
    min=new Date(inicio_a, inicio_m-1, inicio_d);
  }
  else{
    min=new Date();
  }
// beforeShowDay: $.datepicker.noWeekends (Para deshabilitar fines de semana)
  $( "#registrar_evento #dia_evento" ).datepicker({ minDate: min, maxDate: new Date(fin_a, fin_m-1, fin_d),beforeShowDay: $.datepicker.noWeekends, defaultDate: null,
    onChangeMonthYear:function () {
      $("#registrar_evento #actualizar_calendario_lectivo").trigger("click");
    },    
    onSelect: function (date,inst) {

      d=$("#registrar_evento #contenedor_evento .ui-datepicker-calendar a[class*='ui-state-active']").text();
      m=('0'+(parseInt($("#registrar_evento #contenedor_evento .ui-datepicker-calendar a[class*='ui-state-active']").closest("td").attr("data-month"))+1)).slice(-2);
      a=$("#registrar_evento #contenedor_evento .ui-datepicker-calendar a[class*='ui-state-active']").closest("td").attr("data-year");
      fecha=d+"/"+m+"/"+a;
      // Se evita darle click al día seleccionado.
      if(fecha!=date){
        // Se desactiva el botón de guardar al cambiar de día.
        $("#registrar_evento #reserva_save").prop("disabled",true);

        // Se establece como falso para impedir el redibujado en la función interna de la libreria jquery-ui (if (inst.inline) {this._updateDatepicker(inst);...})
        inst.inline = false;
        // Se elimina los estilos de la selección existente.
        $("#registrar_evento #contenedor_evento .ui-datepicker-calendar .ui-datepicker-current-day").removeClass("ui-datepicker-current-day").children().removeClass("ui-state-active");
        $("#registrar_evento #contenedor_evento .ui-datepicker-calendar tbody a[class*='ui-state-active']").removeClass("ui-state-active");
        // Se busca el enlace seleccionado y se le aplica los estilos.
        $("#registrar_evento #contenedor_evento .ui-datepicker-calendar tbody a").each(function(){
          if ($(this).text() == inst.selectedDay) {
            $(this).addClass("ui-state-active");
            $(this).parent().addClass("ui-datepicker-current-day");
          }
        });
        //Se simula el darle click a un día, guardando el día en un input y haciendo click para capturar el evento en general.js
        dia=date.split("/");
        $("#registrar_evento #dia_seleccionado").attr("value",date);
        $("#registrar_evento #dia_seleccionado").trigger("click");
      }
    } 
  });
  $('#registrar_evento #contenedor_evento a[class*="ui-state-disabled"]').hide();
  $("#registrar_evento #actualizar_calendario_lectivo").trigger("click");
  
  // Se comprueba si estan registradas las fechas del curso.
  $.ajax({
    type: 'POST',
    url: Routing.generate('comprobar_fechas_curso'),
    dataType: 'json',
    success: function(response) {
      // Se muestra un aviso indicando si falta alguna fecha por registrar y se cierra la opción de añadir eventos.
      if(response.curso==null || response.navidad==null || response.semanasanta==null ){
        texto="<p class='justificado'>Para poder añadir un evento debe completar el calendario del curso con las siguientes fechas:</p><br/>";
        if(response.curso==null){
          texto+="<h4>Fecha de inicio y fin del curso</h4> <br/>";
        }
        if(response.navidad==null){
          texto+="<h4>Vacaciones de Navidad</h4> <br/>";
        }
        if(response.semanasanta==null){
          texto+="<h4>Vacaciones de Semana Santa</h4> <br/>";
        }

        titulo="No se puede añadir eventos";


        swal({
          title: titulo,
          text: texto,
          type: 'warning',
          showCancelButton: false,
          allowOutsideClick: false,
          confirmButtonColor: color,
          animation: false,
          closeOnConfirm: true,
          html: true,
          //timer:10000,
          animation: false
          }, 
          function(){
            swal.close();
            div=$(".contenido_main").find("div[id^='tabs-'][style='display: block']");
            $(" li[aria-controls='"+div.attr("id")+"'] span").trigger("click");
          }
        );
      }
    }
  })

  $(".time_element").timepicki({
    show_meridian:false,
    min_hour_value:7,
    max_hour_value:20,
    step_size_minutes:15,
    overflow_minutes:true,
    increase_direction:'up',
    start_time: ["07", "00"],
    disable_keyboard_mobile: true
  });

  //Se añade el separador de la hora.
  $("#registrar_evento .timepicker_wrap .time").after(":");
    
  //Se añade el checkbox con la opción "Todo el día" para la hora.
  $("#hora").after('<div id="all_day"><input type="checkbox" value="" disabled="disabled">Todo el día</input></div>');

</script> 

{% endblock %}

{% block body %}
  <div id="registrar_evento" class="contenedor_principal_con_titulo general_container">
    <div class="parent_no_form">
      <div class="child">
          <h2>Añadir Eventos</h2>
        <div class="contenedor_principal_reserva">
          <div class="tiple_column_no_form">
            <span>1. Seleccione una fecha para el evento:</span>
            <div class="parent_no_form">
            <div class="child">
              <div class="contenedor_reserva" id="contenedor_evento">
                <div id="dia_evento" class="calendario_lectivos"></div>
                <div id="div_leyenda" class="oculto"></div>
                <input id="dia_seleccionado" class="oculto"></input>
                <button id="actualizar_calendario_lectivo" class="oculto"></button>
              </div>
            </div>
            </div>
          </div>

          <div class="two_big_column_no_form">
            <span>2. Añada los datos del evento:</span>
            <div class="parent_no_form">
            <div class="child">
              <div id="container_evento"class="contenedor_reserva">
                <div class="f_left">
                  <label>Título</label>
                  <input id="titulo" disabled="disabled" placeholder="Inserte un título breve"></input>                  
                </div>
                <div class="f_left">
                  <label>Categoría</label>
                  <select id="categoria" disabled="disabled">
                    <option value="general" selected="selected">General</option>
                    <option value="infantil">Ed. Infantil</option>
                    <option value="primaria">Ed. Primaria</option>
                    <option value="profesor">Profesores</option>
                  </select>                  
                </div>
                <div class="f_left">
                  <label>Hora</label>
                  <input id="hora" disabled="disabled" type="text" name="timepicker" class="time_element"></input>
                </div>
                <div>
                  <label>Descripción</label>
                  <textarea id="descripcion" disabled="disabled"></textarea>                  
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="btn_save">
            <div>
              <button id="reserva_save" disabled="disabled">Guardar</button>
              {#<button id="reserva_rest" disabled="disabled">Borrar</button>#}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
