{% for entity in entity %}
  <div class="columna_foto">
  {% if entity.foto != null %}
    <img id="foto" class="img-mini" src="{{ asset('uploads/images/' ~ entity.foto) }}">
  {% else %}
    {% if entity.sexo == "Femenino" %}
    <img id="sin_foto" class="img-mini" src="{{ asset('bundles/backend/images/perfil/SinFoto-ni単a.png') }}">
    {% else %}
    <img id="sin_foto" class="img-mini" src="{{ asset('bundles/backend/images/perfil/SinFoto-ni単o.png') }}">
    {% endif %}
  {% endif %}
  </div>
  <div>

    <h3>Responsables:</h3>
    <ul>
      <li> {{ entity.responsable1.nombre }}</li> {#Se a単ade el contenido mediante javascript#}
      {% if entity.responsable2 %}
      <li> {{ entity.responsable2.nombre }}</li> {#Se a単ade el contenido mediante javascript#}
      {% endif %}
    </ul>

    </div>
{% endfor %}

