{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}

    <script >
        // Asígnamos un valor por defecto al input radio de los formularios de creación.
        $("form[id$='nuevo'] input[id$='_sexo_0']").attr("checked","checked");
        
        // Se deshabilita el campo file inicialmente.
        $("#alumno_foto").prop("disabled", true);  

        // Se habilita y deshabilita el campo file de la foto según la opción del radio.
        $("#foto_no").focus(function(){
            $("#alumno_foto").prop("disabled", true);
            //Se asigna restablece el valor en el input y se elimina el nombre del archivo del div leyenda.
            $("#alumno_foto").val("");
            $(this).closest("div").find("div[id='leyenda']>p").remove();
        });

        $("#foto_si").focus(function(){
          $("#alumno_foto").prop("disabled", false);  
        });

        // Se deshabilita los campos del segundo responsable por defecto, excepto el Dni.
        $("form").find(":input[id^='alumno_responsable2_']").each(function(){ 
            $(this).prop("disabled", true);
        });
        $("#alumno_responsable2_dni").prop("disabled", false);

        // Se muestra por defecto la primera pestaña del formulario y se selecciona el primer campo.
        var sel= $("#tabs ul li a[title='Nuevo Alumno']").closest("li").attr("aria-controls");

        if($("#"+sel+" #tab-container li:first").attr("class")=="selected"){
            $("#"+sel+" #content-form-menu").find("[id^='tab']").hide(); // Se oculta todo el contenido.
            $("#"+sel+" #tabs-form li:first").attr("class","selected"); // Se activa la primera pestaña.
            $("#"+sel+" #content-form-menu #tab1").css("display","inline"); // Se muestra el contenido de la primera pestaña.
            //$("#"+sel+" #tab1 input:first").focus(); // Se selecciona el primer campo por defecto.
        }

        // Se elimina el contenido de la etiqueta de fecha de nacimiento para que muestre bien el aviso de error(se añade con css).
        $("label[for^='alumno_res'][for$='_fechaNacimiento']").text("");

        //Comprobamos si hay cursos sin plazas libres para deshabilitarlo de la lista de cursos.
        $.ajax({
            type: 'POST',
            url: Routing.generate('cursos_sin_plazas'),
            dataType: 'json',
            success: function(response) { 
                for( var key in response.cursos){
                    $("#alumno_nuevo #alumno_cursoIngreso option[value='"+response.cursos[key]+"']").prop('disabled', true);
                }   

            }
        })


    </script>

{% endblock %}

{% block body %}
    {# {{ form_enctype(form) }} es obsoleto en Symfony 2.3
    <form class="formulario_alumno" id="alumno_nuevo" action="{{ path('alumno_create') }}" novalidate method="post" autocomplete="off"{{ form_enctype(form) }}> #}
    {{form_start(form, {'action':path('alumno_create'),'method':'POST','attr':{'class':'formulario_alumno', 'id':'alumno_nuevo', novalidate:'novalidate', 'autocomplete':'off'}})}}

    {{ form_errors(form) }}
    <div >
    <div id="tab-container">
        <ul >
            <li class="selected"><a href="javascript:void(0);" name="tab1">Datos Personales</a></li>
            <li><a href="javascript:void(0);" name="tab2">Datos Responsables</a></li>
            <li><a href="javascript:void(0);" name="tab3">Otros Datos de Interés</a></li> 
        </ul>
    </div>
        
    <div id="content-form-menu">
        <div id="tab1" >
            <fieldset class="simple">
                <legend>Registro de Alumnos</legend>
                <div class="parent">
                <div class="child">
                <div class="izquierda">
                    {{ form_row(form.nombre) }}
                    {{ form_row(form.apellido1) }}
                    {{ form_row(form.apellido2) }}
                    {{ form_row(form.direccion) }}
                    {{ form_row(form.localidad) }}
                    {{ form_row(form.provincia) }}
                    {{ form_row(form.cp) }}
                    {{ form_row(form.telefono) }}
                    {{ form_row(form.fechaNacimiento) }}
                    {{ form_row(form.sexo) }}
                </div>
                </div>
                </div>
            </fieldset>
        </div>
       
        <div id="tab2">
            <div class="parent">
            <div class="child">
            <fieldset class="double">
                <legend>Datos Primer Responsable</legend>
                <div class="horizontal" id="primero">
                    <div class="dis_block">
                        {{ form_row(form.responsable1.dni) }}
                        <div class="full_name_div">
                            {{ form_label(form.responsable1.nombre) }}
                            {{ form_widget(form.responsable1.nombre) }}
                        </div>
                        {{ form_row(form.responsable1.fechaNacimiento) }}                 
                    </div>
                    <div class="dis_block">
                        {{ form_row(form.responsable1.profesion) }}
                        {{ form_row(form.responsable1.estadoCivil) }}
                        {{ form_row(form.responsable1.movil) }}
                        {{ form_row(form.responsable1.email,{'attr': {'class': 'your-text_transform_none'}}) }}
                    </div>
                </div>
            </fieldset>

            <fieldset class="double">
                <legend>Datos Segundo Responsable (opcional)</legend>
                <div class="horizontal" id="primero">
                    <div class="dis_block">
                        {{ form_row(form.responsable2.dni) }}
                        <div class="full_name_div">
                            {{ form_label(form.responsable2.nombre) }}
                            {{ form_widget(form.responsable2.nombre) }}
                        </div>
                        {{ form_row(form.responsable2.fechaNacimiento) }}
                    </div>
                    <div class="dis_block">
                        {{ form_row(form.responsable2.profesion) }}
                        {{ form_row(form.responsable2.estadoCivil) }}
                        {{ form_row(form.responsable2.movil) }}
                        {{ form_row(form.responsable2.email,{'attr': {'class': 'your-text_transform_none'}}) }}
                    </div>
                </div>
            </fieldset>
            </div>
                </div>
        </div>
            
        <div id="tab3">
            <fieldset class="simple">
                <legend>Otros Datos de Interés</legend>
                <div class="parent">
                <div class="child">
                <div class="block"> 
                    {{ form_row(form.cursoIngreso) }}
                        {# Otra forma de mostrar lista seleccionable
                        <ul>
                            <li>    
                            {{ render(controller("BackendBundle:Curso:listaCursos")) }}
                            </li> 
                        </ul>
                        #}
                    {{ form_row(form.grupoSangre) }}
                    <label class="required">Foto</label>
                    <div>
                        <input id="foto_no" type="radio" required="required" name="alumno[foto]" checked="checked">
                        <label class="required" for="foto_no">Subirla más tarde.</label>
                        <input id="foto_si" type="radio" required="required" name="alumno[foto]">
                        <label class="required" for="foto_si">Subirla ahora.</label>
                        {{ form_widget(form.foto) }}
                        <div id="leyenda"></div>
                    </div>
                </div>
                <div class="block"> 
                    {{ form_row(form.observaciones) }}
                </div>
                </div>
                </div>
            </fieldset>
        </div>
    </div>
        
    <div id="botones_form">
        {{ form_row(form.submit) }}
        {{ form_row(form.limpiar) }}
    </div>
    <div class="oculto">
        {{ form_rest(form) }} 
    </div>
    <div id="result"></div>
    </div>
    {{form_end(form)}}

{% endblock %}