{% extends  'IntranetBundle:Default:index.html.twig' %}


{% block javascript %}
{{parent()}}
<script>
  setTimeout(function(){
	$(".bloque-dashboard").each (function(){ 
        id=$(this).attr("id");
    	$.ajax({
        	type: 'POST',
        	url: Routing.generate('nuevas_noticias_alumno', {id:id, _locale:"es"}),
        	success: function(response){
            	//Si hay nuevas noticias sin leer, se indica en el contenedor de selección de cada alumno.
            	if(response.num!=0){
                	$(".dashboard div[id='"+response.id+"'] #barraanunciosmovil span:nth-child(2)").text(response.num);
					$(".dashboard div[id='"+response.id+"'] #barraanunciosmovil span:nth-child(2)").addClass('c_amarillo');
            	}
        	}
    	})
    });
  }, 5);
</script>
{% endblock %}

{% block contenido %}
{{parent()}}
 {% if hijos != null %}
    {% for entity in hijos %}
        <div class="col-md-6 col-sm-6 col-xs-12 bloque-dashboard" id="{{entity.id}}">
        	<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" title="{% trans %}Acceder al área del alumno{% endtrans %}">
				<div class="bloque bloque-stats">
					<div class="informacion">
						<div class="stats-title">
							<table><tbody><tr><td>{{ entity }}</td></tr></tbody></table>
						</div>
						<div class="foto">
							{% if entity.foto != null %}
           						 <img id="foto" class="img-rounded" alt="{{entity}}" src="{{ asset('uploads/images/' ~ entity.foto) }}">
            				{% else %}
              					{% if entity.sexo == "Femenino" %}
                					<img id="sin_foto" class="img-rounded" alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-niña.png') }}">
              					{% else %}
                					<img id="sin_foto" class="img-rounded" alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-niño.png') }}">
              					{% endif %}
   	        				{% endif %}
						</div>

					</div>
					<div class="stats-icon stats-icon-lg col-md-4 col-xs-2 icono">
					</div>
					<div class="stats-progress progress"></div>
					<div class="avisos">
						<ul class="nav navbar-nav">
							<li id="barramensajesmovil">
								<span class="fa fa-envelope-o animated swing"></span>
								<span class="label-as-badge label azul nummensajes">0</span>	
							</li>
							<li id="barraanunciosmovil" class="barramensajes">
								<span class="fa fa-newspaper-o animated swing"></span>
								<span class="label-as-badge label verde numanuncios">0</span>
							</li>
							<li id="barraalertasmovil" class="barramensajes">
								<span class="fa fa-comments animated swing"></span>
								<span class="label-as-badge label naranja numalertas">0</span>
							</li>
						</ul>
					</div>
				</div>
			</a>
        </div>
        <script>
        	$("#wrapper #responsable").removeClass('hidden');
        </script>
    {% endfor %}
  {% else %}
	<div class="alert alert-info alert-block">
		<small>
			<h4>{% trans %}Actualmente no tienes hijos matriculados en el sistema{% endtrans %}.</h4>
			<h6>{% trans %}Por favor verifica que el proceso de matriculación ha finalizado o pongase en contacto con el centro{% endtrans %}.</h6>
		</small>
	</div>
  {% endif %}
{% endblock %}

{% block menu_movil%}

	<li id="inicio" class="active visible-xs" >
		<a href="{{path('intranet')}}">
			<i class="fa fa-dashboard"></i>
			{% trans %}Inicio{% endtrans %}
		</a>
	</li>

	<li id="perfil" class="visible-xs">
		<a href="{{path('intranet_perfil')}}">
			<i class="fa fa-user"></i>
			{% trans %}Mi perfil{% endtrans %}
		</a>
	</li>
	<li class="visible-xs">
		<a class="c_azul" href="{{path('logout')}}">
			<strong>
				<i class="fa fa-sign-out"></i>
				{% trans %}Cerrar sesión{% endtrans %}
			</strong>
		</a>
	</li>
{% endblock %}

