{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}


  <script src="{{ asset('bundles/backend/js/tinymce/js/tinymce/tinymce.min.js') }}" type="text/javascript"></script>

  <script>
  // Editor: descripción
  tinymce.init({ 
    //selector:'textarea',
    selector:".editor_completo",
    editor_selector : "mceEditor",//Se añade éste selector como clase al textearea para poder usar luego  el id del textarea como selector de Jquery.
    language: 'es', 
    theme: 'modern',
    plugins : 'fullscreen advlist autolink link image lists charmap print preview media filemanager insertdatetime table imagetools emoticons textcolor hr directionality searchreplace',
    toolbar1: " fullscreen preview  | undo redo |  bullist numlist |  insertdatetime table  | image filemanager | link unlink | ltr rtl |  subscript superscript  | searchreplace | hr emoticons ",
    toolbar2:"styleselect | fontselect | fontsizeselect | bold italic underline | forecolor backcolor |  alignleft aligncenter alignright alignjustify | outdent indent |",
    //menubar : 'file edit view',
    // menubar : false,
    //Se añade a los formatos de estilo por defecto dos para ajustar imagen al texto.
    style_formats_merge: true,

    style_formats: [
      {title: 'Imagen a la izquierda', selector: 'img', styles: {
        'float' : 'left',
        'margin': '0 15px 0 15px'
      }},
      {title: 'Imagen a la derecha', selector: 'img', styles: {
        'float' : 'right',
        'margin': '0 15px 0 15px'
      }},
    ],
      content_style: "p {margin: 2px;}",

    relative_urls: false,
    remove_script_host: false,
    forced_root_block:"p",
    height : 240 ,
    // enable title field in the Image dialog
    image_title: true, 
    // enable automatic uploads of images represented by blob or data URIs
    automatic_uploads: true,
    // URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
    images_upload_url: "{{ asset('bundles/backend/js/tinymce/source/postAcceptor.php') }}",
    // here we add custom filepicker.
    file_picker_types: 'image file media', 
    // and here's our custom image picker
    file_picker_callback: function(cb, value, meta) {

    //win.document.getElementById(field_name).value = 'example'; //Input que contiene la url de la imagen a buscar.
    
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');
    
      // Note: In modern browsers input[type="file"] is functional without 
      // even adding it to the DOM, but that might not be the case in some older
      // or quirky browsers like IE, so you might want to add it to the DOM
      // just in case, and visually hide it. And do not forget do remove it
      // once you do not need it anymore.

      input.onchange = function() {
        var file = this.files[0];
        // Note: Now we need to register the blob in TinyMCEs image blob
        // registry. In the next release this part hopefully won't be
        // necessary, as we are looking to handle it internally.
        var id = 'blobid' + (new Date()).getTime();
        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
        var blobInfo = blobCache.create(id, file);
        blobCache.add(blobInfo);
      
        // call the callback and populate the Title field with the file name
        cb(blobInfo.blobUri(), { title: file.name });
      };
      input.click();
    },
    //Se comprueba que el título y la descripción no esté vacía para mostrar el botón de guardar.
    setup : function(ed) {
      ed.on('change keyup paste click input propertychange blur cut', function(e) {
        if(ed.getContent()!="" && $("#registrar_noticias #titulo").val()!="" ){
          $("#registrar_noticias #save").prop("disabled",false);
        }
        else{
          $("#registrar_noticias #save").prop("disabled",true);
        }
        //Se valida el contenido del editor cuando se modifica.
        $("#noticias_edit .editor").find(".error").remove();
        descripcion=tinyMCE.get('noticias_descripcion').getContent();  
        if(descripcion==""){
          $("#noticias_edit .editor>label").append("<span class='error'>Dato Requerido</span>");
          $("#noticias_edit .editor>div").addClass("invalid");
          $("#noticias_edit #noticias_descripcion").attr("validated",false);
          if(titulo!=""){
            tinyMCE.get('noticias_descripcion').focus();
          }
        }
        else{
          $("#noticias_edit .editor>div").removeClass("invalid");
          $("#noticias_edit #noticias_descripcion").attr("validated",true);     
        }
      });
      // Cuando se carga el editor
      ed.on('init', function(args) {
        $("#capa").remove();
      });
    },
  });

  // Insertar Imagen de la Noticia.
  $("#imagen_noticia_dialog").dialog({
    bgiframe: true,
    autoOpen: false,
    height: 550,
    width: 800,
    modal: true,
    resizable: false,
    close: function( event, ui ) {
      //$(".ui-widget-overlay").remove();
    }
  });

  $('#imagen_noticia_dialog').on('dialogclose', function(event) {
    $('#imagen_noticia_dialog').empty();
  });

  // Deslizador vertical
  $( "#noticias_edit #slider-vertical" ).slider({
    orientation: "vertical",
    range: "min",
    min: -180,
    max: 0,
    value: -90,
    slide: function( event, ui ) {
      //Se actualiza la posición de la imagen que se mostrará en la lista de nocitias.
      $( "#noticias_edit #cont_imagen" ).css('background-position', "0px "+ui.value+"px");
      $( "#noticias_edit #slider-vertical" ).attr("value", ui.value);
    }
  });

  // Insertar Galería.
  $("#galeria_noticia_dialog").dialog({
    bgiframe: true,
    autoOpen: false,
    height: 550,
    width: 800,
    modal: true,
    resizable: false,
    close: function( event, ui ) {
      $(".ui-widget-overlay").remove();
      //Se elimina el contenido de la ventana modal al cerrarla.
      $("#galeria_noticia_dialog #list li").remove();
      $('#galeria_noticia_dialog #num_imagenes').empty();
    }
  });

  if($("#noticias_edit #noticias_foto").val()!=""){

    dir= "/Symfony/web/uploads/noticias/"+$("#noticias_edit #noticias_foto").val();
    $("#noticias_edit #imagen_noticia #cont_imagen img").attr("src",dir);
    $("#noticias_edit #imagen_noticia #cont_imagen_mini img").attr("src",dir);

    $("#noticias_edit #imagen_noticia #cont_imagen img").attr("file",$("#noticias_edit #noticias_foto").val());
    $("#noticias_edit #imagen_noticia #cont_imagen_mini img").attr("file",$("#noticias_edit #noticias_foto").val());

    $(".imgLiquidFill").imgLiquid();

    foto=$("#noticias_edit #noticias_foto").val();
    position1=foto.indexOf("_");
    position2=foto.indexOf(".");
    slider= foto.substring(parseInt(position1)+1, parseInt(position2));
    $("#noticias_edit #cont_imagen" ).css('background-position', "0px "+slider+"px");
    $("#noticias_edit #slider-vertical").slider("value", slider);
    setTimeout(function() {
      $("#noticias_edit #imagen_noticia").removeClass("oculto");
      $("#noticias_edit #insertar_imagen_edit button").prop("disabled",true);
    }, 100); 

  }

  if($("#noticias_edit #noticias_galeria").val()!=""){

    var imagenes = {{imagenes|json_encode|raw}};
      /*for (var imagen in imagenes) {
          alert(imagenes[imagen]);
      }*/
    $("#noticias_edit #galeria_noticia #galeria_show div").remove();
     
     imagenes.forEach(function(item){
      $("#noticias_edit #galeria_show").append("<div id='cont_imagen_mini' class='imgLiquidFill imgLiquid'><img src='/Symfony/web/uploads/noticias/galeria/"+$("#noticias_edit #noticias_galeria").val()+"/"+item+"' alt='Imagen de la galería'/></div>");
      $(".imgLiquidFill").imgLiquid();
    });
    $("#noticias_edit #galeria_noticia").attr("title",$("#noticias_edit #noticias_galeria").val().replace(/_/g, " "));
    
  titulo=$("#noticias_edit #galeria_noticia").attr("title").split(' ').join('_');

  $.ajax({
    type: 'POST',
    url: Routing.generate('renombrar_galeria'),
    data:{titulo:titulo}, 
    dataType: 'json',
    success: function(response){
    }
  });
    
    setTimeout(function() {
      $("#noticias_edit #galeria_noticia").removeClass("oculto");
          $("#noticias_edit #insertar_galeria_edit button").prop("disabled",true);

    }, 100); 
  }
 if($("#noticias_edit #noticias_mostrarFoto").is(':checked')){
  $("#noticias_edit #btn_activos").addClass('btn_selected');
  $("#noticias_edit #btn_inactivos").removeClass('btn_selected');
  
  $("#noticias_edit #btn_activos #show").removeClass('oculto');
  $("#noticias_edit #btn_inactivos #hidden").addClass('oculto');
 }
 else{
  $("#noticias_edit #btn_activos").removeClass('btn_selected');
  $("#noticias_edit #btn_inactivos").addClass('btn_selected');

  $("#noticias_edit #btn_activos #show").addClass('oculto');
  $("#noticias_edit #btn_inactivos #hidden").removeClass('oculto');
 }

  </script>
{% endblock %}

{% block body %}
    {{form_start(edit_form, {'action':path('noticias_update',{'id':entity.id}),'method':'Put','attr':{'class':'edit_noticia', 'id':'noticias_edit', novalidate:'novalidate', 'autocomplete':'off'}})}}

        {{ form_errors(edit_form) }}
    <div >
    <div id="content-form">
        <fieldset >
            <legend>Editar Noticia</legend>
              <div id="container_noticia">

                <div id="input_titulo" class="f_left">     
                  {{ form_row(edit_form.titulo) }}
     
                </div>
                <div class="f_left ">
                  {{ form_row(edit_form.categoria) }}      
                </div>
                <div id="insertar_imagen_edit" class="f_left ">
                  <label>Imagen</label>
                  <button title="Suba una imagen para la lista de noticias">Insertar Imagen</button>                  
                </div>
                <div id="insertar_galeria_edit" class="f_left ">
                  <label>Galería</label>
                  <button title="Insertar galería de fotos en la noticia">Insertar Galería</button>                  
                </div>
				        <div id="imagen_noticia" class="oculto">
                  <div id="mostrar_imagen" >
                    <label>Imagen Noticia</label><span>Utilice el deslizador vertical para ajustar la vista de la imagen en la lista de noticias</span>
                      <div id='cont_imagen' title="Imagen para la lista de noticias." class='imgLiquidFill imgLiquid'>
                        <img id="image_" src='' alt='Imagen subida' />
                      </div>
                  </div>
                  <div id="slider-vertical" value="-90"></div>
                  <div id="cambiar_imagen_edit">
                      <div id='cont_imagen_mini' class='imgLiquidFill imgLiquid'>
                        <img id="image_" src='' alt='Imagen subida' />
                      </div>
                      <button >Cambiar</button>
                      <button id="btn_eliminar">Eliminar</button>
                      <div class="btn_2opciones">
                        <span>Imagen en el contenido.</span>
                        <label id="btn_activos" title="La imagen se mostrará en el contenido de la noticia." class="btn_selected" for="activos">
                        <img id="show" src="/Symfony/web/bundles/backend/images/menu/show_icon_white.png">Mostrar</label>
                        <input id="activos" name="activos" type="radio">
                        <label id="btn_inactivos" title="La imagen se ocultará en el contenido de la noticia."  for="inactivos">Ocultar
                          <img id="hidden" src="/Symfony/web/bundles/backend/images/menu/hidden_icon_white.png" class="oculto"></label>
                        <input id="inactivos" name="inactivos" type="radio">
                      </div>                
                  </div>
                </div>
                <div id="galeria_noticia" class="oculto">
                  <label>Galería de fotos</label>
                    <div id='cont_galeria'>
                      <div id='galeria_show'>
                      
                      </div>
                      <div id='galeria_menu'>
                        <button id="btn_cambiar">Cambiar</button>
                        <button id="btn_eliminar">Eliminar</button>
                      </div>
                    </div>
                </div>
                <div class="editor">
                  {{ form_label(edit_form.descripcion) }}
                  <div id="capa" class="ajaxload"><img src="/Symfony/web/bundles/backend/images/loading.gif"/></div>
                  {{ form_widget(edit_form.descripcion, { 'attr':{'class':'mceEditor editor_completo oculto'}}) }}

                </div>
                <div id="imagen_noticia_dialog" title="Añadir Imagen"></div>
                <div id="galeria_noticia_dialog" title="Añadir Galería de fotos"></div>
                </div>
        </fieldset>       
    </div>
        
    <div id="botones_form">
      {{ form_row(edit_form.submit) }}
      <div>
        <button id="noticia_restablecer" type="button" name="noticia[restablecer]" >Restablecer</button>
      </div> 
    </div>
    <div class="oculto">
        {{ form_rest(edit_form) }} 
    </div>
    </div>
    {{form_end(edit_form)}}

{% endblock %}