{% extends  'ColeBundle:Default:index.html.twig' %}

{% block contenido %}

    {% for noticia in pagination %}
	  <article class="contenedor_noticia ">
      {% if noticia.foto != null %}
        <div class="contenido_noticia">
            <div class="imgLiquidFill  img-small imgLiquid">
                <a href="{{ path('noticia', {'id': noticia.id}) }}"><img src="{{ asset('uploads/noticias/'~ noticia.foto)}}" alt="Imagen de la Noticia"></a>
            </div>
      {% else %}
        <div class="contenido_noticia no_foto">
      {% endif %}
            
            <a href="{{path('noticia', {'id': noticia.id}) }}"><h2 class=" no-margin ">{{noticia.titulo}}</h2></a>

            <span><strong> {{ noticia.fecha | localizeddate('none', 'none', 'none',none , " d 'de' MMMM 'de' Y '-' H:mm'h.'") | capitalize}}</strong></span>                  
            {% set paragraphs = noticia.descripcion|striptags|truncate(300,true)|raw|nl2br %}
            
            {% set paragraphs = paragraphs|split('<br />') %}

            {% set summary = "" %}
            {% set cont = 90 %}
            {% set type = "" %}
            
            {% if paragraphs|length == 1 %}
                {% set summary =  paragraphs[0] %}
                {% if summary|length <= 300 %}
                    {% set type = "" %}
                {% else %}
                    {% set type = "anything" %}
                {% endif %}
            {% else %}
                {% for i in 1..(paragraphs|length) %}

                {% if summary|length + cont + paragraphs[i-1]|length  <= 500 %}
                    {% set summary = summary  ~ "<br>" ~ paragraphs[i-1] %}
                    {% set cont = cont + 90 %}
                {% else %}
                    {% set type = "anything" %}
                {% endif %}
               {% endfor %}
            {% endif %}
            {# En el caso de que una descripción tenga menos de 300 caracteres nos e mostraría la opción "Leer más", para ello usamos la variable type anterior.#}
            {% if type != "" %}
                <p>{{ summary|striptags|truncate(300,true)|raw }}<a class="href_blue" href="{{ path('noticia', {'id': noticia.id}) }}"> <strong> [Leer más] </strong></a></p>
            {% else %}
                <p>{{ summary|striptags|truncate(300,true)|raw|nl2br }}<a class="href_blue" href="{{ path('noticia', {'id': noticia.id}) }}"></a></p>
            {% endif %}
        </div>
      </article>
    {% endfor %}

    {# display navigation #}
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}


{% block aside %}
    <article class="aside_columna aside_twiter">
        <h3>Siguenos en Twiter</h3>
        <div>
            <a class = "twitter-timeline"
                data-height="300"
                data-chrome="nofooter,noheader"
                Href = "https://twitter.com/steresaleon">
            </a>
        </div>
    </article>
    <article class="aside_columna">
        <h3>Siguenos en Facebook</h3>
        <div class="fb-page" 
            data-href="https://www.facebook.com/mariateresa.leon.35/"
            data-width="300"
            height="300"
            data-small-header="true" 
            data-adapt-container-width="true"
            data-tabs="timeline"
            data-hide-cover="false"
            data-show-facepile="false" 
            data-show-posts="false">
        </div>
    </article>
{% endblock %}




{% block migas %}
<a href="{{ path('index') }}">Inicio</a> > Noticias
{% endblock %}