{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
    <script>
    if($("#contenedor_registro_horario #lista_color tbody tr").length==0){
        $("#contenedor_registro_horario #aviso_horario").removeClass("oculto");
    }
    else{
        $("#contenedor_registro_horario #aviso_horario").addClass("oculto");
    }

    $("#contenedor_registro_horario").find("input").each(function(i){
        $(this).attr("tabindex",i+1);
    });

    $("#contenedor_registro_horario").find("input").each (function(){
        $(this).attr("val_ini",$(this).val());
    });

    $("#horario_centro_dialog").dialog({
    bgiframe: true,
    autoOpen: false,
    height: 395,
    width: 470,
    modal: true,
    resizable: false,
    close: function( event, ui ) {
      // Se comprueba si no hay horario del centro registrado. En caso de que no exista se cierra la pestaña al cerrar la ventana para obligar a registrarlo.   
      if($("#horario_centro_dialog>div").hasClass("nuevo")){     
          div=$(".contenido_main").find("div[id^='tabs-'][style='display: block']");
          $(" li[aria-controls='"+div.attr("id")+"'] span").trigger("click");
      }
      $("#horario_centro_dialog").empty();
    }
  });

    //Si el horario está registrado se asigna al input.
    if({{inicio|json_encode()|raw}}!=null){
        $("#registro_horario #inicio_horario_disable").val({{ inicio|json_encode()|raw }});
        $("#registro_horario #fin_horario_disable").val({{ fin|json_encode()|raw }});
    }

  // Se comprueba si existe horario del centro registrado, sino se obliga a registrarlo.
  if($("#inicio_horario_disable").val()=="" && $("#fin_horario_disable").val()==""){
    $('#horario_centro_dialog').load(Routing.generate("edit_horario_centro"), function(){
    }).dialog('open'); 
  }
    if(!$("#registro_horario #aviso_horario").hasClass('oculto')){
        //Se oculta la cabecera de la tabla si no hay horario escolar.
        $("#contenedor_registro_horario table th").addClass("oculto");
        //Se muestra el borde inferior de la cabecera.
        $("#contenedor_registro_horario .inner_table").css("margin-top", "2px");
        //Se oculta el div con los botones de la tabla.
        $("#registro_horario #registro_horario_guardar").addClass('oculto');
    }

    </script>
{% endblock %}

{% block body -%}
  <div id="registro_horario">
    <div class="parent_no_form">
    <div class="child">
      <div class="simple_column_red">
        <div class="block_insert">
            <h2>Registro Horario Escolar</h2>
            <div>
              <h2 id="horario_centro"><span >Horario del centro:</span></h2>

              <div id="rango_horas">
                De <input id="inicio_horario_disable"  title="Pulsa para modificar el horario del centro"></input> a <input id="fin_horario_disable"   title="Pulsa para modificar el horario del centro"></input>h.
              </div>
            </div>
            <li>Seleccione los datos para generar un nuevo horario:</li>
            <div>

                <div class="div_change">
                    <div class="head_change">
                        <label id="one">Automático</label>
                        <label id="two" class="btn_not_select">Manual</label>
                    </div>
                    <div id="cont_one">
                      <div>
                        <span>Hora de inicio de clases:</span>
                        <select id="inicio_clase" class="select_number">
                            <option  class="oculto" value="0">Hora</option>
                            <option  value="08:00" >8:00 h.</option>
                            <option  value="08:15">8:15 h.</option>
                            <option  value="08:30">8:30 h.</option>
                            <option  value="08:45">8:45 h.</option>
                            <option selected="selected" value="09:00">9:00 h.</option>
                            <option  value="09:15">9:15 h.</option>
                            <option  value="09:30">9:30 h.</option>
                        </select>
                      </div>
                      <div>
                        <span>Total de módulos del día:</span>
                        <select id="total_horas_auto" class="select_number">
                            <option  class="oculto" value="0">Nº</option>
                            <option  value="5" >5</option>
                            <option  selected="selected" value="6">6</option>
                            <option  value="7">7</option>
                            <option  value="8">8</option>
                            <option  value="9">9</option>
                            <option  value="10">10</option>
                        </select>
                      </div>
                      <div>
                        <span>Nº de módulos antes del recreo:</span>
                        <select id="horas_recreo_auto" class="select_number">
                            <option  class="oculto" value="0">Nº</option>
                            <option  value="1">1</option>
                            <option  value="2">2</option>
                            <option  value="3">3</option>
                            <option  selected="selected" value="4">4</option>
                            <option  value="5">5</option>
                        </select>
                      </div>
                      <div id="tiempo">
                        <div>
                            <span>Duración de módulos:</span>
                            <select id="tiempo_modulo" class="select_number">
                                <option  class="oculto" value="0">Tiempo</option>
                                <option  value="30">30 min.</option>
                                <option  value="35">35 min.</option>
                                <option  value="40">40 min.</option>
                                <option selected="selected"  value="45">45 min.</option>
                                <option  value="50">50 min.</option>
                                <option  value="55">55 min.</option>
                                <option  value="60">60 min.</option>
                            </select>
                        </div>
                        <div>
                            <span>Duración del recreo:</span>
                            <select id="tiempo_recreo" class="select_number">
                                <option  class="oculto" value="0">Tiempo</option>
                                <option  value="20">20 min.</option>
                                <option  value="25">25 min.</option>
                                <option  selected="selected"  value="30">30 min.</option>
                                <option  value="35">35 min.</option>
                                <option  value="40">40 min.</option>
                            </select>   
                        </div>
                      </div>
                    </div>
                    <div id="cont_two" class="oculto">
                      <div>
                        <span>Total de módulos del día:</span>
                        <select id="total_horas" class="select_number">
                            <option selected="selected" class="oculto" value="0">Nº</option>
                            <option  value="5" >5</option>
                            <option  value="6">6</option>
                            <option  value="7">7</option>
                            <option  value="8">8</option>
                            <option  value="9">9</option>
                            <option  value="10">10</option>
                        </select>
                      </div>
                      <div>
                        <span>Nº de módulos antes del recreo:</span>
                        <select id="horas_recreo" class="select_number">
                            <option selected="selected" class="oculto" value="0">Nº</option>
                            <option  value="1">1</option>
                            <option  value="2">2</option>
                            <option  value="3">3</option>
                            <option  value="4">4</option>
                            <option  value="5">5</option>
                        </select>
                      </div>

                      <div>
                        <span id="selec_comida">Módulos después de la comida:
                            <div class="input_select">
                                <div> 
                                    <input id="no" type="radio" checked="checked" name="alumno[foto]" required="required" >
                                    <label class="required" for="no">No</label>
                                </div> 
                                <div> 
                                    <input id="si" type="radio" name="alumno[foto]" required="required" >
                                    <label class="required" for="si">Si</label>
                                </div> 
                            </div>
                    
                        </span>
                        <span class="disabled">Nº de módulos después de la comida:</span>
                        <select id="horas_comida" class="select_number" disabled="">
                            <option selected="selected" class="oculto" value="0">Nº</option>
                            <option  value="1">1</option>
                            <option  value="2">2</option>
                            <option  value="3">3</option>
                        </select>
                      </div>
                    </div>
                </div>
            </div>
            <div id="button_one" class="center_button">
                <button id="button_auto_generate">Generar Horario</button>
                <button id="button_auto_rest">Borrar opciones</button>
            </div>
            <div id="button_two" class="center_button oculto">
                <button id="button_generate" disabled="">Generar Horario</button>
                <button id="button_rest" disabled="">Borrar opciones</button>
            </div>
        </div> 
      </div>
      <div>
       <div class="contenedor_registro_horario" id="contenedor_registro_horario" >  
        <div>
            <div id="cabecera_lista">
                <h2>Horario  Escolar</h2>
            </div>
            <div >
                <table class="records_list">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Módulos</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        {#<th></th>#}
                    </tr>
                    </thead>
                </table>
                <div class="inner_table">
                    <table id="lista_color">
                    <p id="aviso_horario" class="oculto">No se ha establecido ningún horario escolar.<br> <br>Por favor, introduzca los datos necesarios para generar un nuevo horario y complete los módulos del día.
                    </p>    
                    {% for entity in entities %}
                        <tr>
                            <td><span class="oculto">*</span></td>
                            <td>{{ entity.horaClase }}</td>
                            <td><input type="time" value="{{ entity.inicio|date('H:i') }}" step="1"> </input></td>
                            <td><input type="time"  value="{{ entity.fin|date('H:i') }}" step="1"> </input></td>
                            {#<td><button disabled="disabled" >Guardar</button></td>#}
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
       </div>
       <div class="contenedor_registro_horario oculto" id="contenedor_nuevo_horario" >  
        <div>
            <div id="cabecera_lista">
                <h2>Nuevo Horario Escolar</h2>
            </div>
            <div >
                <table class="records_list">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Módulos</th>
                        <th>Inicio</th>
                        <th>Fin</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table">
                    <table id="lista_color">
                        <tbody>
                        {#
                        <tr>
                            <td><span class="oculto">*</span></td>
                            <td>{{ entity.horaClase }}</td>
                            <td><input type="time" step="1"> </input></td>
                            <td><input type="time" step="1"> </input></td>
                        </tr>
                        #}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       </div>

        <div id="registro_horario_guardar" class="buttons_form">
            <button disabled="disabled" id="button_horario_all">Guardar</button>
            <button disabled="disabled" id="horario_rest">Restablecer</button>
        </div>
        <div id="nuevo_horario_guardar" class="oculto buttons_form">
            <button id="button_horario_save">Guardar</button>
            <button id="button_horario_clear">Borrar</button>
            <button id="button_horario_rest">Restablecer</button>
        </div>       
     </div>

    </div>
    </div>
        <div id="aviso_error" class="oculto"> 
            <span>*</span>
            <span>Debe introducir una hora válida en horario del centro ({{inicio}}-{{fin}}h.) y que esté comprendida entre la hora anterior y posterior.</span>
        </div>  
  </div>


  <div id="horario_centro_dialog" title="Asignación del horario del centro">

{% endblock %}


