{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}

    <script>
        $("#curso_nivel").prop('readonly', true); //input sólo lectura
        $("#curso_edit form").attr("id","curso_delete");

        // Se muestra "Actualizar" cuando se edita algún valor. "Eliminar" siempre visible. 
        $("#curso_edit #curso_submit").prop("disabled",true);
        $("#curso_edit #curso_delete button").attr("id","edit_delete_form"); 

    </script>

{% endblock %}

{% block body -%}

    {{form_start(edit_form, {'action':path('curso_update',{'id':entity.id}),'method':'PUT','attr':{'id':'curso_edit' , novalidate:'novalidate', 'autocomplete':'off'}})}}
        {{ form_errors(edit_form) }}
        <div class="width100">
            <div id="content-form">
                <fieldset >
                     <legend>Edición de Curso</legend>
                        <div class="addregistro">
                            {{ form_row(edit_form.nivel) }}
                            {{ form_row(edit_form.curso) }}
                        </div>
                </fieldset> 
            </div>
            <div class="oculto">
               {{ form_row(edit_form.numGrupos) }} 
            </div>
            {{ form_rest(edit_form) }}

            {{form_end(edit_form)}}
            <div class="double_button">
                {{ form(delete_form) }}
            </div>
        </div>
    {{form_end(edit_form)}}
{% endblock %}
