{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
    <script>
    $("#añadir_infantil_modal").hover(function() {
        $(this).find("#img_1").addClass("oculto");
        $(this).find("#img_2").removeClass("oculto");

    }, function() {
        $(this).find("#img_2").addClass("oculto");
        $(this).find("#img_1").removeClass("oculto");    }
    );
    $("#añadir_primaria_modal").hover(function() {
        $(this).find("#img_1").addClass("oculto");
        $(this).find("#img_2").removeClass("oculto");

    }, function() {
        $(this).find("#img_2").addClass("oculto");
        $(this).find("#img_1").removeClass("oculto");    }
    );

    $("#cursos_dialog").dialog(
       {
        bgiframe: true,
        autoOpen: false,
        height: 260,
        width: 350,
        modal: true,
        resizable: false,
       }
    );
    $('#cursos_dialog').on('dialogclose', function(event) {
        $('#cursos_dialog').empty();
    });

    if($("#td_inf").hasScrollBar()){
        $("#table_th_inf").css("margin-left","-2%");
    }

    if($("#td_prim").hasScrollBar()){
        $("#table_th_prim").css("margin-left","-2%");
    }
    </script>
{% endblock %}

{% block body -%}
    <div id="registro_cursos">
    <div class="parent_no_form">
    <div class="child">
      <div class="simple_column">
        <div class="block_insert">
            <h2>Registro de Cursos</h2></br>
            <p>- Para <span>añadir</span> un nuevo curso pulse sobre el icono de añadir en el nivel correspondiente.</p>
            </br></br>
            <p>- Para <span>modificar</span> o <span>eliminar</span> un curso, seleccione el curso correspondiente.</p>
        </div> 
      </div>
      <div class="derecha contenedor_registro" id="contenedor_registro">  
        <div>
            <div id="cabecera_lista">
                <h2>Educación Infantil
                    <a id="añadir_infantil_modal" title="Añadir curso de Infantil" href="javascript:void(0);">
                        <img id="img_1" class="add_registro" src="{{ asset('bundles/backend/images/menu/añadir_azul.png')}}">
                        <img id="img_2" class="add_registro oculto" src="{{ asset('bundles/backend/images/menu/añadir_azul2.png')}}">
                    </a>
                </h2>
            </div>
            <div id="fondo_azul_osc">
                <table class="records_list" id="table_th_inf">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th id="th_nivel_inf">Nivel</th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_inf">
                    <table>
                    {% for entity in entities %}
                        {% if entity.nivel == "Infantil" %}
                        <tr>
                            <td><a cargar-href="off" href="{{ path('curso_edit', { 'id': entity.id }) }}">{{ entity.curso }}</a></td>
                            <td><a cargar-href="off" href="{{ path('curso_edit', { 'id': entity.id }) }}">{{ entity.nivel }}</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
      </div>

      <div class="derecha contenedor_registro" id="contenedor_registro">  
        <div>
            <div id="cabecera_lista">
                <h2>Educación Primaria
                    <a id="añadir_primaria_modal" title="Añadir curso de Primaria" href="javascript:void(0);">
                        <img id="img_1" class="add_registro" src="{{ asset('bundles/backend/images/menu/añadir_azul.png')}}">
                        <img id="img_2" class="add_registro oculto" src="{{ asset('bundles/backend/images/menu/añadir_azul2.png')}}">
                    </a>
                </h2>
            </div>
            <div id="fondo_azul_osc">
                <table class="records_list" id="table_th_prim">
                    <thead>
                    <tr>
                        <th>Curso</th>
                        <th id="th_nivel_prim">Nivel</th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table" id="td_prim">
                    <table>
                    {% for entity in entities %}
                        {% if entity.nivel == "Primaria" %}
                        <tr>
                            <td><a cargar-href="off" href="{{ path('curso_edit', { 'id': entity.id }) }}">{{ entity.curso }}</a></td>
                            <td><a cargar-href="off" href="{{ path('curso_edit', { 'id': entity.id }) }}">{{ entity.nivel }}</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
      </div>

      <div id="cursos_dialog" title="Registro de Curso">
    </div>
    </div>
    </div>
    {% endblock %}
