{% extends  '::frontend.html.twig' %}
{% block javascript %}
  {{ parent() }}

{% endblock %}

{% block main %}
        <section class="contenido">
            {% block contenido %}
              {{render (controller('ColeBundle:Noticias:NoticiasRecientes'))}}
            {% endblock %}
        </section>

        <aside>
            <article class="aside_columna">
              <h3>Calendario</h3>
              <div id="calendar"></div>
            </article>
        {% block aside %}
          {{render (controller('ColeBundle:Cole:HorariosAtencion'))}}
            <article class="aside_columna">
              <p>
                <h3>
                  Calendario del curso
                   <span id="año_inicio"></span>
                  /
                  <span id="año_fin"></span>
                </h3>
              </p>
              
              <div id="img_calendario">
                <a href="{{ path('calendariopdf') }}">
                    <img alt="Calendario"  oncopy="alert('\xA9 Imagen propiedad del CEIP SANTA TERESA');return false" oncontextmenu="alert('\xA9 Imagen propiedad del CEIP SANTA TERESA');return false" src="{{ asset('bundles/cole/images/menu/calendario.png')}}">
                </a>
              </div>

            </article>
            <article class="aside_columna">
                <h3>Sobre nosotros</h3>
                <p>El CEIP Santa Teresa, cuyo lema es Paz y Bien, tiene como meta fundamental el desarrollo integral de la persona desde una concepción cristiana de la vida. Para ello cuenta con un significativo grupo de profesores que, junto con el equipo directivo, se responsabiliza de la vida escolar.</p>

                <p>El centro se emplaza en el barrio de la Viña en el extremo suroeste del Casco antiguo de Cádiz. Está formado por las manzanas comprendidas entre los límites de las calles Sagasta, La Rosa, Duque de Nájera y Campo del Sur. Debido a su localización alejada con respecto al puerto y al comercio y en un lugar sujeto a los temporales del océano, presenta desde sus inicios un carácter popular.
                </p>
            </article>
        {% endblock %}
        </aside>
    </article>
{% endblock %}


