{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
    <script>

    $("#registro_equipamientos a[id*='equipamiento_']").hover(function() {
        $(this).find("#img_1").addClass("oculto");
        $(this).find("#img_2").removeClass("oculto");

    }, function() {
        $(this).find("#img_2").addClass("oculto");
        $(this).find("#img_1").removeClass("oculto");    
    });


    //$('#equipamiento_unidades').val(1);
    $('#equipamiento_tipo').val("Equipamiento");


    </script>
{% endblock %}

{% block body -%}
    <div id="registro_equipamientos" class="registro_equipamientos">
    <div class="parent_no_form">
    <div class="child">
      <div class="simple_column">
        <div class="block_insert">
            <h2>Registro de Equipamientos</h2></br>
            <p>- Para <span>añadir</span> una nuevo equipamiento indique el nombre en el espacio asignado junto a las unidades existentes y pulse sobre el icono de "Añadir Equipamiento".</p>
            </br></br>
            <p>- Para <span>modificar</span> o <span>eliminar</span> un equipamiento, seleccione el equipamiento correspondiente.</p>
        </div> 
      </div>

      <div class="derecha contenedor_registro contenedor_registro_instalaciones" id="contenedor_registro">  
        <div>
            <div id="cabecera_lista">
                <h2>Equipamientos del centro</h2>
            </div>
            <div id="lista_instalaciones">
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>
                            <a id="cerrar_equipamiento_edit" class="oculto" title="Cancelar Edición de Equipamiento" href="javascript:void(0);">
                                <img id="img_1" class="exit_edit" src="{{ asset('bundles/backend/images/menu/cruz_azul.png')}}">
                                <img id="img_2" class="exit_edit oculto" src="{{ asset('bundles/backend/images/menu/cruz_celeste.png')}}">
                            </a>
                        </th>
                        <th id="datos_equipamiento">
                            {{render(controller("BackendBundle:Equipamiento:new"))}}
                        </th>
                        <th class="oculto">
                            <a id="equipamiento_delete" title="Eliminar Equipamiento" href="javascript:void(0);">
                                <img id="img_1" class="add_registro " src="{{ asset('bundles/backend/images/menu/delete2.png')}}">
                                <img id="img_2" class="add_registro oculto" src="{{ asset('bundles/backend/images/menu/delete_hover2.png')}}">
                            </a>
                        </th>
                        <th>
                            <a id="equipamiento_new" title="Añadir Equipamiento" href="javascript:void(0);">
                                <img id="img_1" class="add_registro " src="{{ asset('bundles/backend/images/menu/añadir_azul.png')}}">
                                <img id="img_2" class="add_registro oculto" src="{{ asset('bundles/backend/images/menu/añadir_celeste.png')}}">
                            </a>
                        </th>
                        <th class="oculto">
                            <a id="equipamiento_edit"  title="Actualizar Equipamiento" href="javascript:void(0);">
                                <img id="img_1" class="add_registro" src="{{ asset('bundles/backend/images/menu/actualizar_azul2.png')}}">
                                <img id="img_2" class="add_registro oculto" src="{{ asset('bundles/backend/images/menu/actualizar_celeste2.png')}}">
                            </a>
                        </th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table">
                    <table>
                    {% for entity in entities %}
                        {% if entity.tipo == "Equipamiento" %}
                        <tr>
                            <td><a cargar-href="off" href="{{ path('equipamiento_edit', { 'id': entity.id }) }}">{{ entity.nombre }}</a></td>
                            {% if entity.unidades > 1 %}
                                <td><a cargar-href="off" href="{{ path('equipamiento_edit', { 'id': entity.id }) }}">{{ entity.unidades ~ " uds" }}</a></td>
                            {% else %}
                              <td><a cargar-href="off" href="{{ path('equipamiento_edit', { 'id': entity.id }) }}">{{ entity.unidades ~ " ud" }}</a></td>
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>          
      </div>

    </div>
    </div>
    </div>
    {% endblock %}