{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}
   
    <script> 
      $(".full_name").parent().css("width", "43%");
      $(".full_name").parent().css("max-width", "45%");
    </script>
{% endblock %}

{% block body %}
    {{form_start(form, {'action':path('padres_create'),'method':'POST','attr':{'class':'formulario_padres', 'id':'padres_nuevo' , novalidate:'novalidate', 'autocomplete':'off'}})}}

        {{ form_errors(form) }}
    <div >
    <div id="content-form">
        <fieldset >
            <legend>Registro de Padres</legend>

                    <div class="izquierda">
                        {{ form_row(form.dni) }}
                        <div class="full_name_div">
                        {{ form_label(form.nombre) }}
                        {{ form_widget(form.nombre) }}
                        </div>
                        {{ form_row(form.fechaNacimiento) }}
                        {{ form_row(form.profesion) }}
                        {{ form_row(form.estadoCivil) }}
                        {{ form_row(form.movil) }}
                        {{ form_row(form.email) }}
                    </div>
        </fieldset>       
    </div>
        
    <div id="botones_form">
        {{ form_row(form.submit) }}
        {{ form_row(form.limpiar) }}
        {{ form_rest(form) }} 
    </div>
    <div id="result"></div>
    </div>
     {#  <div class="oculto" id="dialog-confirm" title="Empty the recycle bin?">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Se va a asignar un nuevo responsable al alumno y no podrá recuperar el anterior. </br>¿Estas seguro de asignar  el nuevo responsable al alumno?</p>
    </div>#}
    {{form_end(form)}}

{% endblock %}