{#
{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Padres creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
    <li>
        <a href="{{ path('padres') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
#}
{% extends 'BackendBundle:Default:index.html.twig' %}

{% block stylesheets %}
	{{parent()}}
{% endblock %}

{% block javascript %}
	 {{parent()}}

{% endblock %}

{% block body %}
		<form class="formulario" id="crear_padres" action="{{ path('padres_create') }}" method="post" {{ form_enctype(form) }}>
			{{ form_errors(form) }}
			<div id="dni">
				{{ form_row(form.dni) }}
			</div>
			<div id="nombre">
				{{ form_row(form.nombre) }}

			</div>
			<div id="datos">
				{{ form_row(form.fechaNacimiento) }}
				{{ form_row(form.profesion) }}
				{{ form_row(form.estadoCivil) }}
				{{ form_row(form.movil) }}
			</div>
			<div id="resto">
	        	<a id="open_tab" href="{{ path('padres') }}">Back to the list</a>
	        	{{ form_rest(form) }} 
       			{# {{ form_row(form.submit) }}#}
        	</div>
     
		</form>
		<div id="result"></div>

{% endblock %}

