{% extends '::base.html.twig' %}

{% block body -%}
{{ form_start (edit_form)}}
	
	<label for="seguimiento_descripcion">{% trans %}Descripción{% endtrans %}</label>
	{{ form_widget(edit_form.descripcion) }}
	<div class="class-footer">
		<button class="btn btn_azul" type="button" data-dismiss="modal" title="">{% trans %}Cancelar{% endtrans %}</button>
		{{ form_widget(edit_form.submit) }}
	</div>
	<div class="hidden">
		{{ form_rest(edit_form) }}
	</div>

	{{ form_end (edit_form)}}

{% endblock %}


