{% extends  '::base.html.twig' %}
{% block head %}
    {{parent()}}
    <title>{% block title %}Administración CEIP SANTA TERESA{% endblock %}</title>
	<meta content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" name="viewport"/> 
{% endblock %}

{% block stylesheets %}
	<link href="{{ asset('bundles/backend/css/backend.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/backend/css/animate.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/backend/js/jquery-ui/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
	{#<link href="{{ asset('bundles/backend/js/sweetalert-master/dist/sweetalert.css') }}" rel="stylesheet" type="text/css">#}
	<link href="{{ asset('bundles/backend/js/sweetalert2-master/dist/sweetalert2.min.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/backend/js/pnotify/pnotify.custom.min.css') }}" media="all" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/backend/js/DataTables/datatables.css') }}" media="all" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/backend/js/TimePicki-master/css/timepicki.css') }}" media="all" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/backend/js/Croppie/croppie.css') }}" media="all" rel="stylesheet" type="text/css">

	{#<link href="{{ asset('bundles/backend/js/sweetalert-master/themes/facebook/facebook.css') }}" rel="stylesheet" type="text/css">#}
	{#<link href="{{ asset('bundles/backend/js/sweetalert-master/themes/twitter/twitter.css') }}" rel="stylesheet" type="text/css">#}
	{#<link href="{{ asset('bundles/backend/js/sweetalert-master/themes/google/google.css') }}" rel="stylesheet" type="text/css">#}
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript" src="{{ asset('bundles/backend/js/load.js') }}" async="async"></script>
	<script type="text/javascript" src="{{ asset('bundles/backend/js/general.js') }}" async="async"></script>
	<script type="text/javascript" src="{{ asset('bundles/backend/js/jquery-ui/jquery-ui.js') }}"></script>
	{#<script type="text/javascript" src="{{ asset('bundles/timepicki/js/sweetalert-master/dist/sweetalert.min.js') }}"></script>#}
	<script type="text/javascript" src="{{ asset('bundles/backend/js/sweetalert2-master/dist/sweetalert2.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/backend/js/es6-promise-master/dist/es6-promise.auto.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('bundles/backend/js/pnotify/pnotify.custom.min.js') }}"></script>
  	<script type="text/javascript" src="{{asset("bundles/cole/js/imgLiquid-min.js")}}"></script>

	<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
	<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

	<script src="{{ asset('bundles/backend/js/jquery.mask.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/backend/js/jquery.update_tab.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/backend/js/DataTables/datatables.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/backend/js/TimePicki-master/js/timepicki.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/backend/js/Croppie/croppie.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/backend/js/JQ-Image-Drag-master/script/jquery.imagedrag.js') }}" type="text/javascript"></script>
	
{% endblock %}


{% block body %}
	<div class="centrado oculto">
    	<header>
			<h2> C.E.I.P SANTA TERESA </h2> 
			{% if is_granted("ROLE_ADMIN") %}
				<p class="usuario"><span>{{ app.user }} (Director) <a href="{{path('intranet', { '_locale': 'es' })}}" title="Volver a Intranet"><img src="{{ asset('bundles/backend/images/menu/inicio.png')}}"></a></span></p>
			{% endif %}
			
			<h3> Área de Administración</h3>
    	</header>
    	<nav class="barra_menu">
			 <div class="contenedor">
				<ul class="menu">
					<li><a href="#1" title="Institución"> Institución </a></li>
					<li><a href="#2" title="Docentes"> Docentes </a></li>
					<li class="activo"><a href="#3" title="Alumnos"> Alumnos </a></li>
					<li><a href="#4" title="Académico"> Académico </a></li>
					<li><a href="#5" title="Administración"> Administración </a></li>
					{#<li class="salir"><a href="{{path('index')}}" title="Salir de Administración"> <img src="{{ asset('bundles/backend/images/menu/salir.png')}}"> <p>Salir</p></a></li>#}
					<li class="salir"><a href="{{path('logout')}}" title="Salir de Administración"> <img src="{{ asset('bundles/backend/images/menu/salir.png')}}"> <p>Salir</p></a></li>
				</ul>
				<div id="1">
					<div>
						<a title="Datos del Centro" href="{{path('centro')}}">
							<img src="{{ asset('bundles/backend/images/menu/centro2.png')}}">
							<span> Datos del </br> Centro </span>
						</a>

						<a id="periodo_lectivo" title="Periodo Lectivo" href="{{path('festivos')}}">
							<img src="{{ asset('bundles/backend/images/menu/calendario.png')}}">
							<span> Periodo </br> Lectivo</span>
						</a>							
						<span> Información </span>
					</div>
					<div>
						<a id="registrar_instalaciones" title="Registro Instalación" href="{{path('instalaciones')}}">
							<img src="{{ asset('bundles/backend/images/menu/instalaciones.png')}}">
							<span> Registro </span>
						</a>
						<a id="reservar_instalaciones" title="Reserva Instalación" href="{{path('reserva_instalaciones')}}">
							<img src="{{ asset('bundles/backend/images/menu/instalaciones2.png')}}">
							<span> Reserva </span>
						</a>
					
						<a id="consultar_instalaciones" title="Consulta Instalación" href="{{path('reserva', { 'tipo': "instalaciones" })}}">
							<img src="{{ asset('bundles/backend/images/menu/consultar.png')}}">
							<span> Consulta </span>
						</a>
						<span> Instalaciones </span>
					</div>
					<div>
						<a id="registrar_equipamientos" title="Registro Equipamiento" href="{{path('equipamiento')}}">
							<img src="{{ asset('bundles/backend/images/menu/equipación.png')}}">
							<span> Registro </span>
						</a>
						<a id="reservar_equipamientos" title="Reserva Equipamiento" href="{{path('reserva_equipamientos')}}">
							<img src="{{ asset('bundles/backend/images/menu/equipación3.png')}}">
							<span> Reserva </span>
						</a>
						<a id="consultar_equipamientos" title="Consulta Equipamiento" href="{{path('reserva', { 'tipo': "equipamientos" })}}">
							<img src="{{ asset('bundles/backend/images/menu/consultar.png')}}">
							<span> Consulta </span>
						</a>
						<span> Equipamiento </span>
					</div>

					<div class="btn_click">
						<a id="finalizar_curso" class="no_tab contenedor_btn_click" title="Finalizar Curso Académico" href="javascript:void(0);">
							<img src="{{ asset('bundles/backend/images/menu/fin_curso.png')}}">
						</a>
						<span class="b_verde">Finalizar Curso </span>
					</div>
				</div>
				<div id="2">
					<div>
						<a id="profesor_nuevo" title="Nuevo profesor" href="{{path('profesor_new')}}">
							<img src="{{ asset('bundles/backend/images/menu/nuevo_profesor.png')}}">
							<span> Nuevo</span>
						</a>

						<a id="profesor_antiguo" title="Altas/bajas profesores" href="{{path('search_old_teacher')}}">
							<img src="{{ asset('bundles/backend/images/menu/antiguo_profesor.png')}}">
							<span> Altas/Bajas </span>
						</a>
												
						<span> Registro Profesor</span>
					</div>
					<div>
						<a id="ficha_profesor" title="Ficha Profesor" href="{{path('profesor_search')}}">
							<img src="{{ asset('bundles/backend/images/menu/profesor-ficha.png')}}">
							<span> Ficha </span>
						</a>
						<a id="clases_impartidas" title="Clases Impartidas" href="{{path('clases_impartidas')}}">
							<img src="{{ asset('bundles/backend/images/menu/cursos-impartidos.png')}}">
							<span>Clases<br>Impartidas</span>
						</a>
						<span> Información </span>
					</div>
					<div>
						<a id="tutor_grupo" title="Asignar Tutor"  href="{{path('tutor_grupo')}}">
							<img src="{{ asset('bundles/backend/images/menu/asignar.png')}}">
							<span> Asignar <br>Tutor</span>
						</a>		
						
						<a id="profesor_asignar_grupo" title="Asignar Profesores" href="{{path('asignar_grupo_profesores_show')}}">
							<img src="{{ asset('bundles/backend/images/menu/profesor-grupo.png')}}">
							<span> Asignar <br>Profesores</span>
						</a>						
						<span> Asignaciones </span>
					</div>
					<div>
						<a id="equipo_directivo" title="Equipo Directivo" href="{{path('equipo_directivo')}}">
							<img src="{{ asset('bundles/backend/images/menu/equipo_directivo.png')}}">
							<span>Asignar Director/<br>Jefe de Estudios</span>
						</a>
						<span> Equipo Directivo </span>
					</div>
				</div>
				<div id="3">
					<div>
						<a id="alumnos_nuevo" title="Nuevo Alumno" href="{{path('alumno_new')}}">
							<img src="{{ asset('bundles/backend/images/menu/matricular.png')}}">
							<span> Nuevo</span>
						</a>
						<a id="alumnos_antiguo" title="Antiguo Alumno " href="{{path('search_old')}}">
							<img src="{{ asset('bundles/backend/images/menu/matricular_antiguo.png')}}">
							<span> Antiguo</span>
						</a>
						<a id="alumnos_multiple" title="Matrícula Múltiple" href="{{path('search_multiple')}}">
							<img src="{{ asset('bundles/backend/images/menu/matricular+.png')}}">
							<span> Múltiple</span>
						</a>
						<a id="anular_matricula" title="Anular Matrícula" href="{{path('show_matriculas')}}">
							<img src="{{ asset('bundles/backend/images/menu/cancelado.png')}}">
							<span> Anular <br>Matrícula</span>
						</a>								
						<span> Matrícula Alumnos</span>
					</div>
					<div>
						<a id="ficha_alumno" title="Ficha Alumno" href="{{path('alumno_search')}}">
							<img src="{{ asset('bundles/backend/images/menu/alumno-ficha.png')}}">
							<span> Ficha </span>
						</a>
						<a id="listado_alumnos"title="Listas de Alumnos" href="javascript:void(0);">
							<img src="{{ asset('bundles/backend/images/menu/lista_alumnos.png')}}">
							<span> Listado de <br> Alumnos </span>
						</a>
						<span> Información </span>
					</div>
					<div>
						<a id="asignar_grupo" title="Asignar Grupos" href="{{path('asignar_grupo')}}">
							<img src="{{ asset('bundles/backend/images/menu/alumno-grupo.png')}}">
							<span> Asignar <br>Grupos</span>
						</a>
						<a id="asignar_optativa" title="Asignar Optativa" href="{{path('show_optativas')}}">
							<img src="{{ asset('bundles/backend/images/menu/asignar_optativa.png')}}">
							<span> Asignar <br>Optativa</span>
						</a>							
						<span> Asignaciones </span>
					</div>
					{#
					<div id="tercero">
						<a  title="Padres" href="{{path('padres')}}">
							<img src="{{ asset('bundles/backend/images/menu/alumno.png')}}">
							<span> Padres </span>
						</a>
						<span> Contacto </span>
					</div>
					#}
					<div class="btn_click">
						<a id="finalizar_matriculacion" class="no_tab contenedor_btn_click" title="Finalizar proceso de matriculación" href="javascript:void(0);">
							<img src="{{ asset('bundles/backend/images/menu/fin_matriculacion.png')}}">
						</a>
						<span class="b_verde"> Finalizar Matriculación </span>
					</div>
				</div>
				<div id="4">
					<div>
						<a id="registrar_horario_academico" title="Registro Horario" href="{{path('horario_show')}}">
							<img src="{{ asset('bundles/backend/images/menu/horario_escolar.png')}}">
							<span> Registro <br>H. Escolar </span>
						</a>					
						<span> Horario </span>
					</div>
					<div>
						<a title="Registro Asignatura" href="{{path('asignatura')}}">
							<img src="{{ asset('bundles/backend/images/menu/asignaturas.png')}}">
							<span> Registro </span>
						</a>	
						<a id="asignaturas_cursos" title="Asignaturas por curso" href="{{path('asignaturas_cursos')}}">
							<img src="{{ asset('bundles/backend/images/menu/asigCursos.png')}}">
							<span> Asignaturas<br>por curso</span>
						</a>				
						<span> Asignaturas </span>
					</div>
					<div>
						<a id="nuevo_curso" title="Registro Curso" href="{{path('curso')}}">
							<img src="{{ asset('bundles/backend/images/menu/curso.png')}}">
							<span> Registro </span>
						</a>			
						<a id="grupos_curso" title="Nº grupos/curso" href="{{path('curso_show')}}">
							<img src="{{ asset('bundles/backend/images/menu/grupo-cursos.png')}}">
							<span> Grupos <br>por curso </span>
						</a>
						<a id="ratio_curso" title="Nº Alumnos/grupo" href="{{path('ratio_cursos')}}">
							<img src="{{ asset('bundles/backend/images/menu/aula.png')}}">
							<span>Alumnos <br>por grupo </span>
						</a>		
						<span> Cursos </span>
					</div>
					<div>
						<a id="asignar_aula"  title="Asignar Aula" href="{{path('grupo_show')}}">
							<img src="{{ asset('bundles/backend/images/menu/asignar_aula.png')}}">
							<span> Asignar <br>Aula</span>
						</a>	
						<a id="asignar_horario" title="Asignar Horario" href="{{path('asignar_horario_show')}}">
							<img src="{{ asset('bundles/backend/images/menu/horarios2.png')}}">
							<span> Asignar <br>Horario</span>
						</a>				
						<span> Grupos </span>
					</div>
				</div>
				<div id="5">
					<div>
						<a id="administrativo_nuevo" title="Nuevo personal" href="{{path('administrativo_new')}}">
							<img src="{{ asset('bundles/backend/images/menu/administrativos.png')}}">
							<span> Nuevo</span>
						</a>
						<a id="ficha_administrativo" title="Ficha Administrativo" href="{{path('administrativo_search')}}">
							<img src="{{ asset('bundles/backend/images/menu/administrativos_ficha.png')}}">
							<span> Ficha</span>
						</a>
						<a id="administrativo_antiguo" title="Altas/bajas" href="{{path('search_old_admin')}}">
							<img src="{{ asset('bundles/backend/images/menu/administrativos_bajas.png')}}">
							<span> Altas/Bajas </span>
						</a>
												
						<span> Gestión Administrativos</span>
					</div>
					<div>
						<a id="listarlog" title="Entradas / Salidas" href="{{path('log')}}">
							<img src="{{ asset('bundles/backend/images/menu/control-usuarios.png')}}">
							<span> Entradas / Salidas <br>al sistema</span>
						</a>
						<span> Control de Usuarios </span>
					</div>
					<div>
						<a id="registrar_eventos" title="Registro Eventos" href="{{path('eventos_new')}}">
							<img src="{{ asset('bundles/backend/images/menu/eventos.png')}}">
							<span> Registro </span>
					
						<a id="consultar_eventos" title="Consulta Eventos" href="{{path('eventos')}}">
							<img src="{{ asset('bundles/backend/images/menu/consultar.png')}}">
							<span> Consulta </span>
						</a>
						<span> Eventos </span>
					</div>
					<div>
						<a id="registrar_noticias" title="Registro Noticias" href="{{path('noticias_new')}}">
							<img src="{{ asset('bundles/backend/images/menu/noticias.png')}}">
							<span> Registro </span>
						</a>
						<a id="consultar_noticias" title="Consulta Noticias" href="{{path('noticias_consultar')}}">
							<img src="{{ asset('bundles/backend/images/menu/consultar.png')}}">
							<span> Consulta </span>
						</a>
						<span> Noticias </span>
					</div>
					<div>
						<a id="registrar_noticias" title="Registro Noticias" href="{{path('equipamiento_new')}}">
							<img src="{{ asset('bundles/backend/images/menu/editar_publica.png')}}">
							<span> Editar <br> Parte Pública </span>
						</a>
						<span> Contenido Estático</span>
					</div>
				</div>

				<div  class="oculto" id="dialog-message" title="Número máximo de Pestañas">
					<div>
						<p>Número máximo de pestañas permitidas.</p>
						<p><b>Por favor cierre alguna pestaña para continuar.</b></p>
					</div>
				</div>
			  </div>
			</nav>
    	<acticle class="main">
			{% block main %} 
				<div class="contenido_main"> 
					<div id="fondo_logo">
						<img alt="logo del colegio"   src="{{ asset('bundles/backend/images/logo_trans.png')}}">
					</div>
					<div id="tabs">
						<ul>
							<div id="prev_tab" style="display:none" class="moving_tabs ui-state-default">
								<a><img class="arrow" src="{{ asset('bundles/backend/images/menu/prev.png')}}"></a>
							</div>
							<div id="next_tab"  style="display:none" class="moving_tabs ui-state-default">
								<a><img class="arrow" src="{{ asset('bundles/backend/images/menu/next.png')}}"></a>
							</div>
						</ul>
					</div>
					<div class="close_tabs">
						<button href="#" title="Cerrar todas las pestañas">
							<p>Cerrar</p>
						</button>
					</div>
				</div>
			{% endblock %}
    	</article>
		<footer>
		</footer>

	</div>
	<div  class="oculto" id="dialog-message" title="Número máximo de Pestañas">
		<p>Número máximo de pestañas permitidas.</p>
		<p><b>Por favor cierre alguna pestaña para continuar.</b></p>
	</div>
{% endblock %}
