{% for entity in entity %}


  {% if entity.asignatura.tipo == "Específica" %}
  <tr id="{{ entity.asignatura.id }}" tipo="{{ entity.asignatura.tipo }}" opcional="{{ entity.asignatura.opcional }}">
  {% else %}  
  <tr id="{{ entity.asignatura.id }}" tipo="{{ entity.asignatura.tipo }}">
  {% endif %}
  	<td>{{ entity.asignatura.nombre }}</td>
  	<td>{{ entity.numModulos }}</td>
  	{% if  entity.libro %}
  	  	<td>{{ entity.libro }}</td>
  	{% else %}	
  	  	<td>{{ entity.libro }}</td>
  	{% endif %}
	</tr>

{% else %}
	<tr class="odd no_cursor">
		<td class="dataTables_empty">Este curso no tiene asignaturas asignadas</td>
	</tr>
{% endfor %}


