{% extends '::base.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}
<script>

    // Tabla con la opción de ordenar y búsqueda de antiguos alumnos activos.
    $('#t_no_asignados').DataTable( { 
                initComplete: function () {
            this.api().columns().every( function (e) {
                var column = this;
                var select = $('<select class="'+e+'"><option value=""></option></select>')
                    .appendTo('.tabla_no_asignados')
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
                select.append( '<option value="nada">nada</option>' )
            } );
        },
        "order": [[ 0, "asc" ]],
        "aLengthMenu": [[-1], [ "All"]],
        "columnDefs": [ {
            "targets": 'no-sort',
            "orderable": false,} ],
        "language": {
            "zeroRecords": "Lo siento, no se ha encontrado ningún registro coincidente",
            "emptyTable": "No hay alumnos en el curso anterior pendientes de matriculación",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing":     "Processando...",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros)",
            "search": "Buscar:",
            "Next": "Siguiente",
            "paginate": {
                "previous": "Anterior",
                "next": "Siguiente"
            }
        }
    });

    // Tabla con la opción de ordenar y búsqueda de antiguos alumnos activos.
    $('#t_asignados').DataTable( { 
                initComplete: function () {
            this.api().columns().every( function (e) {
                var column = this;
                var select = $('<select class="'+e+'"><option value=""></option></select>')
                    .appendTo('.tabla_asignados')
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
                select.append( '<option value="nada">nada</option>' )
            } );
        },
        "order": [[ 0, "asc" ]],
        "aLengthMenu": [[-1], [ "All"]],
        "columnDefs": [ {
            "targets": 'no-sort',
            "orderable": false,} ],
        "language": {
            "zeroRecords": "Lo siento, no se ha encontrado ningún registro coincidente",
            "emptyTable": "No hay alumnos en el curso anterior pendientes de matriculación",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing":     "Processando...",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros)",
            "search": "Buscar:",
            "Next": "Siguiente",
            "paginate": {
                "previous": "Anterior",
                "next": "Siguiente"
            }
        }
    });

    $("#asignar_optativa .dataTables_info").addClass("oculto");
    $("#asignar_optativa .dataTables_paginate").addClass("oculto");
    $("#asignar_optativa .dataTables_length").addClass("oculto");
    $('#asignar_optativa .contenedor_registro').each (function(){ 
      $(this).find(".dataTables_filter").appendTo($(this).find('#buscador'));
    });

    // Se comprueba si existe scrol vertical para ajustar el thead
    if( $('#asignar_optativa table tbody').get(0).scrollHeight>$('#asignar_optativa table tbody').height()){
        $("#asignar_optativa table thead tr>th:last-child").attr('style', 'width: 10% !important');
    }
    else{
        $("#asignar_optativa table thead tr>th:last-child").attr('style', 'width: 9% !important');
    }
    
    $(window).resize(function() {
        //Se comrpueba si está el div con la tabla para cambiar los estilos.
        if($('#asignar_optativa table tbody').length){
            if($('#asignar_optativa table tbody').get(0).scrollHeight>$('#asignar_optativa table tbody').height() ){
                $("#asignar_optativa table thead tr>th:last-child").attr('style', 'width: 10% !important');
            }
            else{
                $("#asignar_optativa table thead tr>th:last-child").attr('style', 'width: 9% !important');
            }
        }
    });

    $("#asignar_optativa tbody tr td[class='dataTables_empty']").closest("tr").addClass("no_cursor");

    //Se añade las siguientes clases para indicar con ambas la opción asignada. 
    //Se da un estilo con las dos clases juntas en css.
    $("#asignar_optativa #asignados .asig_asignada").each (function(){ 
      id=$(this).attr("id");
      $(this).find("button[id='"+id+"']").addClass('asignada');
      $(this).find("button[id='"+id+"']").addClass('elected');
    });

</script>

{% endblock %}

{% block body -%}
    <div id="asignar_optativa" class="">
        <div class="parent_no_form">
        <div class="child">
            <div class="contenedor_registro tabla_con_seleccion asignar_optativa" id="no_asignados">  
                <div>
                    <div id="cabecera_lista">
                        <div id="lista_cursos" class="lista_no_asignados">
                         Buscar por curso: {{render(controller("BackendBundle:Curso:listaCursosPrimaria"))}}
                        </div>
                        <h2 class="text_cabecera_2">Asignar Optativa</h2>
                        <div class="btn_2opciones">    
                            <label class="btn_selected" id="btn_no_asignados" for="no_asignados">Sin asignar</label>
                            <input type="radio" name="no_asignados" id="no_asignados">
                            <label for="inactivos" id="btn_asignados">Asignados</label>
                            <input type="radio" name="asignados" id="asignados">
                        </div>
                        <div id="buscador"> </div>
                    </div>
                    <div id="fondo_azul_osc" class="tabla_con_info">
                        <div id="tableContainer" class="tableContainer inner_table vh45">
                            <table id="t_no_asignados" class="scrollTable lista_color">
                                <thead class="fixedHeader">
                                    <tr>
                                        {#<th class="id">Id</th>#}
                                        <th class="w20 left">Apellidos, Nombre</th>
                                        <th class="w11">Curso Matriculado</th>
                                        <th class="w5">Grupo</th>
                                        <th class="w15">Alternativas</th>
                                    </tr>
                                </thead>
                                <tbody class="scrollContent">
                                    {% for entity in entities_no_asig %}
                                        <tr id="{{entity.id}}">
                                            <td class="w20 left">{{ entity.apellido1 ~ " " ~ entity.apellido2 ~ ", " ~ entity.nombre}}</td>
                                            <td id="{{ entity.curso.id }}" class="w11">{{entity.curso.curso ~ " " ~ entity.curso.nivel}}</td>
                                            {% if entity.grupo %}
                                                <td id="{{ entity.curso.id }}" class="w5">{{entity.grupo.letra}}</td>
                                            {% else %}
                                                <td id="{{ entity.curso.id }}" class="w5">-</td>
                                            {% endif %}
                                            <td class="w15">
                                                {{render(controller("BackendBundle:Asignatura:OptativasCurso", {id:entity.curso.id}))}}                                            
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="info_en_tabla">
                        <div class="cabecera_info">
                            Datos Alumno
                        </div>
                        <div class="contenido_info">
                            <div id="sin_seleccionar">
                                <p>Para ver detalles seleccione un alumno</p>
                            </div>
                            <div id="seleccionado" class="oculto"></div>
                        </div>             
                    </div >
                    <div id="enviar_select">
                        <button disabled="">Enviar Selección</button>
                    </div>
                </div> 
                <div class="tabla_no_asignados select_ord_datatable">
                </div>         
            </div>

            <div class="contenedor_registro tabla_con_seleccion asignar_optativa oculto" id="asignados">  
                <div>
                    <div id="cabecera_lista">
                        <div id="lista_cursos" class="lista_asignados">
                         Buscar por curso: {{render(controller("BackendBundle:Curso:listaCursosPrimaria"))}}
                        </div>
                        <h2 class="text_cabecera_2">Asignar Optativa</h2>
                        <div class="btn_2opciones">    
                            <label id="btn_no_asignados" for="no_asignados">Sin asignar</label>
                            <input type="radio" name="no_asignados" id="no_asignados">
                            <label class="btn_selected" for="inactivos" id="btn_asignados">Asignados</label>
                            <input type="radio" name="asignados" id="asignados">
                        </div>
                        <div id="buscador"> </div>
                    </div>
                    <div id="fondo_azul_osc" class="tabla_con_info">
                        <div id="tableContainer" class="tableContainer inner_table vh45">
                            <table id="t_asignados" class="scrollTable lista_color">
                                <thead class="fixedHeader">
                                    <tr>
                                        {#<th class="id">Id</th>#}
                                        <th class="w20 left">Apellidos, Nombre</th>
                                        <th class="w11">Curso Matriculado</th>
                                        <th class="w5">Grupo</th>
                                        <th class="w15">Alternativas</th>
                                    </tr>
                                </thead>
                                <tbody class="scrollContent">
                                    {% for entity in entities_asig %}
                                        <tr id="{{entity.id}}">
                                            <td class="w20 left">{{ entity.apellido1 ~ " " ~ entity.apellido2 ~ ", " ~ entity.nombre}}</td>
                                            <td id="{{ entity.curso.id }}" class="w11">{{entity.curso.curso ~ " " ~ entity.curso.nivel}}</td>
                                            {% if entity.grupo %}
                                                <td id="{{ entity.curso.id }}" class="w5">{{entity.grupo.letra}}</td>
                                            {% else %}
                                                <td id="{{ entity.curso.id }}" class="w5">-</td>
                                            {% endif %}
                                            <td class="w15 asig_asignada" id="{{entity.optativa.id}}">
                                                {{render(controller("BackendBundle:Asignatura:OptativasCurso", {id:entity.curso.id}))}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="info_en_tabla">
                        <div class="cabecera_info">
                            Datos Alumno
                        </div>
                        <div class="contenido_info">
                            <div id="sin_seleccionar">
                                <p>Para ver detalles seleccione un alumno</p>
                            </div>
                            <div id="seleccionado" class="oculto"></div>
                        </div>             
                    </div>
                    <div id="enviar_select">
                        <button disabled="">Enviar Selección</button>
                    </div>
                </div> 
                <div class="tabla_asignados select_ord_datatable">
                </div>         
            </div>

        </div>
        </div>
    </div>
    {% endblock %}