{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascript %}

    <script>
        $("#asignatura_tipo").prop('readonly', true); //input sólo lectura

        //Se cambia el color del div al color seleccionado y se asigna el valor al input.
        $("#asignaturas_dialog #color_option").click(function(event) {
            $("#asignaturas_dialog #color #contenedor").css("background", $(this).attr("color"));
            $("#asignaturas_dialog #color #contenedor").attr("color", $(this).attr("color"));
            $("#asignaturas_dialog #tabla").addClass('oculto');
            $("#asignaturas_dialog #contenedor>span").addClass('oculto');

            $("#asignaturas_dialog #asignatura_color").removeClass('invalid');
            $("#asignaturas_dialog #color").removeClass('invalid');
            $("#asignaturas_dialog #div_error").addClass('oculto');

            $("#asignaturas_dialog #asignatura_color").val($(this).attr("color")).blur();
        });

        //Se muestra/oculta la tabla con las opciones de colores. 

        $("#asignaturas_dialog #tabla").click(function(event) {
            event.stopPropagation();
        });

        $("#asignaturas_dialog #flecha").click(function(event) {
            if($("#asignaturas_dialog #tabla").hasClass('oculto')){
                $("#asignaturas_dialog #tabla").removeClass('oculto');
            }
            else{
                $("#asignaturas_dialog #tabla").addClass('oculto');
            }
            event.stopPropagation();
        });

        $(document).click(function(event) {
            //Se comprueba  que se hace click en el botón izquierdo del ratón (which->1(izquierdo),2(central) y 3(derecho))
            if(event.which == 1){
                //Si no tiene color seleccionado y se cierra la tabla de opciones se muestra aviso de error.
                if(!$("#asignaturas_dialog #tabla").hasClass('oculto') && !$("#asignaturas_dialog #contenedor").attr("color")){
                    $("#asignaturas_dialog #color").addClass('invalid');
                    $("#asignaturas_dialog #div_error").removeClass('oculto');
                }

                $("#asignaturas_dialog #tabla").addClass('oculto');
            }
        });
    </script>

{% endblock %}

{% block body -%}
    {{form_start(form, {'action':path('asignatura_create'),'method':'POST','attr':{'id':'asignatura_nueva' , novalidate:'novalidate', 'autocomplete':'off'}})}}
        {{ form_errors(form) }}
    	<div class="width100">
    		<div id="content-form">
        		<fieldset >
            		<legend>Añadir nueva Asignatura</legend>
                   		<div class="addregistro">
                   			{{ form_row(form.tipo) }}
                            {{ form_row(form.opcional) }}
                            <div>
                                <label id="label_color">Color<span>(Para edición de horarios)</span></label>
                                <div id="color">
                                    <div id="contenedor"><span>Seleccione</span></div>
                                    <div id="flecha"></div>
                                </div>
                                <div id="tabla" class="oculto">
                                    {% set colores = ["#FA5858","#FA8258", "#f4ba70" , "#cda16d","#76bf67", "#a9cf55","#58FA82","#7fca9f","#4d96ae","#4a789c","#8777ff", "#BE81F7","#F781BE"] %}

                                    {% for color in colores %}
                                    <div id="color_option" style="background-color:{{ color }}; color:{{ color }};" color="{{ color }}">&#10004;
                                    </div>

                                    {% endfor %}

                                </div>
                                <div id="div_error" class="oculto">
                                    <span class="error">Dato Requerido</span>
                                </div>
                                
                            </div>
                        	{{ form_row(form.nombre) }}
                        	{{ form_row(form.abreviatura) }}
                    	</div>
        		</fieldset>       
    		</div>  
    		<div id="botones_dialogo">
        		{{ form_row(form.submit) }}
    		</div>
    		 <div class="oculto">
        		{{ form_rest(form) }} 
    		</div>
    	</div>
    {{form_end(form)}}
{% endblock %}
