{%  if entities %}	
  <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr >
            <th class="cold-md-1">{% trans %}Nº de clase{% endtrans %}</th>
            <th class="cold-md-11">{% trans %}Apellidos, Nombre{% endtrans %}</th>
          </tr>
        </thead>
        <tbody class="">
        {% for entity in entities %}
          <tr id="{{ entity.id }}" nombre="{{entity}}" sexo="{{entity.sexo}}">
            <td class="cold-md-1">
              {{ entity.numAlum }}
            </td>
            <td class="cold-md-11" >
            	{{entity.apellido1 ~ " " ~ entity.apellido2 ~ ", " ~ entity.nombre }}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
  </div>
{% else %}
  <div class="alert alert-info alert-block">
    <small>
      <h4>{% trans %}El grupo no tiene asignados alumnos en este momento{% endtrans %}.</h4>
      <h6>{% trans %}Se podrá consultar el listado de alumnos cuando se asigen los alumnos al grupo{% endtrans %}.</h6>
    </small>
  </div>
{% endif %}

