{% extends  'IntranetBundle:Profesor:index.html.twig' %}

{% block body %}
    {{parent()}}
    <script>
    	$(".menu li").removeClass('active');
		$(".menu #asistencia").addClass('active');
        
    // Tabla con la opción de ordenar y búsqueda.
    $('#table_teacher').DataTable( { //on( 'page.dt',   function () { $(".current").prop("disabled", true); } )
        //"aLengthMenu": [[25, 50, 100, 250, 500, -1], [25, 50, 100, 250, 500, "All"]],
                initComplete: function () {
            this.api().columns().every( function (e) {
                var column = this;
                var select = $('<select class="'+e+'"><option value=""></option></select>')
                    .appendTo('.select_table')
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
                select.append( '<option value="nada">nada</option>' )
            } );
        },
        "order": [[ 0, "asc" ]],
        "aLengthMenu": [[-1], [ "All"]],
        "columnDefs": [ {
            "targets": 'no-sort',
            "orderable": false,} ],
        "language": {
            "zeroRecords": "Lo siento, no se ha encontrado ningún registro coincidente",
            "emptyTable": "No hay alumnos en el curso anterior pendientes de matriculación",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing":     "Processando...",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros)",
            "search": "Buscar:",
            "Next": "Siguiente",
            "paginate": {
                "previous": "Anterior",
                "next": "Siguiente"
            }
        }
    });

    $(".dataTables_info").addClass("hidden");
    $(".dataTables_paginate").addClass("hidden");
    $(".dataTables_length").addClass("hidden");
    $('.dataTables_filter').addClass("hidden");

    //Se muestra las faltas en el listado
    array={{faltas|json_encode()|raw}};
    for (var key in array){
       clave=key.split("-");
        alumno=clave[0];
        falta=clave[1];
        tipo=array[key];


        $("#tabla_ausencia_profesor tr[id='"+alumno+"'] td:last-child").append('<a id="btn_eliminar" falta="'+falta+'" href="javascript:void(0);"  data-target="#eliminar_ausencia_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-trash-o"></i></a>'); 

        if(tipo=="Falta" || tipo=="Falta justificada"){
            $("#tabla_ausencia_profesor tr[id='"+alumno+"'] td[id='falta']").empty();
            $("#tabla_ausencia_profesor tr[id='"+alumno+"'] td[id='falta']").append('<i class="fa fa-check-square-o"></i>'); 
            $("#tabla_ausencia_profesor tr[id='"+alumno+"'] td[id='retraso']").empty();
        }
        else{
            $("#tabla_ausencia_profesor tr[id='"+alumno+"'] td[id='retraso']").empty(); 
            $("#tabla_ausencia_profesor tr[id='"+alumno+"'] td[id='retraso']").append('<i class="fa fa-check-square-o"></i>');  
            $("#tabla_ausencia_profesor tr[id='"+alumno+"'] td[id='falta']").empty();
        }
    }

    //Se marcan las opción del formulario.
    asignatura={{asignatura|json_encode()|raw}};
    horario={{horario|json_encode()|raw}};
    //fecha={{fecha|json_encode()|raw}};

    $("#ausencia_asignatura option[value='"+asignatura+"']").prop('selected', true);
    $("#ausencia_horario option[value='"+horario+"']").prop('selected', true);
    
   // $("#ausencia_fecha_date_day").val(fecha.getDate());
    //$("#ausencia_fecha_date_month").val(fecha.getMonth()+1);
    //$("#ausencia_fecha_date_year").val(fecha.getFullYear());

    </script>
 {% endblock %}

{% block migas %}
	<li class="tipo">
		{% trans %}Profesorado{% endtrans %}
	</li>
	<li>
		<a href="{{path('intranet_profesor')}}">
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li class="active no-seleccion">
		{% trans %}Faltas de asistencia{% endtrans %}
	</li>
{% endblock %}

{% block titulo_cabecera %}
	<i class="fa fa-list-alt page-header-icon"></i>
	{% trans %}Faltas de asistencia{% endtrans %}
{% endblock %}
{% block titulo_cabecera_movil %}
    <i class="fa fa-list-alt page-header-icon"></i>
    {% trans %}Faltas de asistencia{% endtrans %}
{% endblock %}

{% block contenido %}
    <h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Faltas de asistencia{% endtrans %}</h4>

    <div id="seleccion_ausencias" class=" contenedor_seleccion col-sm-12" locale="{{ app.request.getLocale() }}" >
      {% if entity.nivel == "Primaria"%}
        <div id="1" class="col-sm-4 center">
            <p>{% trans %}Seleccione un grupo{% endtrans %}:</p>

            <div id="cursos" class="seleccion" locale="{{ app.request.getLocale() }}">
                {% for curso in cursos %}
                    <button id="{{curso.grupo.id}}" class="btn btn-primary">{{curso.grupo.curso.curso ~ " " ~ curso.grupo.letra}}</button>
                {% endfor %}

            </div>
            <span id="orden">1</span>
        </div>

        <div id="2" class="col-sm-4 center hidden">
            <p>{% trans %}Seleccione una asignatura{% endtrans %}:</p>
            <div id="asignatura" class="seleccion"></div>
            <span id="orden">2</span>
        </div>

        <div id="3" class="col-sm-4 center hidden">
            <p>{% trans %}Seleccione día y hora{% endtrans %}:</p>
            <div id="fecha" class="seleccion center" locale="{{ app.request.getLocale() }}">
                <div id="ultimas_fechas" class="hidden">
                    <span>
                        <span class="hidden-sm hidden-md hidden-xs">{% trans %}Clases de los últimos{% endtrans %}</span> 
                        <span class=" hidden-lg">Últimos</span> 
                        <select id="num_fechas">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                            <option value="50">50</option>
                        </select>días:
                    </span>
                </div>
                
                <select id="dia" class="center-block text-center"></select>
                <select id="hora" class="center-block text-center "></select>

                <div class="cointainer_error_fecha">
                    <span id="error" class="hidden">{% trans %}No se han impartido clases en ese grupo{% endtrans %}</span>
                </div>
            </div>  
            <span id="orden">3</span>
        </div>
      {% else %}

        <div id="1" class="col-sm-4 center">
            <p>{% trans %}Seleccione un grupo{% endtrans %}:</p>

            <div id="cursos" class="seleccion" locale="{{ app.request.getLocale() }}">
                <button id="{{cursos.id}}" class="btn btn-primary  active">{{cursos}}</button>
            </div>
            <span id="orden" style="background-color: rgb(51, 122, 183);">1</span>
        </div>
        <div id="3" class="col-sm-4 center">
            <p>{% trans %}Seleccione destinatario{% endtrans %}:</p>
            <div id="alumnos" class="seleccion center" locale="{{ app.request.getLocale() }}">
                <div class="div_btn">
                    <button id="individual" data-target="#lista_alumnos_seguimiento" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-user"></i> Alumno </button>
                    <button id="grupo" class="btn btn-primary" ><i class="fa fa-users"></i> Grupo</button>
                </div>
            </div>  
            <span id="orden">2</span>
        </div>

      {% endif %}

    </div>

    <div id="tabla_ausencia_profesor" class="panel panel-default tab-content tablas">
         <h4 class="text-center">{% trans %}Listado de alumnos de la clase actual{% endtrans %}</h4>

    {% if alumnos != null %}
        <div>
       <table id="table_teacher" class="lista-alumnos table table-striped table-bordered" class="col-sm-offset-1 col-sm-10">
        <thead >
            <tr>
                <th class="col-xs-1 center">Nº</th>
                <th class="col-xs-7 col-sm-9 no-sort">{% trans %}Apellidos, Nombre{% endtrans %}</th>
                <th class="col-xs-1 center no-sort no-padding">
                    <span class="hidden-xs">{% trans %}Falta{% endtrans %}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{% trans %}F{% endtrans %}</span>
                </th>
                <th class="col-xs-1 center no-sort no-padding">
                    <span class="hidden-xs">{% trans %}Retraso{% endtrans %}</span>
                    <span class="hidden-sm hidden-md hidden-lg">{% trans %}R{% endtrans %}</span>
                </th>
                <th class="col-xs-1 no-sort no-padding"></th>
            </tr>
        </thead> 
        <tbody>
            {% for alumno in alumnos %}
                <tr id="{{ alumno.id }}">
                    <td class="col-xs-1 center">{{alumno.numAlum}}</td>
                    <td class="col-xs-7 col-sm-9">
                        {{ alumno.apellido1 ~ " " ~ alumno.apellido2 ~ ", " ~ alumno.nombre }}
                    </td>
                    <td id="falta" class="col-xs-1 center no-padding"><input type="checkbox"></td>
                    <td id="retraso" class="col-xs-1 center no-padding"><input type="checkbox"></td>
                    <td class="col-xs-1 center no-padding"></td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
      {% set locale = app.request.getLocale() %}

        {{form_start(form, {'method':'Post','attr':{'id':'ausencia', 'data-toggle':"validator", 'role':"form" ,'novalidate':'novalidate', 'autocomplete':'off'}})}}
            {{ form_errors(form) }}
            {{ form_row(form.submit,{'id':'intranet_'~form.submit.vars.id , 'attr':{'class': 'btn btn-success center-block disabled' }}) }}

            <div class="hidden">
             {{ form_rest(form) }}
            </div>

            </div>
        {{ form_end(form) }}

      </div>
    {% else %}
            <div class="alert alert-info alert-block">
                <small>
                    <h4>{% trans %}No tienes asignada ninguna clase a esta hora{% endtrans %}.</h4>
                    <h6>{% trans %}Para gestionar las faltas de asistencia de días anteriores seleccione las distintas opciones en la parte superior{% endtrans %}.</h6>
                </small>
            </div>
    {% endif %}
</div>

    <!-- Ventana modal de eliminación de la tarea -->
  <div id="eliminar_tarea_modal" class="modal fade-scale aviso"  tabindex="-1" role="dialog" data-backdrop="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans %}Eliminación de la tarea{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            
            <p>Se va a eliminar la tarea del sistema y no se podrá recuperar.</p>
            <p>¿Estas seguro de continuar?</p>
            <div class="class-footer">
                <button class="btn btn_azul" type="button" data-dismiss="modal" title="">Cancelar</button>
                <form >
                <input name="_method" value="DELETE" type="hidden">
                <div id="form">
                    <div>
                        <button id="form_submit" class="btn btn-danger" type="submit" name="form[submit]">Eliminar</button>
                    </div>
    
                </div>
                </form>
            </div>
            
        </div>
        </div>
    </div>
  </div>

{% endblock %}