{% extends  'IntranetBundle:Profesor:index.html.twig' %}

{% block body %}
    {{parent()}}
    <script>
    	$(".menu li").removeClass('active');
		$(".menu #calificaciones").addClass('active');
        
        //Se selecciona los valores de los select ocultos.
        profesor={{entity.id|json_encode()|raw}};
        $("#tarea_profesor option[value='"+profesor+"']").prop('selected', true);


        grupos={{grupos|json_encode()|raw}};
        for(var key in grupos ){
            $("#tabla_tareas_profesor tr[id='"+key+"'] #grupos_tareas").text(grupos[key]);
        }

        //Se selecciona el trimestre actual.
        trimestre={{trimestre|json_encode()|raw}};
        $("#tarea_trimestre option[value='"+trimestre+"']").prop('selected', true);


    </script>
 {% endblock %}

{% block migas %}
	<li class="tipo">
			{% trans %}Profesorado{% endtrans %}
	</li>
	<li>
		<a href="{{path('intranet_profesor')}}">
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li class="active no-seleccion">
		{% trans %}Calificaciones{% endtrans %}
	</li>
{% endblock %}

{% block titulo_cabecera %}
	<i class="fa fa-list-alt page-header-icon"></i>
	{% trans %}Calificaciones{% endtrans %}
{% endblock %}
{% block titulo_cabecera_movil %}
    <i class="fa fa-list-alt page-header-icon"></i>
    {% trans %}Calificaciones{% endtrans %}
{% endblock %}

{% block contenido %}
    <h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Calificaciones del curso{% endtrans %}</h4>

	<div id="seleccion_calificaciones" class="contenedor_seleccion col-sm-12" locale="{{ app.request.getLocale() }}" >
      {% if entity.nivel == "Primaria"%}

        <div id="1" class="col-sm-4 center">
            <p>{% trans %}Seleccione una opción{% endtrans %}:</p>
            <div id="opciones" class="seleccion" locale="{{ app.request.getLocale() }}">
                {% if tutor_grupo %}
                    <button id="nueva" class="btn btn-primary col-xs-11 col-lg-5 ">{% trans %}Añadir Tarea{% endtrans %}</button>
                    <button id="evaluar" class="btn btn-primary col-xs-11 col-lg-5 ">{% trans %}Evaluar Tarea{% endtrans %}</button>
                    <button id="trimestre" class="btn btn-primary col-xs-11 ">{% trans %}Evaluar trimestre{% endtrans %}</button>
                    <a href="{{ path('evaluacion_grupo', { 'id': tutor_grupo.id }) }}" id="{{tutor_grupo.id}}" class="verde btn btn-primary col-xs-11 waiting">{% trans %}Ver evaluación de mi Grupo{% endtrans %}</a>  
                {% else %}  
                    <button id="nueva" class="btn btn-primary col-xs-11 ">{% trans %}Añadir Tarea{% endtrans %}</button>
                    <button id="evaluar" class="btn btn-primary col-xs-11 ">{% trans %}Evaluar Tarea{% endtrans %}</button>
                    <button id="trimestre" class="verde btn btn-primary col-xs-11 ">{% trans %}Evaluar trimestre{% endtrans %}</button>  
                {% endif %} 
            </div>
            <span id="orden">1</span>
        </div>

        <div id="2" class="col-sm-4 center hidden">
            <p>{% trans %}Seleccione una asignatura{% endtrans %}:</p>
            <div id="asignatura" class="seleccion">
                {% for asignatura in imparte %}
                    <button id="{{asignatura.asignatura.id}}" asig="{{asignatura.asignatura.asignatura.id}}" class="btn btn-primary col-xs-11 ">{{asignatura.asignatura.asignatura.nombre}}</button>
                {% endfor %}
            </div>
            <span id="orden">2</span>
        </div>

		<div id="3_1" class="col-sm-4 center hidden">
			<p>{% trans %}Seleccione un grupo{% endtrans %}:</p>
            <div id="cursos" class="seleccion" locale="{{ app.request.getLocale() }}">
                    {% for curso in cursos %}
                    <a id="{{curso.grupo}}" asig="{{curso.asignatura.asignatura.id}}" href="{{ path('evaluar_asignatura', {"id": curso.grupo.id, "asig":curso.asignatura.asignatura.id}) }}" locale="{{ app.request.getLocale() }}" class="btn btn-primary waiting">{{curso.grupo.curso.curso ~ " " ~ curso.grupo.letra}}</a>
                {% endfor %}   
			</div>
			<span id="orden">3</span>
		</div>
        <div id="3_2" class="multiple_seleccion col-sm-4 center hidden">
            <p>{% trans %}Seleccione los grupos{% endtrans %}:</p>
            <div id="cursos" class="seleccion" locale="{{ app.request.getLocale() }}"></div>    
            <span id="orden">3</span>
        </div>

        <div id="3_3" class="col-sm-4 center hidden">
            <p>{% trans %}Seleccione un grupo{% endtrans %}:</p>
            <div id="cursos" class="seleccion" locale="{{ app.request.getLocale() }}">
                    {% for curso in cursos %}
                    <a id="{{curso.grupo}}" asig="{{curso.asignatura.asignatura.id}}" href="{{ path('evaluar_trimestre', {"id": curso.grupo.id, "asig":curso.asignatura.asignatura.id}) }}" locale="{{ app.request.getLocale() }}" class="btn btn-primary waiting">{{curso.grupo.curso.curso ~ " " ~ curso.grupo.letra}}</a>
                {% endfor %}   
            </div>
            <span id="orden">3</span>
        </div>

        <div id="4" class="hidden clear">
        {% set locale = app.request.getLocale() %}

        {{form_start(form, {'method':'Post','attr':{'id':'calificaciones_nuevo', 'data-toggle':"validator", 'role':"form" ,'novalidate':'novalidate', 'autocomplete':'off'}})}}
            <div  class="col-xs-12 col-sm-10 center">
                <p>{% trans %}Seleccione el trimestre e inserte el nombre de la tarea{% endtrans %}:</p>

                <div id="descripcion" class=" seleccion col-xs-12" >
                    {{ form_errors(form) }}
                    <div class="col-xs-12">
                        <div class="">
                            <div class="input-group col-xs-12">
                                {{ form_widget(form.trimestre, {'attr':{'class': ' col-xs-8 col-sm-3' }}) }}

                                {{ form_widget(form.descripcion, {'attr':{'class': 'col-xs-12 col-sm-offset-1 col-sm-8' }}) }}
                            </div>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>

                <span id="orden" class="orden_descripcion hidden-xs">4</span>
                <span id="orden" class="orden_descripcion_movil hidden-sm hidden-md hidden-lg">4</span>

            </div>
            <div class="boton_enviar col-sm-2"> 
                {{ form_row(form.submit,{'id':'intranet_'~form.submit.vars.id , 'attr':{'class': 'btn btn-success center-block' }}) }}
            </div>

            <div class="hidden">
                {{ form_rest(form) }}
            </div>
            {{ form_end(form) }}
        </div>
      {% else %}

        <div id="3" class="col-sm-4 center">
            <p>{% trans %}Seleccione un grupo{% endtrans %}:</p>

            <div id="cursos" class="seleccion" locale="{{ app.request.getLocale() }}">
                <button id="{{cursos.id}}" class="btn btn-primary  active">{{cursos}}</button>
            </div>
            <span id="orden" style="background-color: rgb(51, 122, 183);">1</span>
        </div>
        <div id="3" class="col-sm-4 center">
            <p>{% trans %}Seleccione destinatario{% endtrans %}:</p>
            <div id="alumnos" class="seleccion center" locale="{{ app.request.getLocale() }}">
                <div class="div_btn">
                    <button id="individual" data-target="#lista_alumnos_calificaciones" class="btn btn-primary" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-user"></i> Alumno </button>
                    <button id="grupo" class="btn btn-primary" ><i class="fa fa-users"></i> Grupo</button>
                </div>
            </div>  
            <span id="orden">2</span>
        </div>

      {% endif %}

	</div>

<div id="tabla_tareas_profesor" class="panel panel-default tab-content">
    <h4 >{% trans %}Tareas Evaluables{% endtrans %}</h4>

    {% if tareas != null %}
        <div class="table-responsive">
        <table class="table lista-alumnos table_task table-striped ">
            <thead>
                <tr>
                    <th class="col-md-4">{% trans %}Nombre de la tarea{% endtrans %}</th>
                    <th class="col-md-4">{% trans %}Asignatura{% endtrans %}</th>
                    <th class="col-md-1">{% trans %}Trimestre{% endtrans %}</th>
                    <th class="col-md-2">{% trans %}Grupos{% endtrans %}</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            
            <tbody class="">
            {% for entity in tareas %}
                <tr id="{{ entity.id }}">
                    <td class="col-md-4">{{ entity.descripcion }}</td>
                    <td class="col-md-4" >
                        {{entity.asignatura.asignatura.nombre }}
                    </td>
                    <td class="col-md-1">{{entity.trimestre ~ "º"}}</td>
                    <td id="grupos_tareas" class="col-md-2"></td>
                    <td class="col-md-1">
                        <a id="btn_eliminar" href="javascript:void(0);"  data-target="#eliminar_tarea_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </td> 
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    {% else %}
            <div class="alert alert-info alert-block">
                <small>
                    <h4>{% trans %}No tienes traeras evaluables registradas en el sistema{% endtrans %}.</h4>
                    <h6>{% trans %}Para añadir una nueva tarea pulse sobre la opción "Añadir Tarea" y siga los pasos{% endtrans %}.</h6>
                </small>
            </div>
    {% endif %}
</div>

    <!-- Ventana modal de eliminación de la tarea -->
  <div id="eliminar_tarea_modal" class="modal fade-scale aviso"  tabindex="-1" role="dialog" data-backdrop="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans %}Eliminación de la tarea{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            
            <p>Se va a eliminar la tarea del sistema y no se podrá recuperar.</p>
            <p>¿Estas seguro de continuar?</p>
            <div class="class-footer">
                <button class="btn btn_azul" type="button" data-dismiss="modal" title="">Cancelar</button>
                <form >
                <input name="_method" value="DELETE" type="hidden">
                <div id="form">
                    <div>
                        <button id="form_submit" class="btn btn-danger" type="submit" name="form[submit]">Eliminar</button>
                    </div>
    
                </div>
                </form>
            </div>
            
        </div>
        </div>
    </div>
  </div>

{% endblock %}