{% extends  'IntranetBundle:Profesor:index.html.twig' %}

{% block body %}
    {{parent()}}
    <script>
    	$(".menu li").removeClass('active');
		$(".menu #cursos").addClass('active');

	
		//Se elimina el contenedor del tutor si aparece vacío al no impartir otra asignatura en el grupo.
		if($(".cabecera_profesor div:empty").size()>0){
			$(".cabecera_profesor div:empty").closest(".cabecera_profesor").prev().remove();
			$(".cabecera_profesor div:empty").closest(".cabecera_profesor").remove();
		}

		//Se hace marca el botón del curso seleccionado y se obtiene la lista de alumnos en el contenedor correspondiente.
  		$('#contenedor_cursos_profesor button').on('click', function(event) {
  			//Cambiamos el cursor a espera.
  			$('body').addClass('waiting');
  			if(!$(this).hasClass("disabled")) {
	   			$('#contenedor_cursos_profesor button').removeClass('active');
	    		$(this).addClass('active');
	    	}

	    	if($('#alumnos').hasClass('active')){
	    		id=$(this).attr("id");
	    		locale=$(this).parent().attr("locale");
    			$('#alumnos #lista_alumnos').load(Routing.generate("datos_alumnos_grupo", {id:id, _locale:locale}), function(){
    				//Se oculta los botones de descarga por si existe alguno.
					$("#alumnos a button").addClass('hidden');
      				$("#alumnos_grupo_pdf[class*='#1'] button").removeClass('hidden');
      				$("#alumnos_grupo_pdf").attr("grupo",id);

      				//Se modifica el id del grupo en la url de todos los enlaces de descargas que tiene por defectoe l id del profesor.
      				$("#alumnos .descargar-datos").each(function(index, el) {
      					str = $(this).attr("href");
						n = str.lastIndexOf("/");
						dir=str.substring(0,n+1);
						$(this).attr("href",dir+id);
      				});
      				//Eliminamos el cursor de espera al finalizar.
					$('body').removeClass('waiting');
    			}); 
  			}
		});

  		$('#tab_prof_horarios').on('click', function(event) {
	   		$('#contenedor_cursos_profesor button').addClass('disabled');
  		});
  		$('#tab_prof_alumnos').on('click', function(event) {
	   		$('#contenedor_cursos_profesor button').removeClass('disabled');
  		});

  		//En el caso de infantil se carga directamente la lista de alumnos del grupo que tutoriza el profesor.
  		if($('#contenedor_cursos_profesor button').size()==1){
	    	id=$('#contenedor_cursos_profesor button').attr("id");
	    	locale=$('#contenedor_cursos_profesor button').parent().attr("locale");
    		$('#alumnos #lista_alumnos').load(Routing.generate("datos_alumnos_grupo", {id:id, _locale:locale}), function(){	
    		}); 	
  		}

    </script>
 {% endblock %}

{% block migas %}
	<li class="tipo">
			{% trans %}Profesorado{% endtrans %}
	</li>
	<li>
		<a href="{{path('intranet_profesor')}}">
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li class="active no-seleccion">
		{% if app.user.nivel == "Primaria" %}
			{% trans %}Cursos impartidos{% endtrans %}
		{% else %}
			{% trans %}Curso actual{% endtrans %}
		{% endif %}
	</li>
{% endblock %}

{% block titulo_cabecera %}
	<i class="fa fa-server page-header-icon"></i>
	{% if app.user.nivel == "Primaria" %}
		{% trans %}Cursos impartidos{% endtrans %}
	{% else %}
		{% trans %}Curso actual{% endtrans %}
	{% endif %}
{% endblock %}

{% block titulo_cabecera_movil %}
	<i class="fa fa-server page-header-icon"></i>
	{% if app.user.nivel == "Primaria" %}
		{% trans %}Cursos impartidos{% endtrans %}
	{% else %}
		{% trans %}Curso actual{% endtrans %}
	{% endif %}
{% endblock %}

{% block contenido %}
	<h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Datos del curso{% endtrans %}</h4>
	{% if cursos != null %}
		<div id="cursos_profesores" class="container-fluid div_datos_curso">
			{% if entity.nivel == "Primaria" %}
				<div class="pull-left col-xs-12 col-sm-5 no-padding datos_curso">
					<label>{% trans %}Nivel impartido{% endtrans %}:</label>
					{% if entity.nivel == "Primaria" %}
						<span> {% trans %}Ed. Primaria{% endtrans %}</span >
					{% else %}
						<span>{% trans %}Ed. Infantil{% endtrans %}</span>
					{% endif %}
					<br>

					<label>{% trans %}Año académico{% endtrans %}:</label>
					<span> {{inicio.inicioCurso|date('Y') ~ " / " ~ fin.finCurso|date('Y')}}</span >
					
					<br>	

					{% if entity.sexo == "Masculino" %}
						<label>{% trans %}Tutor del grupo{% endtrans %}:</label>
					{% else %}
						<label>{% trans %}Tutora del grupo{% endtrans %}:</label>
					{% endif %}
			
					{% if tutor_grupo %}
						<span> {{tutor_grupo.curso.curso ~ " " ~ tutor_grupo.letra}}</span >
					{% else %}
						<span class="text-danger">{% trans %}Sin asignar{% endtrans %}</span>
					{% endif %}
					
				</div>


		  		<div class="pull-left col-xs-12 col-sm-6 no-padding datos_curso">
					<label>{% trans %}Cursos impartidos{% endtrans %}:</label>
					<div id="contenedor_cursos_profesor" locale="{{ app.request.getLocale() }}">
						{% for curso in cursos %}
							<button id="{{curso.grupo.id}}" class="btn btn-primary disabled">{{curso.grupo.curso.curso ~ " " ~ curso.grupo.letra}}</button>
						{% endfor %}
					</div>
		  		</div>
			{% else %}

				<div class="pull-left col-xs-12 no-padding datos_curso datos_infantil">
					<div>
						<label>{% trans %}Nivel impartido{% endtrans %}:</label>
						{% if entity.nivel == "Primaria" %}
							<span> {% trans %}Ed. Primaria{% endtrans %}</span >
						{% else %}
							<span>{% trans %}Ed. Infantil{% endtrans %}</span>
						{% endif %}
					</div>
					
					<div>
						<label>{% trans %}Año académico{% endtrans %}:</label>
						<span> {{inicio.inicioCurso|date('Y') ~ " / " ~ fin.finCurso|date('Y')}}</span >
					</div>
					
					<div>
						{% if entity.sexo == "Masculino" %}
							<label>{% trans %}Tutor del grupo{% endtrans %}:</label>
						{% else %}
							<label>{% trans %}Tutora del grupo{% endtrans %}:</label>
						{% endif %}
			
						{% if tutor_grupo %}
							<span> {{tutor_grupo.curso.curso ~ " " ~ tutor_grupo.letra}}</span >
						{% else %}
							<span class="text-danger">{% trans %}Sin asignar{% endtrans %}</span>
						{% endif %}
					</div>
				</div>


		  		<div class="pull-left col-xs-12 col-sm-6 no-padding datos_curso hidden">
					<label>{% trans %}Cursos impartidos{% endtrans %}:</label>
					<div id="contenedor_cursos_profesor" locale="{{ app.request.getLocale() }}">
						<button id="{{cursos.id}}" class="btn btn-primary">{{cursos.curso.curso ~ " " ~ cursos.letra}}</button>
					</div>
		  		</div>
			{% endif %}
		</div>

	 	<div role="tabpanel" class="tab_horarios">
	
			<ul class="nav nav-tabs" role="tablist">
				{% if entity.nivel == "Primaria" %}
					<li role="presentation" class="active"><a id="tab_prof_horarios" href="#horarios" aria-controls="horarios" data-toggle="tab" role="tab">{% trans %}Horario de clases{% endtrans %}</a></li>
					<li role="presentation"><a id="tab_prof_alumnos" href="#alumnos" aria-controls="alumnos" data-toggle="tab" role="tab">{% trans %}Cursos impartidos{% endtrans %}</a></li>
				{% else %}
					{% if tutor_grupo %}
						<li role="presentation" class="active"><a id="tab_prof_alumnos" href="#alumnos" aria-controls="alumnos" data-toggle="tab" role="tab">{% trans %}Alumnos del grupo{% endtrans %}</a></li>
					{% endif %}
				{% endif %}
			</ul>
			<div class="tab-content clearfix">
				{% if entity.nivel == "Primaria" %}
				<div role="tabpanel" class="tab-pane active clearfix horario-profesor horario_intranet" id="horarios">

					<a id="horario_pdf"class=" descargar-datos descargar-datos visible-md visible-lg hidden-xs visible-sm"   href="{{ path('horario_profesor_pdf', { 'id': entity.id }) }}"><button><i class="fa fa-file-pdf-o"></i>{% trans %}Horario PDF{% endtrans %}</button></a>

					<div class="col-xs-12">
					  <div class="visible-md visible-lg hidden-xs visible-sm">
						<div id="cabecera_horarios" class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">{% trans %}Módulos{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Lunes{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Martes{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Miércoles{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Jueves{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Viernes{% endtrans %}</div>
							</div>
						</div>
						<div id="contenido_horarios" class="col-xs-12">
							{{render (controller('IntranetBundle:Profesor:HorariosProfesor',{ 'num': "0" }))}}
						</div>
					  </div>
					  {# Estilo acordeón versión móvil #}	
     				  <div class="panel-group col-xs-12 hidden-md hidden-lg visible-xs hidden-sm" id="accordion">
  						<div class="panel panel-default">
    						<div class="panel-heading">
      							<h4 class="panel-title">
        							<a data-toggle="collapse" class="col-xs-12" data-parent="#accordion" href="#collapse1">{% trans %}Lunes{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse1" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
						      		
						      		{{render (controller('IntranetBundle:Profesor:HorariosProfesor',{ 'num': "1" }))}}
						      		
  								</div>
    						</div>
  						</div>
  						
  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse" class="col-xs-12" data-parent="#accordion" href="#collapse2">{% trans %}Martes{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse2" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
									{{render (controller('IntranetBundle:Profesor:HorariosProfesor',{ 'num': "2" }))}}	      					
  								</div>
    						</div>
  						</div>

  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse"  class="col-xs-12"data-parent="#accordion" href="#collapse3">{% trans %}Miércoles{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse3" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
									{{render (controller('IntranetBundle:Profesor:HorariosProfesor',{ 'num': "3" }))}}
  								</div>
    						</div>
  						</div>

  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse"  class="col-xs-12"data-parent="#accordion" href="#collapse3">{% trans %}Jueves{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse3" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
									{{render (controller('IntranetBundle:Profesor:HorariosProfesor',{ 'num': "4" }))}}
  								</div>
    						</div>
  						</div>
  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse"  class="col-xs-12"data-parent="#accordion" href="#collapse3">{% trans %}Viernes{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse3" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
									{{render (controller('IntranetBundle:Profesor:HorariosProfesor',{ 'num': "5" }))}}
  								</div>
    						</div>
  						</div>

  						<a id="horario_pdf" class="descargar-datos hidden-md hidden-lg visible-xs hidden-sm" href="{{ path('horario_profesor_pdf', { 'id': entity.id }) }}"><button><i class="fa fa-file-pdf-o"></i>{% trans %}Horario PDF{% endtrans %}</button></a>
					
  					  </div>
					</div>			
				</div>
				{% endif %}

				{% if entity.nivel == "Primaria" %}
					<div role="tabpanel" class="tab-pane clearfix alumnos_grupo" id="alumnos">
						<a id="alumnos_grupo_pdf"class=" descargar-datos hidden-xs #1"   href="{{ path('alumnos_grupo_pdf', { 'id': entity.id }) }}">
							<button class="hidden"><i class="fa fa-file-pdf-o"></i>{% trans %}Lista de Alumnos PDF{% endtrans %}</button>
						</a>
						<a id="alumnos_grupo_pdf"class=" descargar-datos hidden-xs #2"   href="{{ path('horario_grupo_pdf', { 'id': entity.id }) }}">
							<button class="hidden"><i class="fa fa-file-pdf-o"></i>{% trans %}Horario del Grupo PDF{% endtrans %}</button>
						</a>
						<a id="alumnos_optativas_pdf"class=" descargar-datos hidden-xs #4"   href="{{ path('alumnos_optativas_pdf', { 'id': entity.id }) }}">
							<button class="hidden"><i class="fa fa-file-pdf-o"></i>{% trans %}Alumnos por optativas PDF{% endtrans %}</button>
						</a>
						<a id="alumnos_optativa_pdf" class=" descargar-datos hidden-xs"   href="{{ path('alumnos_optativa_pdf', { 'id': entity.id }) }}">
							<button class="hidden alumnos_optativa"><i class="fa fa-file-pdf-o"></i>{% trans %}Alumnos de la optativa PDF{% endtrans %}</button>
						</a>
						<div id="lista_alumnos">
							<p class="aviso_listado">{% trans %}Seleccione un curso de la lista superior para mostrar la lista de alumnos{% endtrans %}</p>
						</div>
					</div>
				{% else %}
					{% if tutor_grupo %}
					<div role="tabpanel" class="tab-pane active clearfix alumnos_grupo" id="alumnos">
						<a id="alumnos_grupo_pdf"class=" descargar-datos visible-md visible-lg hidden-xs visible-sm"   href="{{ path('alumnos_grupo_pdf', { 'id': entity.id }) }}">
							<button ><i class="fa fa-file-pdf-o"></i>{% trans %}Lista de Alumnos PDF{% endtrans %}</button>
						</a>

						<div id="lista_alumnos">
							<p class="aviso_listado">{% trans %}Seleccione un curso de la lista superior para mostrar la lista de alumnos{% endtrans %}</p>
						</div>

						<a id="alumnos_grupo_pdf"class=" descargar-datos hidden-md hidden-lg visible-xs hidden-sm"   href="{{ path('alumnos_grupo_pdf', { 'id': entity.id }) }}">
							<button class="hidden"><i class="fa fa-file-pdf-o"></i>{% trans %}Lista de Alumnos PDF{% endtrans %}</button>
						</a>
					</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
	{% else %}
		<div class="alert alert-info alert-block">
			<small>
				<h4>{% trans %}No tienes ningún curso asignado{% endtrans %}.</h4>
				<h6>{% trans %}Espere a que se realicen todas las asignaciones de los cursos{% endtrans %}.</h6>
			</small>
		</div>
	{% endif %}
	
	<div id="info_alumno" class="modal fade " role="dialog" data-backdrop="true" >
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{% trans %}Información del alumno{% endtrans %}</h4>
				</div>
				<div class="modal-body"></div>
				<div class="class-footer">
					{#<button type="button" class="btn btn-primary">Guardar</button>#}
					<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}Cerrar{% endtrans %}</button>
				</div>
			</div>
		</div>
	</div>

	<div id="info_profesor" class="modal fade " role="dialog" data-backdrop="true" >
		<div class="modal-dialog ">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">{% trans %}Información del profesor{% endtrans %}</h4>
				</div>
				<div class="modal-body"></div>
				<div class="class-footer">
					{#<button type="button" class="btn btn-primary">Guardar</button>#}
					<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans %}Cerrar{% endtrans %}</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}



