{% if tutor and tutor.id != profesor.id %}
	{% if  app.request.getLocale() == "es" %}
		<p class="titulo_curso">{{grupo.curso.curso ~ " " ~ "de Primaria"  ~ " - "  }} <span> {{"Grupo" ~ " " ~ grupo.letra }} </span></p>
	{% else %}
		<p class="titulo_curso">{{grupo.curso.curso ~ " " ~ "of Primary Education"  ~ " - "  }} <span> {{"Group" ~ " " ~ grupo.letra }} </span></p>
	{% endif %}

	<div id="tutor" class="col-xs-12 no-padding">
		<div class="col-xs-1 no-padding label_tutor">
		{% if tutor.sexo == "Femenino" %}
			{% trans %}Tutora{% endtrans %}:
   		{% else %}
   			{% trans %}Tutor{% endtrans %}: 
        {% endif %}	
		</div>
		
		<div class="col-xs-12 col-sm-10 no-padding cabecera_profesor">
			<h5 class="text-info">
				{{tutor.apellido1|upper ~ " " ~ tutor.apellido2|upper ~ ", " ~ tutor.nombre|upper }} 
				<a id="{{tutor.id}}" href="javascript:void(0);" class="i_hover" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% trans %}Contactar{% endtrans %}">
					<i id="first" class="fa fa-envelope-o"></i>
					<i id="second" class=" hidden fa fa-envelope"></i>
				</a>
			</h5>
		</div>
	</div>
{% endif %}

{% if tutor and tutor.id == profesor.id %}
	{% if grupo.curso.nivel == "Primaria" %}
		{% if  app.request.getLocale() == "es" %}
			<p class="titulo_curso">{{grupo.curso.curso ~ " " ~ "de Primaria"  ~ " - "  }} <span> {{"Grupo" ~ " " ~ grupo.letra }} </span></p>
		{% else %}
			<p class="titulo_curso">{{grupo.curso.curso ~ " " ~ "of Primary Education"  ~ " - "  }} <span> {{"Group" ~ " " ~ grupo.letra }} </span></p>
		{% endif %}
	{% else %}
		{% if  app.request.getLocale() == "es" %}
			<p class="titulo_curso">{{grupo.curso.curso ~ " " ~ "de Infantil"  ~ " - "  }} <span> {{"Grupo" ~ " " ~ grupo.letra }} </span></p>
		{% else %}
			<p class="titulo_curso">{{grupo.curso.curso ~ " " ~ "of Child Education"  ~ " - "  }} <span> {{"Group" ~ " " ~ grupo.letra }} </span></p>
		{% endif %}
	{% endif %}
	

	<div id="tutor" class="col-xs-12 no-padding">
		<div class="col-xs-1 no-padding label_tutor">{% trans %}Mi grupo{% endtrans %}</div>
		
	</div>
{% endif %}


<table class="lista-alumnos table table-striped">
	<thead  >
		<tr>
			<th class="col-xs-1 center">Nº</th>
			<th class="col-xs-8 col-sm-9">{% trans %}Apellidos, Nombre{% endtrans %}</th>
			<th class="col-xs-3 col-sm-2 center"></th>
		</tr>
	</thead> 
	<tbody>
		{% for entity in entities %}
		<tr>
			<td class="col-xs-1 center">
				{{ loop.index }}
			</td>
			<td class="col-xs-8 col-sm-9 ">
				{{entity.apellido1 ~ " " ~ entity.apellido2 ~ ", " ~ entity.nombre }} 
			</td>
			<td class="col-xs-3 col-sm-2 center">
				<a id="{{entity.id}}" href="javascript:void(0);" class="i_hover" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% trans %}Contactar{% endtrans %}">
					<i id="first" class="fa fa-envelope-o"></i>
					<i id="second" class=" hidden fa fa-envelope"></i>
				</a>
				{% if tutor and tutor.id == profesor.id %}

				<a id="{{entity.id}}" href="javascript:void(0);" class="i_hover" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% trans %}Ver info{% endtrans %}">
					<i id="first" class="fa fa-info"></i>
					<i id="second" class=" hidden fa fa-info-circle"></i>
				</a>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
	
<script>
  $("*").tooltip({
    placement: "bottom"
  });
</script>
