{% extends  'IntranetBundle:Profesor:index.html.twig' %}

{% block body %}
    {{parent()}}
  <link href="{{ asset('bundles/backend/js/jquery-ui/jquery-ui.css') }}" rel="stylesheet" type="text/css" />


    <script>
    	$(".menu li").removeClass('active');
		  $(".menu #reservas").addClass('active');
      $(".menu #reservas").addClass('click');


  inicio_d={{ inicio.inicioCurso|date('d') }};
  inicio_m= {{ inicio.inicioCurso|date('m') }};
  inicio_a= {{ inicio.inicioCurso|date('Y') }};  
  fin_d={{ fin.finCurso|date('d') }};
  fin_m= {{ fin.finCurso|date('m') }};
  fin_a= {{ fin.finCurso|date('Y') }};

  $.datepicker.regional['es'] = {
    closeText: 'Cerrar',
    prevText: '<Ant',
    nextText: 'Sig>',
    currentText: 'Hoy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
    weekHeader: 'Sm',
    dateFormat: 'dd/mm/yy',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''
  };
  if($("#intranet").attr("locale")=="es"){
    $.datepicker.setDefaults($.datepicker.regional['es']);
  }
  else{
    $.datepicker.setDefaults($.datepicker.regional['en']);
  }

  if(new Date() < new Date(inicio_a, inicio_m-1, inicio_d)){
    min=new Date(inicio_a, inicio_m-1, inicio_d);
  }
  else{
    min=new Date();
  }
// beforeShowDay: $.datepicker.noWeekends (Para deshabilitar fines de semana)
  $( "#dia_reserva_{{ tipo }}" ).datepicker({ minDate: min, maxDate: new Date(fin_a, fin_m-1, fin_d),beforeShowDay: $.datepicker.noWeekends, defaultDate: null,
    onChangeMonthYear:function () {
      $("#reserva_fecha #actualizar_calendario_lectivo").trigger("click");
    },    
    onSelect: function (date,inst) {

      d=$("#reserva_fecha #contenedor_reserva .ui-datepicker-calendar a[class*='ui-state-active']").text();
      m=('0'+(parseInt($("#reserva_fecha #contenedor_reserva .ui-datepicker-calendar a[class*='ui-state-active']").closest("td").attr("data-month"))+1)).slice(-2);
      a=$("#reserva_fecha #contenedor_reserva .ui-datepicker-calendar a[class*='ui-state-active']").closest("td").attr("data-year");
      fecha=d+"/"+m+"/"+a;
      // Se evita darle click al día seleccionado.
      if(fecha!=date){
        // Se establece como falso para impedir el redibujado en la función interna de la libreria jquery-ui (if (inst.inline) {this._updateDatepicker(inst);...})
        inst.inline = false;
        // Se elimina los estilos de la selección existente.
        $("#reserva_fecha #contenedor_reserva .ui-datepicker-calendar .ui-datepicker-current-day").removeClass("ui-datepicker-current-day").children().removeClass("ui-state-active");
        $("#reserva_fecha #contenedor_reserva .ui-datepicker-calendar tbody a[class*='ui-state-active']").removeClass("ui-state-active");
        // Se busca el enlace seleccionado y se le aplica los estilos.
        $("#reserva_fecha #contenedor_reserva .ui-datepicker-calendar tbody a").each(function(){
          if ($(this).text() == inst.selectedDay) {
            $(this).addClass("ui-state-active");
            $(this).parent().addClass("ui-datepicker-current-day");
          }
        });
        //Se simula el darle click a un día, guardando el día en un input y haciendo click para capturar el evento en intranet.js
        dia=date.split("/");
        $("#dia_seleccionado").attr("value",date);
        $("#dia_seleccionado").trigger("click");
      }
    } 
  });
  $('#reserva_fecha #contenedor_reserva a[class*="ui-state-disabled"]').hide();
  $("#reserva_fecha #actualizar_calendario_lectivo").trigger("click");

    //Se muestra el calendario sin opciones marcadas si no hay fecha del curso registrada.
  if(inicio_a<0){
    $("#reserva_fecha .ui-datepicker-calendar td").addClass('ui-state-disabled');
    $("#reserva_fecha .ui-datepicker-title span").remove();
  }
  // Se elimina el estilo de activado del dia actual.
  $("#reserva_fecha #contenedor_reserva .ui-datepicker-calendar .ui-datepicker-current-day").removeClass("ui-datepicker-current-day").children().removeClass("ui-state-active");
    </script>
 {% endblock %}

{% block migas %}
	<li class="tipo">
			{% trans %}Profesorado{% endtrans %}
	</li>
	<li>
		<a href="{{path('intranet_profesor')}}">
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li>
    <a href="{{path('intranet_profesor_reservas')}}">
      {% trans %}Reservas{% endtrans %}
    </a>
  </li>
  {% if tipo == "Instalación" %}
    <li class="active no-seleccion">
      {% trans %}Reserva de Instalación{% endtrans %}
    </li>  
  {% else %}
    <li class="active no-seleccion">
      {% trans %}Reserva de Equipamiento{% endtrans %}
    </li>  
  {% endif %}

{% endblock %}

{% block titulo_cabecera %}
	<i class="fa fa-comments page-header-icon"></i>
	{% trans %}Reservas{% endtrans %}
{% endblock %}
{% block titulo_cabecera_movil %}
    <i class="fa fa-comments page-header-icon"></i>
    {% trans %}Reservas{% endtrans %}
{% endblock %}

{% block contenido %}
  {% if tipo == "Instalación" %}
    <li class="active no-seleccion">
      <h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Reserva de Instalación{% endtrans %}</h4>
    </li>  
  {% else %}
    <li class="active no-seleccion">
      <h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Reserva de Equipamiento{% endtrans %}</h4>
    </li>
{% endif %}
    <div id="reserva_equipamiento" class="col-xs-12 col-sm-4 no-padding m_bottom30">
      <p class="text-center col-xs-12 col-sm-offset-1 col-sm-10 titulo_reservar">{% trans %}Seleccione una instalación{% endtrans %}:</p>
      <div class="opciones_reservar text-center col-xs-12 col-sm-offset-1 col-sm-10 no-padding">
        {% for entity in entities %}
          <button id="{{entity.id}}" class="col-xs-10 col-sm-10 center-block">{{entity.nombre}}</button>
          {% endfor %}
      </div>
    </div> 
    <div id="reserva_fecha" class="col-xs-12 col-sm-4 no-padding m_bottom30">
      <p class="text-center col-xs-12 col-sm-offset-1 col-sm-10 titulo_reservar">{% trans %}Seleccione una fecha{% endtrans %}:</p>
      <div class="contenedor_reserva opciones_reservar text-center col-xs-12 col-sm-offset-1 col-sm-10 no-padding" id="contenedor_reserva">
        <div id="dia_reserva_{{ tipo }}" class="calendario_lectivos"></div>
        <div id="div_leyenda" class="hidden"></div>
        <input id="dia_seleccionado" class="hidden"></input>
        <button id="actualizar_calendario_lectivo" class="hidden"></button>
      </div>
    </div> 
    <div id="reserva_modulos" class="col-xs-12 col-sm-4 no-padding m_bottom30 modulos_disabled">
      <p class="text-center col-xs-12 col-sm-offset-1 col-sm-10 titulo_reservar">{% trans %}Seleccione los módulos{% endtrans %}:</p>
      <div class="opciones_reservar text-center col-xs-12 col-sm-offset-1 col-sm-10 no-padding">
        {% for clase in clases %}
          {% if (loop.index is odd) %}
            <div class="col-xs-6  no-padding">
              <button id="{{clase.id}}" type="radio" class="btn disabled" clase="{{clase.horaClase}}" min="{{  clase.inicio|date('H:i')}}" ><p>{{ " Módulo " ~ clase.horaClase }}</p>{{  "(" ~ clase.inicio|date('H:i') ~ "-" ~ clase.fin|date('H:i') ~ ")" }}</button>
            </div>
          {% else %}
            <div class="col-xs-6 col-sm-5 col-sm-offset-0">
              <button id="{{clase.id}}" type="radio" class="btn  disabled"  clase="{{clase.horaClase}} " min="{{  clase.inicio|date('H:i')}}" ><p>{{ " Módulo " ~ clase.horaClase }}</p>{{  "(" ~ clase.inicio|date('H:i') ~ "-" ~ clase.fin|date('H:i') ~ ")" }}</button>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div> 


  {{form_start(form, {'method':'Post','attr':{'id':'reservar', 'data-toggle':"validator", 'role':"form" ,'novalidate':'novalidate', 'autocomplete':'off'}})}}
    <div class="form-group has-feedback">
      {{ form_errors(form) }}
      {{ form_row(form.submit,{'id':'intranet_'~form.submit.vars.id , 'attr':{'class': 'btn btn-success center-block disabled' }}) }}

      <div class="hidden">
        {{ form_rest(form) }}
      </div>

      <div class="help-block with-errors"></div>
    </div>
  {{ form_end(form) }}

{% endblock %}