{% extends 'BackendBundle:Default:index.html.twig' %}

{% block head %}{% endblock %}
{% block stylesheets %}{% endblock %}
    
{% block javascript %}
    <script>

    /*Comprobaciones de existencia de datos */
    
    //Comprobacón de existencia de profesores.
    if({{numProfesores|json_encode()|raw}}==0){

        // Se establece las variables con los audios para las notificaciones.
        if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
        }
        else{
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
        }
        error.play();
          swal({
            title: "Profesores no registrados",
            text: 'Actualmente no existen profesores de primaria registrados en el sistema. Debe registrar los profesores para poder asignarlos.',
            type: "error",
            confirmButtonColor: color
          });          
        $("#tabs ul li[aria-selected='true'] span").trigger("click");
    }
    
    //Comprobacón de existencia de horario escolar.
    if({{horario|json_encode()|raw}}==0){

        // Se establece las variables con los audios para las notificaciones.
        if (navigator.userAgent.search("Firefox") >= 0) { //Firefox sólo admite archivos .ogg
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.ogg";
        }
        else{
            var error = new Audio();
            error.src = "/Symfony/web/bundles/backend/sounds/error.mp3";
        }
        error.play();
          swal({
            title: "Horario Escolar no registrado",
            text: 'Actualmente no existe ningún horario escolar en el sistema. Debe registrarlo para poder asignar el horario del grupo.',
            type: "error",
            confirmButtonColor: color
          });          
        $("#tabs ul li[aria-selected='true'] span").trigger("click");
    }

    //Se activa el primer curso por defecto.
    $("#clases_impartidas #contenedor_registro[index='1']").removeClass('oculto');
    $("#clases_impartidas button[id='1']").addClass('elected');


    // Tabla con la opción de ordenar y búsqueda de profesores de primaria.
    $('#profesor').DataTable( { //on( 'page.dt',   function () { $(".current").prop("disabled", true); } )
        //"aLengthMenu": [[25, 50, 100, 250, 500, -1], [25, 50, 100, 250, 500, "All"]],
                initComplete: function () {
            this.api().columns().every( function (e) {
                var column = this;
                var select = $('<select class="'+e+'"><option value=""></option></select>')
                    .appendTo('.select_table_profesor')
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );
 
                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );
 
                column.data().unique().sort().each( function ( d, j ) {
                    select.append( '<option value="'+d+'">'+d+'</option>' )
                } );
                select.append( '<option value="nada">nada</option>' )
            } );
        },
        "order": [[ 1, "asc" ]],
        "aLengthMenu": [[-1], [ "All"]],
        "columnDefs": [ {
            "targets": 'no-sort',
            "orderable": false,} ],
        "language": {
            "zeroRecords": "No se ha encontrado ningún registro coincidente",
            "emptyTable": "No hay profesores de primaria en el sistema",
            "lengthMenu": "Mostrar _MENU_ entradas",
            "loadingRecords": "Cargando...",
            "processing":     "Processando...",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros)",
            "search": "Buscar:",
            "Next": "Siguiente",
            "paginate": {
                "previous": "Anterior",
                "next": "Siguiente"
            }
        }
    });
    $("#clases_impartidas .dataTables_info").addClass("oculto");
    $("#clases_impartidas .dataTables_paginate").addClass("oculto");
    $("#clases_impartidas .dataTables_length").addClass("oculto");

    $("#clases_impartidas #profesor_filter").appendTo($("#clases_impartidas .div_buscador"));
    $("#clases_impartidas tbody tr td[class='dataTables_empty']").closest("tr").addClass("no_cursor");


    </script>
{% endblock %}

{% block body -%}
    <div id="clases_impartidas" class="div_con_horario ">
    <div class="parent_no_form">
    <div class="child">
      <div class="lista_profesores">
            <div class="cabecera_lista">
                <h2>Profesores de Primaria</h2>
            </div>
            <div class="contenido_lista ">
                <table id="profesor" class="scrollTable">
                    <thead class="fixedHeader oculto ">
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody class="scrollContent">
                        {% for entity in entities %}
                        <tr id="{{ entity.id }}">
                            <td class="oculto"></td>
                            <td>
                                <button class="buttonface" id="{{ loop.index }}">{{ entity }}</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="div_buscador">
                <div id="buscador_inf"> </div>
            </div>
      </div>


      {% for entity in entities %}
      <div class="derecha contenedor_registro oculto" index="{{ loop.index }}" id="contenedor_registro">  
        <div>
            <div id="cabecera_lista" profesor="{{ entity.id}}">
                {% if (entity.nombre ~ " " ~ entity.apellido1 ~ " " ~ entity.apellido2)|length <= 55 %}
                    {% if entity.sexo == "Masculino" %}
                    <h2>Clases Impartidas por el Profesor: <span>{{ entity }}</span></h2>
                    {% else %}
                    <h2>Clases Impartidas por la Profesora: <span>{{ entity }}</span></h2>
                    {% endif %}
                {% else %}
                    {% if entity.sexo == "Masculino" %}
                    <h2>Clases Impartidas por el Profesor: <span>{{ entity|truncate(55,true) }}</span></h2>
                    {% else %}
                    <h2>Clases Impartidas por la Profesora: <span>{{ entity|truncate(55,true) }}</span></h2>
                    {% endif %}
                {% endif %}
            </div>
            <div id="lista_asignaturas">
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Módulos</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                    </tr>
                    </thead>
                </table>
                <div class="inner_table">
                    <table id="lista_color">
                        {{render (controller('BackendBundle:Profesor:HorarioProfesor',{'id': entity.id }))}}
                    </table>
                </div>
                <div id="contenedor_datos">
                    <div id="sin_seleccionar" class="">
                        <p id="horario_pdf">
                            <span>Descarga PDF</span> 
                            <img src="{{ asset('bundles/backend/images/menu/horario.png')}}">
                        </p>                        
                        <p id="cargando_horario_pdf" class="oculto">
                            <span>Cargando PDF</span> 
                            <img src="/Symfony/web/bundles/backend/images/loading_s.gif"/>
                        </p>
                        <p  id="aviso">Para ver detalles del horario seleccione un módulo de clase</p>
                    </div>
                    <div id="seleccionado" class="oculto">

                        <p><img src="{{ asset('bundles/backend/images/menu/class_16.png')}}"><span class="negrita">Curso: </span><span id="curso" class="datos"></span></p>
                        <p>
                            <img src="{{ asset('bundles/backend/images/menu/subject_16.png')}}">
                            <span class="negrita">Asignatura: </span><span id="asignatura" class="datos"></span>
                            <img src="{{ asset('bundles/backend/images/menu/room_16.png')}}">
                            <span class="negrita">Aula: </span><span id="aula" class="datos"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>          
      </div>
     {% endfor %} 
     <div class="select_table_profesor select_ord_datatable"></div> 
    </div>
    </div>
    </div>
    
    
    {% endblock %}