{% for entity in entity %}
  <div class="columna_foto">
  {% if entity.foto != null %}
    <img id="foto" class="img-mini" src="{{ asset('uploads/images/' ~ entity.foto) }}">
  {% else %}
    {% if entity.sexo == "Femenino" %}
    <img id="sin_foto" class="img-mini" src="{{ asset('bundles/backend/images/perfil/SinFoto-M.png') }}">
    {% else %}
    <img id="sin_foto" class="img-mini" src="{{ asset('bundles/backend/images/perfil/SinFoto-H.png') }}">
    {% endif %}
  {% endif %}
  </div>
  <div class="old_t_data">
    <h3>Nivel:</h3> 
    <span>{{ entity.nivel }}</span> 

    <h3>Fecha de Alta:</h3>
    <span>{{ entity.fechaAlta|date("d-m-Y") }}</span> 

    {% if entity.fechaBaja %}
    <h3>Fecha de Baja:</h3>
    <span>{{ entity.fechaBaja|date("d-m-Y") }}</span>   
    {% endif %}
  <div>
{% endfor %}