{% extends  'IntranetBundle:Alumno:index.html.twig' %}

{% block body %}
    {{parent()}}
    <script>
    	$(".menu li").removeClass('active');
		  $(".menu #asistencia").addClass('active');
      
      //Se elimina el enlace de justificar a todas las faltas justificadas.
      array={{array|json_encode()|raw}};
      for (var key in array){
        clave=key.split("-");
        fecha=clave[0];
        justificacion=clave[1];
        tipo=array[key];

        $("#tabla_asistencia div[id='"+fecha+"'] #tipo").text(tipo); 
        if(justificacion=="justificado" ){
          $("#tabla_asistencia div[id='"+fecha+"'] #justificar").empty();
        }
      }
      //Se marca las faltas justificadas confirmadas por el tutor.
      justificadas={{justificadas|json_encode()|raw}};
      for (var key in justificadas){
          $("#tabla_asistencia div[id='"+justificadas[key]+"'] #justificar").append('<i class="fa fa-check-square item-verde"></i>');
      }
    </script>
 {% endblock %}

{% block migas %}
	<li class="tipo">
			{% trans %}Alumnado{% endtrans %}
	</li>
	<li>
		<a href="{{path('intranet_alumno', { 'id': entity.id })}}">
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li class="active no-seleccion">
		{% trans %}Faltas de asistencia{% endtrans %}
	</li>
{% endblock %}

{% block titulo_cabecera %}
	<i class="fa fa-list-alt page-header-icon"></i>
	{% trans %}Faltas de asistencia{% endtrans %}
{% endblock %}
{% block titulo_cabecera_movil %}
	<i class="fa fa-list-alt page-header-icon"></i>
	{% trans %}Faltas de asistencia{% endtrans %}
{% endblock %}

{% block contenido %}

	<h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Faltas de asistencia{% endtrans %}</h4>
    <div id="tabla_asistencia" class=" col-xs-12  col-sm-6">
      <div>
        <h4 class="text-center titulo_reserva">{% trans %}Ausencias{% endtrans %}</h4>
      </div>
      <div>         
        <table class="col-xs-12 table-hover table-condensed table-striped equipamientos tablas_faltas">
          <thead class="cabecera-tabla">
            <tr>
              <th class="col-xs-6">{% trans %}Día completo / Tramos del día{% endtrans %}</th>
              <th class="text-center col-xs-4 col-ms-5">{% trans %}Fecha{% endtrans %}</th>
              <th class="col-xs-2 col-ms-1">Just.</th>
            </tr>
          </thead>
        </table>
      </div>
      <div  class="container-content">
        {% if faltas %}
          {% for falta in faltas %}
            <div id="{{ falta.fecha | localizeddate('none', 'none', 'none',none , "d/MM/Y")}}" class="container_contenido_tabla">
              <div id="tipo" class="col-xs-6 no-seleccion"></div>
              <div class="text-center col-xs-4 col-ms-5 no-seleccion">
                {{falta.fecha| localizeddate('short','none', app.request.getLocale()) }}
              </div>
              <div id="justificar" class="col-xs-2 col-ms-1">
                <a falta="{{falta.id}}" id="btn_justificar" href="" data-target="#justificar_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false"><i class="fa fa-pencil-square"></i></a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div>
            <div class="vacio col-xs-12"><p class="color_rojo">{% trans %}No hay ninguna falta de asistencia{% endtrans %}</p></div>
          </div>
        {% endif %} 
      </div>
    </div>
    <div id="tabla_retrasos" class="col-xs-12 col-sm-6">
      <div>
        <h4 class="text-center titulo_reserva">{% trans %}Retrasos{% endtrans %}</h4>
      </div>
      <div>         
        <table class="col-xs-12 table-hover table-condensed table-striped equipamientos tablas_faltas">
          <thead class="cabecera-tabla">
            <tr>
                <th class="col-xs-8">{% trans %}Tramo del día{% endtrans %}</th>
                <th class="text-center col-xs-4">{% trans %}Fecha{% endtrans %}</th>
            </tr>
          </thead>
        </table>
      </div>
      <div  class="container-content">
        {% if retrasos %}
          {% for retraso in retrasos %}
            <div id="{{retraso.id}}" class="container_contenido_tabla">
              <div class="col-xs-8 no-seleccion">
                {{retraso.horario.inicio| localizeddate('none','short', app.request.getLocale()) ~ " - " ~ retraso.horario.fin| localizeddate('none','short', app.request.getLocale())}}
              </div>
              <div class="text-center col-xs-4 no-seleccion">
                {{retraso.fecha| localizeddate('short','none', app.request.getLocale())}}
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div>
            <div class="vacio col-xs-12"><p class="color_rojo">{% trans %}No hay ningún retraso{% endtrans %}</p></div>
          </div>
        {% endif %} 
      </div>
    </div>

    <!-- Ventana modal de justificación de falta -->
    <div id="justificar_modal" class="modal fade aviso ediccion_seguimiento_modal " role="dialog" data-backdrop="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans %}Justificación de la ausencia del alumno/a{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    {#Formulario de prueba para que se muestre la ventana con el formulario cargado y luego se actualiza#}
                    <form>
                        <label>{% trans %}Justificación{% endtrans %}</label>
                        <textarea id="falta_justificacion"></textarea>
                        <div class="class-footer">
                            <button class="btn btn_azul">Cancelar</button>
                            <button id="seguimiento_submit" class="btn btn-success">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}