{% extends  'IntranetBundle:Alumno:index.html.twig' %}

{% block body %}
    {{parent()}}
    <script>
    	$(".menu li").removeClass('active');
		$(".menu #curso").addClass('active');

		//Se elimina el contenedor del tutor si aparece vacío al no impartir otra asignatura en el grupo.
		if($(".cabecera_profesor div:empty").size()>0){
			$(".cabecera_profesor div:empty").closest(".cabecera_profesor").prev().remove();
			$(".cabecera_profesor div:empty").closest(".cabecera_profesor").remove();
		}

    </script>
 {% endblock %}

{% block migas %}
	<li class="tipo">
			{% trans %}Alumnado{% endtrans %}
	</li>
	<li>
		<a href="{{path('intranet_alumno', { 'id': entity.id })}}">
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li class="active no-seleccion">
		{% trans %}Curso actual{% endtrans %}
	</li>
{% endblock %}

{% block titulo_cabecera %}
	<i class="fa fa-book page-header-icon"></i>
	{% trans %}Curso actual{% endtrans %}
{% endblock %}
{% block titulo_cabecera_movil %}
	<i class="fa fa-book page-header-icon"></i>
	{% trans %}Curso actual{% endtrans %}
{% endblock %}

{% block contenido %}
	<h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Datos del curso{% endtrans %}</h4>
	{% if entity.curso != null and entity.grupo != null %}
	<div class="container-fluid div_datos_curso">
		<div class="pull-left col-xs-12 col-sm-4 no-padding datos_curso">
			<label>{% trans %}Curso{% endtrans %}:</label>
			{% if entity.curso.nivel == "Primaria" %}
				{% if  app.request.getLocale() == "es" %}
					<span> {{entity.curso.curso ~ " de Primaria" }}</span >
				{% else %}
					<span> {{entity.curso.curso ~ " of Primary Education" }}</span >
				{% endif %}
			{% else %}
				{% if  app.request.getLocale() == "es" %}
					<span> {{entity.curso.curso ~ " de Infantil" }}</span >
				{% else %}
					<span> {{entity.curso.curso ~ " of Child Education" }}</span >
				{% endif %}
			{% endif %}

			<br>
			<label>{% trans %}Grupo{% endtrans %}:</label>
			<span> {{entity.grupo.letra}}</span >
			<br>
			<label>{% trans %}Año académico{% endtrans %}:</label>
			<span> {{entity.anyoAcademico}}</span >
		</div>
		<div class="pull-left col-xs-12 col-sm-8 no-padding datos_curso">
			{% if tutor != null %}
				{% if tutor.foto != null %}
					<div class="pull-left col-xs-2 no-padding">
						<img id="foto_curso" class="img-rounded " alt="{{tutor}}" src="{{ asset('uploads/images/' ~ tutor.foto) }}">
        			</div>	
       			{% else %}
       				{% if tutor.sexo == "Femenino" %}
						<div class="pull-left col-xs-2  no-padding">
							<img id="foto_curso" class="img-rounded " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-M.png') }}">
        				</div>	
   					{% else %}
						<div class="pull-left col-xs-2  no-padding">
              				<img id="foto_curso" class="img-rounded " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-H.png') }}">
        				</div>	
           			{% endif %}
        		{% endif %}
					 
				{% if tutor.sexo == "Masculino" %}
        			<div class="pull-left col-xs-10 ">
						<label>{% trans %}Tutor{% endtrans %}:</label>
						<span class="col-xs-12 no-padding"> {{tutor}}</span >
						<a id="{{tutor.id}}" href="javascript:void(0);" class="i_hover" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% trans %}Contactar{% endtrans %}">
							<i id="first" class="fa fa-envelope"></i>
							<i id="second" class=" hidden fa fa-envelope-o"></i>
						</a>
					</div>
				{% else %}
        			<div class="pull-left col-xs-10">
						<label>{% trans %}Tutora{% endtrans %}:</label>
						<span class="col-xs-12 no-padding"> {{tutor}}</span >
						<a id="{{tutor.id}}" href="javascript:void(0);" class="i_hover" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% trans %}Contactar{% endtrans %}">
							<i id="first" class="fa fa-envelope"></i>
							<i id="second" class=" hidden fa fa-envelope-o"></i>
						</a>
        			</div>
				{% endif %}
			{% else %}
				<label>Tutor/a:</label>
				<span class="text-danger">{% trans %}Sin asignar{% endtrans %}</span>
			{% endif %}
		</div>
	</div>
	{% endif %}

	{% if entity.curso != null and entity.grupo != null %}
		{% if entity.curso.nivel == "Primaria" %}
	 	<div role="tabpanel" class="tab_horarios">
	
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#horarios" aria-controls="horarios" data-toggle="tab" role="tab">{% trans %}Horario de clase{% endtrans %}</a></li>
				<li role="presentation"><a href="#profesores" aria-controls="profesores" data-toggle="tab" role="tab">{% trans %} Maestros / Asignaturas{% endtrans %}</a></li>
			</ul>
			<div class="tab-content clearfix">
				<div role="tabpanel" class="tab-pane active clearfix" id="horarios">

					<a id="horario_pdf" class="descargar-datos visible-md visible-lg hidden-xs visible-sm"   href="{{ path('horario_alumno_pdf', { 'id': entity.id }) }}"><button><i class="fa fa-file-pdf-o"></i>{% trans %}Horario PDF{% endtrans %}</button></a>
					<div class="col-xs-12">
					{% if numAsigHorarios %}
					  <div class="visible-md visible-lg hidden-xs visible-sm">
						<div id="cabecera_horarios" class="col-xs-12">
							<div class="row">
								<div class="col-xs-2">{% trans %}Módulos{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Lunes{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Martes{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Miércoles{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Jueves{% endtrans %}</div>
								<div class="col-xs-2">{% trans %}Viernes{% endtrans %}</div>
							</div>
						</div>
						<div id="contenido_horarios" class="col-xs-12">
							{{render (controller('IntranetBundle:Alumno:HorariosGrupos',{'id': entity.grupo, 'id_alumno': entity.id, 'num': "0" }))}}
						</div>
					  </div>
					  {# Estilo acordeón versión móvil #}	
     				  <div class="panel-group col-xs-12 hidden-md hidden-lg visible-xs hidden-sm" id="accordion">
  						<div class="panel panel-default">
    						<div class="panel-heading">
      							<h4 class="panel-title">
        							<a data-toggle="collapse" class="col-xs-12" data-parent="#accordion" href="#collapse1">{% trans %}Lunes{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse1" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
						      		{{render (controller('IntranetBundle:Alumno:HorariosGrupos',{'id': entity.grupo, 'id_alumno': entity.id, 'num': "1" }))}}
  								</div>
    						</div>
  						</div>
  						
  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse" class="col-xs-12" data-parent="#accordion" href="#collapse2">{% trans %}Martes{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse2" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
			      					{{render (controller('IntranetBundle:Alumno:HorariosGrupos',{'id': entity.grupo, 'id_alumno': entity.id, 'num': "2" }))}}
  								</div>
    						</div>
  						</div>

  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse"  class="col-xs-12"data-parent="#accordion" href="#collapse3">{% trans %}Miércoles{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse3" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
      								{{render (controller('IntranetBundle:Alumno:HorariosGrupos',{'id': entity.grupo, 'id_alumno': entity.id, 'num': "3" }))}}
  								</div>
    						</div>
  						</div>

  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse"  class="col-xs-12"data-parent="#accordion" href="#collapse3">{% trans %}Jueves{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse3" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
      								{{render (controller('IntranetBundle:Alumno:HorariosGrupos',{'id': entity.grupo, 'id_alumno': entity.id, 'num': "4" }))}}
  								</div>
    						</div>
  						</div>
  						<div class="panel panel-default">
    						<div class="panel-heading">
     							<h4 class="panel-title">
        							<a data-toggle="collapse"  class="col-xs-12"data-parent="#accordion" href="#collapse3">{% trans %}Viernes{% endtrans %}</a>
      							</h4>
    						</div>
    						<div id="collapse3" class="panel-collapse collapse">
      							<div id="contenido_horarios" class="panel-body">
      								{{render (controller('IntranetBundle:Alumno:HorariosGrupos',{'id': entity.grupo, 'id_alumno': entity.id, 'num': "5" }))}}
  								</div>
    						</div>
  						</div>

  						<a id="horario_pdf" class="descargar-datos hidden-md hidden-lg visible-xs hidden-sm" href="{{ path('horario_alumno_pdf', { 'id': entity.id }) }}"><button><i class="fa fa-file-pdf-o"></i>{% trans %}Horario PDF{% endtrans %}</button></a>
					
  					  </div>
					{% else %}
    					<div class="alert alert-info alert-block">
      						<small>
        						<h4>{% trans %}El horario del grupo no está disponible{% endtrans %}.</h4>
        						<h6>{% trans %}Estamos trabajando en el nuevo horario del grupo, pronto estará disponible{% endtrans %}.</h6>
      						</small>
    					</div>
					{% endif %}
					</div>			
				</div>
				<div role="tabpanel" class="tab-pane profesores_grupo" id="profesores">
				{% for asig_profesor in profesores_grupo %}
					{# Profesor que no es tutor del grupo #}
					{% if asig_profesor.grupo.profesor != asig_profesor.profesor %}
						<div class="col-xs-2 col-sm-1 no-padding">
							{% if asig_profesor.profesor.foto != null %}
								<img id="foto_curso" class="img-rounded " alt="{{asig_profesor.profesor}}" src="{{ asset('uploads/images/' ~ asig_profesor.profesor.foto) }}">
       						{% else %}
       							{% if asig_profesor.profesor.sexo == "Femenino" %}
									<img id="foto_curso" class="img-rounded " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-M.png') }}">
   								{% else %}
              						<img id="foto_curso" class="img-rounded " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-H.png') }}">
           						{% endif %}
        					{% endif %}
						</div>
						<div class="col-xs-10 col-sm-11 no-padding cabecera_profesor">
							<h5 class="text-info">
								{{asig_profesor.profesor.apellido1|upper ~ " " ~ asig_profesor.profesor.apellido2|upper ~ ", " ~ asig_profesor.profesor.nombre|upper }} 
								<a id="{{asig_profesor.profesor.id}}" href="javascript:void(0);" class="i_hover">
									<i id="first" class="fa fa-envelope-o"></i>
									<i id="second" class=" hidden fa fa-envelope" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% trans %}Contact{% endtrans %}"></i>
								</a>
							</h5>
							<div class="asignaturas_profesor">
							{% for imparte in asignaciones_profesores %}
								{# Se añade las asignaciones de asignaturas del profesor correspondiente #}
					  			{% if asig_profesor.profesor ==  imparte.profesor%}
									{% if imparte.asignatura.asignatura.tipo == "Troncal"%}
										<p>
											{{imparte.asignatura.asignatura.nombre}}
											{% if imparte.asignatura.libro %}
												<span>
													<i class="fa fa-book"><span>Libro</span></i>
													{{imparte.asignatura.libro}}
												</span>
											{% endif %}
										</p>

									{% else %}	
										{#Se muestra sólo los datos de la asignatura opcional asignada al alumno#}
										{% if imparte.asignatura.asignatura.opcional == "1"%}
											{% if entity.optativa != null  and imparte.asignatura == entity.optativa %}
												<p>
													{{imparte.asignatura.asignatura.nombre}}
													{% if imparte.asignatura.libro %}
														<span>
															<i class="fa fa-book"><span>Libro</span></i>
															{{imparte.asignatura.libro}}
														</span>
													{% endif %}
												</p>
											{% endif %}
										{% else %}
											<p>
												{{imparte.asignatura.asignatura.nombre}}
												{% if imparte.asignatura.libro %}
													<span>
														<i class="fa fa-book"><span>Libro</span></i>
														{{imparte.asignatura.libro}}
													</span>	
												{% endif %}
											</p>
										{% endif %}
									{% endif %}
								{% endif %}
					  		{% endfor %}
							</div>	
						</div>
					{#El profesor es el tutor del grupo #}
					{% else %}
						{# Se comprueba si el/la tutor/a imparte asignaturas en el grupo para mostrar el nombre #}
						{% if asignaturas_tutor != null %}

							<div class="col-xs-2 col-sm-1 no-padding">
								{% if asig_profesor.profesor.foto != null %}
									<img id="foto_curso" class="img-rounded " alt="{{asig_profesor.profesor}}" src="{{ asset('uploads/images/' ~ asig_profesor.profesor.foto) }}">
       							{% else %}
       								{% if asig_profesor.profesor.sexo == "Femenino" %}
										<img id="foto_curso" class="img-rounded " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-M.png') }}">
   									{% else %}
              							<img id="foto_curso" class="img-rounded " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-H.png') }}">
           							{% endif %}
        						{% endif %}
							</div>
							<div class="col-xs-10 col-sm-11 no-padding cabecera_profesor">
								<h5 class="text-info">
									{{asig_profesor.profesor.apellido1|upper ~ " " ~ asig_profesor.profesor.apellido2|upper ~ ", " ~ asig_profesor.profesor.nombre|upper }} 
									<a id="{{asig_profesor.profesor.id}}" href="javascript:void(0);" class="i_hover">
										<i id="first" class="fa fa-envelope-o"></i>
										<i id="second" class=" hidden fa fa-envelope" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{% trans %}Contactar{% endtrans %}"></i>
									</a>
								</h5>
								<div class="asignaturas_profesor">
									{% for asig_tutor in asignaturas_tutor %}
										{% if asig_tutor.asignatura.asignatura.opcional == "1" %}
											{% if asig_tutor.asignatura == entity.optativa %}
				
													{# Se añade las asignaciones de asignaturas del profesor correspondiente #}
					  								{% if asig_profesor.profesor ==  asig_tutor.profesor%}
														{% if asig_tutor.asignatura.asignatura.tipo == "Troncal"%}
															<p>
																{{asig_tutor.asignatura.asignatura.nombre}}
																{% if asig_tutor.asignatura.libro %}
																	<span>
																		<i class="fa fa-book"><span>Libro</span></i>
																		{{asig_tutor.asignatura.libro}}
																	</span>	
																{% endif %}
															</p>
														{% else %}	
														
															{#Se muestra sólo los datos de la asignatura opcional asignada al alumno#}
															{% if asig_tutor.asignatura.asignatura.opcional == "1"%}
																{% if entity.optativa != null  and asig_tutor.asignatura == entity.optativa %}
																	<p>
																		{{asig_tutor.asignatura.asignatura.nombre}}
																		{% if asig_tutor.asignatura.libro %}
																			<span>
																				<i class="fa fa-book"><span>Libro</span></i>
																				{{asig_tutor.asignatura.libro}}
																			</span>	
																		{% endif %}
																	</p>
																{% endif %}
															{% else %}
																<p>
																	{{asig_tutor.asignatura.asignatura.nombre}}
																	{% if asig_tutor.asignatura.libro %}
																		<span>
																			<i class="fa fa-book"><span>Libro</span></i>
																			{{asig_tutor.asignatura.libro}}
																		</span>	
																	{% endif %}
																</p>
															{% endif %}
														{% endif %}
													{% endif %}
											{% endif %}
										{% else %}
												{# Se añade las asignaciones de asignaturas del profesor correspondiente #}
					  							{% if asig_profesor.profesor ==  asig_tutor.profesor%}
													{% if asig_tutor.asignatura.asignatura.tipo == "Troncal"%}
														<p>
															{{asig_tutor.asignatura.asignatura.nombre}}
															{% if asig_tutor.asignatura.libro %}
																<span>
																	<i class="fa fa-book"><span>Libro</span></i>
																	{{asig_tutor.asignatura.libro}}
																</span>	
															{% endif %}
														</p>
													{% else %}	
														
														{#Se muestra sólo los datos de la asignatura opcional asignada al alumno#}
														{% if asig_tutor.asignatura.asignatura.opcional == "1"%}
															{% if entity.optativa != null  and asig_tutor.asignatura == entity.optativa %}
																<p>
																	{{asig_tutor.asignatura.asignatura.nombre}}
																	{% if asig_tutor.asignatura.libro %}
																		<span>
																			<i class="fa fa-book"><span>Libro</span></i>
																			{{asig_tutor.asignatura.libro}}
																		</span>	
																	{% endif %}
																</p>
															{% endif %}
														{% else %}
															<p>
																{{asig_tutor.asignatura.asignatura.nombre}}
																{% if asig_tutor.asignatura.libro %}
																	<span>
																		<i class="fa fa-book"><span>Libro</span></i>
																		{{asig_tutor.asignatura.libro}}
																	</span>	
																{% endif %}
															</p>
														{% endif %}
													{% endif %}
												{% endif %}
										{% endif %}
					  				{% endfor %}
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
	{% else %}
		<div class="alert alert-info alert-block">
			<small>
				<h4>{% trans %}El alumno no ha sido matriculado aún en el nuevo curso{% endtrans %}.</h4>
				<h6>{% trans %}Por favor vuelva en unos días para verificar la matriculación del alumno{% endtrans %}.</h6>
			</small>
		</div>
	{% endif %}

{% endblock %}



