
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta content="Horario del grupo" name="description" />
    <meta content="CEIP, SANTA TERESA, CÁDIZ, WEB, COLEGIO" name="keywords" />
    <link id="favicon" rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	  <link href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/backend/css/backend.css') }}" rel="stylesheet" type="text/css" />
	  <link href="{{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/cole/css/estilo.css') }}" rel="stylesheet" type="text/css" />
	  <link href="{{app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/backend/js/jquery-ui/	jquery-ui.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/cole/js/jquery-1.11.2.js')}}" type="text/javascript"></script>
    <script type="text/javascript" src="{{app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/backend/js/jquery-ui/jquery-ui.js') }}"></script>
  </head>
    
  {% if aula %}
  <body id="horario_grupo_pdf" class="horario_grupo_pdf horario_alumno_intranet" aula="{{ aula.nombre }}">
  {% else %}
  <body id="horario_grupo_pdf" class="horario_grupo_pdf horario_alumno_intranet" aula="">
  {% endif %}
    <div>
      <div>
				<img alt="logo del colegio"   src= " {{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/backend/images/logo_trans.png') }} ">
    	</div>
    	<div class="titulo">
				Colegio de Educación Infantil y Primaria
				<br>
				<strong>Santa Teresa</strong>
				<br>
				Cádiz
			</div>
			<div id="curso">
        <h2> Horario de Clase </h2>
        <h3> {{"Curso " ~ inicio.inicioCurso|date('Y') ~ " / " ~  fin.finCurso|date('Y') }}</h3>
			</div>
    </div>
    <div>
      <h2>
        {{ grupo }}
        {% if aula %}
          <span class="aula_horario_intranet">({{ aula.nombre }})</span>
        {% endif %}
      </h2>
      <div id="alumno">
        {% if  alumno.sexo == "Masculino" %}
          <span class="label">Alumno: </span>
        {% else %}
          <span class="label">Alumna: </span>
        {% endif %}
        <span class="nombre"> {{ alumno ~ "." }} </span>
      </div>
    </div>
    <div> 
      <table>
        <thead>
          <tr>
            <th><img alt="Horas"   src= " {{ app.request.scheme ~ '://' ~ app.request.httpHost ~ asset('bundles/backend/images/menu/hora.png') }} "></th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
          </tr>
        </thead>
        <tbody>
        {% for entity in horarios %}
          <tr id="{{ entity.id }}" class="no_efect">
            <td >{{ entity.inicio|date("H:i") ~ " - " ~ entity.fin|date("H:i")  }}</td>
            {% if entity.horaClase == "RECREO" or entity.horaClase == "COMIDA" %}
            <td colspan="5" class="no_efect placeholder_list_table_td_mod color_azul row_recreo"> {{ entity.horaClase }}</td>
            {% else %}
            <td class="horario azul_opacity" id="1"><div></div></td>
            <td class="horario azul_opacity" id="2"><div></div></td>
            <td class="horario azul_opacity" id="3"><div></div></td>
            <td class="horario azul_opacity" id="4"><div></div></td>
            <td class="horario azul_opacity" id="5"><div></div></td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% if profesor %}
    <div id="tutor">
      {% if  profesor.sexo == "Masculino" %}
      <span class="label">Tutor: </span>
      {% else %}
      <span class="label">Tutora: </span>
      {% endif %}
      <span class="nombre"> {{ profesor ~ "." }} </span>
    </div>
    {% endif %}
    <div id="info_op" class="oculto">
      <div>Asignaturas<br>Opcionales</div>
      <div id="asignaturas">
        
      </div>
      
    </div>
    
    <script  type="text/javascript">

    array={{imparte|json_encode()|raw}};//Asignaturas no opcionales
    for (var key in array){
      clave=key.split("-");
      id_horario=clave[0];
      dia=clave[1];
      nombre_asig=clave[2];
      abrev_asig=clave[3];
      aula=clave[4];
      grupo=clave[5];
      profesor=array[key];

      //Si existe alguna asignación con horario se muestra en la tabla.  
      if(id_horario!=""){
        $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"']>div").append("<span class='asignatura'>"+abrev_asig+"</span>");

        if(aula!=$("#horario_grupo_pdf").attr("aula") && aula!=""){
          $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"']>div").append("<span class='aula'>("+aula+")</span>");
          //Se establece un estilo para mostrar las asignaturas con diferente aulas dependiendo del la altura de las celdas.
          if($("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='1']").height()<70){
            $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"'] .asignatura").css("margin-top","-"+12+"%");
            $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"'] .asignatura").css("margin-bottom","-2px");
          }else{
            $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"'] .asignatura").css("margin-top","-"+12+"%");
          }
        }
      }
    }

    array={{imparte_op|json_encode()|raw}};//Asignatura opcional del alumno
   
    for (var key in array){
      clave=key.split("-");
      id_horario=clave[0];
      dia=clave[1];
      nombre_asig=clave[2];
      abrev_asig=clave[3];
      aula=clave[4];
      grupo=clave[5];
      profesor=array[key];

      //Si existe alguna asignación con horario se muestra en la tabla.  
      if(id_horario!=""){
        $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"']>div").append("<span class='asignatura'>"+abrev_asig+"</span>");

        if(aula!=$("#horario_grupo_pdf").attr("aula") && aula!=""){
          $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"']>div").append("<span class='aula'>("+aula+")</span>");
          //Se establece un estilo para mostrar las asignaturas con diferente aulas dependiendo del la altura de las celdas.
          if($("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='1']").height()<70){
            $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"'] .asignatura").css("margin-top","-"+12+"%");
            $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"'] .asignatura").css("margin-bottom","-2px");
          }else{
            $("#horario_grupo_pdf tr[id='"+id_horario+"'] td[id='"+dia+"'] .asignatura").css("margin-top","-"+12+"%");
          }
        }
      }
    }
    </script>
  </body>
</html>