{% extends  'IntranetBundle:Default:index.html.twig' %}

{% block migas %}
	<li class="tipo">
			{% trans %}Alumnado{% endtrans %}
	</li>
	<li>
		<a href="{{path('intranet')}}">
			{% trans %}Inicio{% endtrans %}
		</a>
	</li>
	<li class="active no-seleccion">
		{% trans %}Panel principal{% endtrans %}
	</li>
{% endblock %}

{% block titulo_cabecera %}
	<i class="fa fa-th page-header-icon"></i>
	{% trans %}Panel principal{% endtrans %}
{% endblock %}

{% block usuario %}
	<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right barra_cabecera">
			<li id="barramensajesmovil" class="barramensajes">
				<a href="/intranet/dashboard">
					<span class="fa fa-envelope-o animated swing"></span>
					<span class="label-as-badge label azul nummensajes" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Mensajes de correo sin leer">0</span>
					</a>
			</li>
			<li id="barraanunciosmovil" class="barramensajes">
				<a href="/intranet/dashboard">
					<span class="fa fa-newspaper-o animated swing"></span>
					<span class="label-as-badge label verde numanuncios" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Noticias Nuevas">0</span>
				</a>
			</li>
			<li id="barraalertasmovil" class="barramensajes">
				<a href="/intranet/es/dashboard">
					<span class="fa fa-comments animated swing"></span>
					<span class="label-as-badge label naranja numalertas" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Avisos de seguimiento sin leer">0</span>
				</a>
			</li>
			<li id="barramiperfil" class="dropdown">
				   				{% if entity.foto != null %}
   				 	<img id="foto" class="img-rounded img-title " alt="{{entity}}" src="{{ asset('uploads/images/' ~ entity.foto) }}">
       			{% else %}
       				{% if entity.sexo == "Femenino" %}
       					<img id="sin_foto" class="img-rounded img-title " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-niña.png') }}">
   					{% else %}
              			<img id="sin_foto" class="img-rounded img-title " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-niño.png') }}">
           			{% endif %}
        		{% endif %}
				<a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					<table>
						<tbody>
							<td>{{entity|upper }}</td>
							<td><span class="caret"></span></td>
						</tbody>
					</table>
				</a>
				<ul id="enlacemiperfil" class="dropdown-menu">
					<li>
						<a href="{{path('intranet_alumno_perfil', { 'id': entity.id })}}">
							<i class="fa fa-reddit"></i>
  							{% if entity.sexo == "Femenino" %}
               					{% trans %}Perfil alumna{% endtrans %}
           					{% else %}
               					{% trans %}Perfil alumno{% endtrans %}
           					{% endif %}
						</a>
					</li>
					<li>
						<a href="{{ path('intranet') }}">
							<i class="fa fa-user"></i>
               					{% trans %}Responsable{% endtrans %}
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="{{path('logout')}}">
							<i class="fa fa-sign-out"></i>
							{% trans %}Cerrar sesión{% endtrans %}
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}

{% block usuario_movil %}
	<div class="row">
		<div class="header-usuario">
			<div class="col-sm-12 col-xs-12 foto-usuario">
				<div class="col-sm-2 col-xs-2">
       				{% if entity.foto != null %}
   						<img id="foto" class="img-rounded img-title " alt="{{entity}}" src="{{ asset('uploads/images/' ~ entity.foto) }}">
            		{% else %}
              			{% if entity.sexo == "Femenino" %}
          					<img id="sin_foto" class="img-rounded img-title " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-niña.png') }}">
        				{% else %}
           					<img id="sin_foto" class="img-rounded img-title " alt="Sin Foto" src="{{ asset('bundles/backend/images/perfil/SinFoto-niño.png') }}">
        				{% endif %}
   	    			{% endif %}     
				</div>
				<div class="col-sm-10 col-xs-10">
					<div class="col-sm-5 col-xs-10 anuncios-usuario pull-right">
						<ul class="list-inline">
							<li id="barramensajesmovil">
								<a href="/intranet/dashboard">
									<span class="fa fa-envelope-o animated swing"></span>
									<span class="label-as-badge label azul nummensajes" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Mensajes de correo sin leer">0</span>
								</a>
							</li>
							<li id="barraanunciosmovil" class="barramensajes">
								<a href="/intranet/dashboard">
									<span class="fa fa-newspaper-o animated swing"></span>
									<span class="label-as-badge label verde numanuncios" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Noticias Nuevas">0</span>
								</a>
							</li>
							<li id="barraalertasmovil" class="barramensajes">
								<a href="/intranet/es/dashboard">
									<span class="fa fa-comments animated swing"></span>
									<span class="label-as-badge label naranja numalertas" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Avisos de seguimiento sin leer">0</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-12 col-xs-12 nombre-usuario"> 
						<table><tbody><tr><td>{{entity|upper }} </td></tr></tbody></table>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block barra_tablet %}
	<li>
		<a href="{{path('intranet_alumno_perfil', { 'id': entity.id })}}">
			<i class="fa fa-reddit"></i>
  			{% if entity.sexo == "Femenino" %}
    			{% trans %}Perfil alumna{% endtrans %}
    		{% else %}
    			{% trans %}Perfil alumno{% endtrans %}
    		{% endif %}
		</a>
	</li>
	<li>
		<a href="{{ path('intranet') }}">
			<i class="fa fa-user"></i>
               	{% trans %}Responsable{% endtrans %}
		</a>
	</li>
	<li>
		<a class="c_azul" href="{{path('logout')}}">
			<strong>
				<i class="fa fa-sign-out"></i>
				{% trans %}Cerrar sesión{% endtrans %}
			</strong>
		</a>
	</li>
{% endblock %}

{% block sidebar %}
	<li id="inicio" class="active">
		<a href="{{path('intranet_alumno', { 'id': entity.id })}}">
			<i class="fa fa-th"></i>
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li id="curso">
		<a href="{{ path('intranet_alumno_curso', { 'id': entity.id }) }}">
			<i class="fa fa-book"></i>
			{% trans %}Curso actual{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-comments"></i>
			{% trans %}Seguimiento{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-envelope-o"></i>
			{% trans %}Comunicación{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-calendar-check-o"></i>
			{% trans %}Asistencia{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-list-alt"></i>
			{% trans %}Calificaciones{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-folder-open"></i>
			{% trans %}Expediente{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-users"></i>
			{% trans %}Tutorias{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-newspaper-o"></i>
			{% trans %}Noticias{% endtrans %}
		</a>
	</li>					
{% endblock %}

{% block menu_movil %}
	<li id="inicio" class="active">
		<a href="{{path('intranet_alumno', { 'id': entity.id })}}">
			<i class="fa fa-th"></i>
			{% trans %}Panel principal{% endtrans %}
		</a>
	</li>
	<li id="curso">
		<a  href="{{ path('intranet_alumno_curso', { 'id': entity.id }) }}">
			<i class="fa fa-book"></i>
			{% trans %}Curso actual{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-comments"></i>
			{% trans %}Seguimiento{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-envelope-o"></i>
			{% trans %}Comunicación{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-calendar-check-o"></i>
			{% trans %}Asistencia{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-list-alt"></i>
			{% trans %}Calificaciones{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-folder-open"></i>
			{% trans %}Expediente{% endtrans %}
		</a>
	</li>

	<li>
		<a href="#">
			<i class="fa fa-users"></i>
			{% trans %}Tutorias{% endtrans %}
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-newspaper-o"></i>
			{% trans %}Noticias{% endtrans %}
		</a>
	</li>

	<li class="divider visible-xs" role="presentation"></li>

	<li class="visible-xs">
		<a href="{{path('intranet_alumno_perfil', { 'id': entity.id })}}">
			<i class="fa fa-reddit"></i>
				{% if entity.sexo == "Femenino" %}
    				{% trans %}Perfil alumna{% endtrans %}
    			{% else %}
    				{% trans %}Perfil alumno{% endtrans %}
    			{% endif %}
		</a>
	</li>
	<li>
		<a href="{{ path('intranet') }}">
			<i class="fa fa-user"></i>
            {% trans %}Responsable{% endtrans %}
		</a>
	</li>
	<li class="visible-xs">
		<a class="c_azul" href="{{path('logout')}}">
			<strong>
				<i class="fa fa-sign-out"></i>
				{% trans %}Cerrar sesión{% endtrans %}
			</strong>
		</a>
	</li>
{% endblock %}

{% block contenido %}

	<h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Panel principal{% endtrans %}</h4>
	<div class="bloque-menu-alumno container-fluid padding-container">
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno_curso', { 'id': entity.id }) }}" color="item-verde">
					<i class="fa fa-book"></i>
				</a>
			</div>
			<p>{% trans %}Curso actual{% endtrans %}</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" color="item-naranja">
					<i class="fa fa-comments"></i>
				</a>
			</div>
			<p>{% trans %}Seguimiento{% endtrans %}</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" color="item-rojo">
					<i class="fa fa-envelope-o"></i>
				</a>

			</div>
			<p>{% trans %}Comunicación{% endtrans %}</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" color="item-marron">
					<i class="fa fa-calendar-check-o i-margin-left-22"></i>
				</a>
			</div>
			<p>{% trans %}Asistencia{% endtrans %}</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" color="item-rojizo">
					<i class="fa fa-list-alt"></i>
				</a>
			</div>
			<p>{% trans %}Calificaciones{% endtrans %}</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" color="item-lila">
					<i class="fa fa-folder-open"></i>
				</a>
			</div>
			<p>{% trans %}Expediente{% endtrans %}</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" color="item-azulado">
					<i class="fa fa-users i-margin-left-17"></i>
				</a>
			</div>
			<p>{% trans %}Tutorias{% endtrans %}</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6 bloque-menu">
			<div class="bloque-item-menu">
				<a href="{{ path('intranet_alumno', { 'id': entity.id }) }}" color="item-verde2">
					<i class="fa fa-newspaper-o i-margin-left-15"></i>
				</a>
			</div>
			<p>{% trans %}Noticias{% endtrans %}</p>
        </div>
	</div>


{% endblock %}



