{% extends  'IntranetBundle:Alumno:index.html.twig' %}

{% block body %}
    {{parent()}}
    <script>
        $(".menu li").removeClass('active');
        $(".menu #tutorias").addClass('active');
        $(".menu #tutorias").addClass('click');

        //Se muestra elementos según la posición de la ventana del navegador.
        function ComprobarPosicion() {

                
            if ($(window).width() < 768) {
                var bottom_of_object = $("#wrapper").offset().top;
                var bottom_of_window = $(window).scrollTop();

                if( bottom_of_window > bottom_of_object ){
                    $(".botonsubir a").removeClass('hidden');
                }
                else{
                    $(".botonsubir a").addClass('hidden');
                }
            }
            else  {
                var bottom_of_object = $("#wrapper").offset().top;
                var bottom_of_navbar = $(window).scrollTop();
                    
                if( bottom_of_navbar >= bottom_of_object ){
                    if ($(window).width() < 992) {
                        $(".botonsubir a").removeClass('hidden');
                    }
                }
                else{
                    if ($(window).width() < 992) {
                        $(".botonsubir a").addClass('hidden');
                    }
                }
            }
        }
        $(window).scroll(function() {
            //Se muestra diferentes elementos al hacer scroll.
            ComprobarPosicion();
        });
        
        //Se muestra el botón de subir al cambiar el tamaño de la ventana segun la posición.
        $(window).resize(function() {
            ComprobarPosicion();
        });
        
        //Se carga la plantilla de respuesta en la ventana modal para luego mostrarlo correctamente.
        locale=$("#intranet").attr("locale");
        id=$("#contenedor_seguimientos .consulta_seguimiento").attr("id");
        $("#responder_seguimiento_modal .modal-body").load(Routing.generate("respuesta_seguimiento", {id:id, _locale:locale}), function(){
        }); 
    </script>
 {% endblock %}

{% block migas %}
    <li class="tipo">
            {% trans %}Alumnado{% endtrans %}
    </li>
    <li>
        <a href="{{path('intranet_alumno', { 'id': entity.id })}}">
            {% trans %}Panel principal{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('intranet_alumno_tutorias', { 'id': entity.id }) }}">
            {% trans %}Tutorías{% endtrans %}
        </a>
    </li>
    <li class="active no-seleccion">
        {% trans %}Consulta de Tutoría{% endtrans %}
    </li>
{% endblock %}

{% block titulo_cabecera %}
    <i class="fa fa-users page-header-icon"></i>
    {% trans %}Tutorías{% endtrans %}
{% endblock %}
{% block titulo_cabecera_movil %}
    <i class="fa fa-users page-header-icon"></i>
    {% trans %}Tutorías{% endtrans %}
{% endblock %}

{% block contenido %}
    {% if not seguimiento.fechaTerminada %}
        <h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Consulta de Tutoría{% endtrans %}</h4>
    {% else %}
        <h4 id="titulo-seccion" class="titulo-seccion">{% trans %}Consulta de Tutoría{% endtrans %} <span class="color_rojo"> ({% trans %}Finalizada{% endtrans %})</span></h4>
    {% endif %}

    {% if tutoria and tutoria.activo == 0 and not seguimiento.fechaTerminada %}
        <div id="panel_tutoria" class="panel panel-success col-xs-12 col-sm-7 col-lg-5 center-block no-padding">
            <div class=" panel-heading text-center"><strong class="text-success">{% trans %}Asignación de tutoría pendiente de confirmación{% endtrans %}:</strong></div>
            <div class="panel-body ">
                <div>
                    <label>{% trans %}Día{% endtrans %}:</label><span>{{ tutoria.fecha | localizeddate('full', 'none', app.request.getLocale()) | capitalize}}</span>       
                 </div>  
                <div>
                    <label>{% trans %}Hora{% endtrans %}:</label><span>{{ tutoria.hora | localizeddate('none', 'short', app.request.getLocale()) | capitalize}}</span>       
                </div>   
                <div class="text-center">
                    <a id="btn_confirmar_tutoria" class="btn btn-success" href="{{ path('confirmar_tutoria', { 'id': entity.id, 'num': tutoria.id }) }}">{% trans %}Confirmar{% endtrans %}</a>
                    <a id="btn_cancelar_tutoria" class="btn btn-danger" href="" data-target="#cancelar_tutoria_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false">{% trans %}Cancelar{% endtrans %}</a>
                </div>  
                
            </div>

        </div>
    {% elseif tutoria and tutoria.activo == 1 and not seguimiento.fechaTerminada %}
        <div id="panel_tutoria" class="panel panel-default col-xs-12 col-sm-10  center-block no-padding">
            <div class=" panel-heading text-center"><strong class="text-success">{% trans %}Tutoría asignada{% endtrans %}:</strong></div>
            <div class="panel-body ">
                <div>
                    <label>{% trans %}Día{% endtrans %}:</label><span>{{ tutoria.fecha | localizeddate('full', 'none', app.request.getLocale()) | capitalize}}</span>       
                 </div>  
                <div>
                    <label>{% trans %}Hora{% endtrans %}:</label><span>{{ tutoria.hora | localizeddate('none', 'short', app.request.getLocale()) | capitalize}}</span>       
                </div> 
                <div>
                    <label>{% trans %}Responsable{% endtrans %}:</label><span>{{tutoria.responsable}}</span>       
                </div>                  
            </div>

        </div>
    {% endif %}
    <div id="contenedor_seguimientos" class="col-xs-12">
        <div id="{{seguimiento.id}}" class="consulta_seguimiento">
            <div class="header col-xs-12 clearfix no-padding">
                <div class="pull-right fecha hidden-xs">
                    <p>{{ seguimiento.fecha | localizeddate('full', 'none', app.request.getLocale()) | capitalize}}</p>
                </div>
                <div>
                    {% if seguimiento.profesor.sexo == "Masculino" %}
                        <label for="">{% trans %}Tutor{% endtrans %}:</label>
                    {% else %}
                        <label for="">{% trans %}Tutora{% endtrans %}:</label>
                    {% endif %}
                    <span>{{seguimiento.profesor}}</span>
                </div>
                <div class="hidden-sm hidden-md hidden-lg">
                    <label for="">{% trans %}Fecha{% endtrans %}: </label>
                    <span>{{ seguimiento.fecha | localizeddate('full', 'none', app.request.getLocale()) | capitalize}}</span>
                </div>
            </div>  
            <div class="body clearfix">
                <div class=" label_descripcion col-xs-12 col-sm-offset-2 col-sm-8">
                {% if seguimiento.tipoUser == 1 %}
                    <p class="text-center hidden-xs">
                        <span>{% trans %}Consulta de{% endtrans %}:</span>
                        <span>{{seguimiento.profesor}}</span>
                    </p>
                    <p class=" hidden-sm hidden-md hidden-lg">
                        <span>{% trans %}Consulta de{% endtrans %}:</span>
                        <span>{{seguimiento.profesor}}</span>
                    </p>  
                {% else %}
                    <p class="text-center hidden-xs">
                        <span>{% trans %}Consulta de{% endtrans %}:</span>
                        <span>{{seguimiento.responsable}}</span>
                    </p>
                    <p class=" hidden-sm hidden-md hidden-lg">
                        <span>{% trans %}Consulta de{% endtrans %}:</span>
                        <span>{{seguimiento.responsable}}</span>
                    </p>
                {% endif %}
                </div>
                <div class="col-xs-12">
                    <p class="descripcion">{{seguimiento.descripcion|nl2br}}</p>
                </div>  
            </div>
            {% for seguimiento in respuestas %}
                <div class="respuesta">
                    <header class="hidden-xs">
                    {% if seguimiento.fechaActualizada %}
                        {% if seguimiento.tipoUser == 1 %}
                            <i class="fa fa-share color_rojo"></i>
                        {% else %}
                            <i class="fa fa-reply color_verde"></i>
                        {% endif %}

                        {% trans %}Comentario de{% endtrans %}: 
                         
                        {% if seguimiento.tipoUser == 0 %}
                            <span class="c_naranja">{{seguimiento.responsable}}</span> 
                        {% else %}
                            <span class="c_naranja">{{seguimiento.profesor}}</span> 
                        {% endif %} 

                    {% else %}
                        <i class="fa  fa-exclamation-circle c_azul"></i>
                        {{seguimiento.descripcion|nl2br}}
                    {% endif %}
                        <span class="pull-right fecha">{{ seguimiento.fecha | localizeddate('short', 'short', app.request.getLocale())}} </span>
                    </header>
                    <header class="hidden-sm hidden-md hidden-lg">
                        <p><span class="fecha">{{ seguimiento.fecha | localizeddate('short','short', app.request.getLocale())}} </span></p>
                        {% if seguimiento.fechaActualizada %}
                            {% if seguimiento.tipoUser == 1 %}
                                <i class="fa fa-share color_rojo pull-left"></i>
                            {% else %}
                                <i class="fa fa-reply color_verde pull-left"></i>
                            {% endif %} 
                            <p>{% trans %}Comentario de{% endtrans %}:  </p>         
                            {% if seguimiento.tipoUser == 0 %}
                                <span class="c_naranja">{{seguimiento.responsable}}</span> 
                            {% else %}
                                <span class="c_naranja">{{seguimiento.profesor}}</span> 
                            {% endif %} 
                        {% else %}
                            <i class="fa  fa-exclamation-circle c_azul"></i>
                            {{seguimiento.descripcion|nl2br}}
                        {% endif %}
                    </header>
                    {% if seguimiento.fechaActualizada %}
                        <div>
                            <p class="descripcion">{{seguimiento.descripcion|nl2br}}</p>
                        </div> 
                    {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
        {% if not seguimiento.fechaTerminada %}
            <a id="btn_responder" class="btn_responder btn btn_azul" data-target="#responder_seguimiento_modal" data-toggle="modal" data-backdrop="static" data-keyboard="false">{% trans %}Responder{% endtrans %}</a>
        {% endif %}
        <div class="col-xs-3 col-sm-3 visible-xs visible-sm botonsubir">
            <a class="go-top btn btn-default  hidden" href="#">
                <i class="fa fa-arrow-up"></i>{% trans %}Subir{% endtrans %}
            </a>
        </div>
    <!-- Ventana modal de respuesta del seguimiento -->
    <div id="responder_seguimiento_modal" class="ediccion_seguimiento_modal modal fade aviso" role="dialog" data-backdrop="true" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{% trans %}Respuesta del Seguimiento{% endtrans %}</h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

    <!-- Ventana modal de cancelación de asignación de tutoría -->
  <div id="cancelar_tutoria_modal" class="modal fade-scale aviso ediccion_seguimiento_modal"  tabindex="-1" role="dialog" data-backdrop="true" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans %}Cancelación de la petición de tutoría{% endtrans %}</h4>
        </div>
        <div class="modal-body">
            <p>{% trans %}Estas apunto de cancelar la asignación de tutoría que tienes pendiente{% endtrans %}.</p>
            <p>{% trans %}¿Estas seguro de continuar?{% endtrans %}</p>
            <div class="class-footer">
                <button class="btn btn_azul" type="button" data-dismiss="modal" >{% trans %}Cancelar{% endtrans %}</button>
                {% if tutoria %}
                    <a  class="btn btn-danger" href="{{ path('cancelar_tutoria', { 'id': entity.id, 'num': tutoria.id }) }}">{% trans %}Eliminar{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
    </div>
  </div>
{% endblock %}